<div class="box">

    <div *ngIf="item.header" class="box-header">
        <div class="p-3 bg-secondary text-white">
            <b>{{item.name}}</b>
        </div>
    </div>

    <div *ngIf="item.description" class="box-header">
        <div class="m-1">
            <markdown [data]="item.description"></markdown>
        </div>
    </div>

    <dexih-message #DexihMessage></dexih-message>

    <div class="box-content">
        <preview-data [hubKey]="hubKey" [parentParameters]="parentParameters"
            [objectType]="eDataObjectType.DashboardItem" [objectKey]="item.key" [showToolbar]="true"
            (onMaximize)="maximize($event)"></preview-data>
    </div>
</div>