<div class="container-fluid">
    <dexih-message #DexihMessage></dexih-message>

    <dexih-widget [title]="'Preview ' + name" iconClass="fa fa-lg fa-fw fa-table" [showCloseButton]="true"
        (close)="close()">

        <ng-template #header>
            <dexih-button-refresh (click)="refresh()" text="Reload"></dexih-button-refresh>
            <dexih-button-edit class="ml-1"  (click)="edit()"></dexih-button-edit>
        </ng-template>

        <div *ngIf="parameters" class="m-3">
            <input-parameters-view [hubKey]="hubKey" [objectType]="eDataObjectType.Dashboard" [objectKey]="dashboardKey" [parameters]="parameters" [refreshEvent]="refreshDataSubject.asObservable()" (onRefreshData)="refresh()" (onChange)="parameterChange()"></input-parameters-view>
        </div>
        
        <div>
            <div style="height:800px">
                <ng-template [ngIf]="dashboard">
                    <gridster [options]="options" #gridster>
                        <gridster-item [item]="{x: item.x, y: item.y, cols: item.cols, rows: item.rows, control: item}"
                            *ngFor="let item of dashboard.dexihDashboardItems; let i = index;" 
                            [ngClass]="{'maximize': i === maximizedIndex}" [hidden]="maximizedIndex >= 0 && i !== maximizedIndex">
                            <preview-dashboard-item [hubKey]="hubKey" [item]="item" [parentParameters]="parameters" (onMaximize)="maximize($event, i)" >
                            </preview-dashboard-item>
                        </gridster-item>
                    </gridster>
                </ng-template>
            </div>
        </div>
    </dexih-widget>
</div>