<div class="container-fluid">
    <d-widget title="Notifications" 
        iconClass="fa fa-lg fa-fw fa-exchange" 
		[showCloseButton]="true"
		(close)="close()"

    >

		<d-table 
			[enableMultiSelect]="true"
			[enableStickyToolbar]="true"  [toolbarZIndex]="100"
			[columns]="columns"
			[data]="notifications"
			(rowClick)="showMessage($event)"
			>
				<ng-template #selectedItemAction select="selectedItemAction" let-task="item">
					<d-button-view (click)="showMessage(task)"></d-button-view>
				</ng-template>
				
		</d-table>
    </d-widget>
</div>


