<d-tabs title="Edit Table Properties" [showExpandButton]="true">
<d-tab title='Properties' >
        <form *ngIf="mainForm" [formGroup]="mainForm" class="container">
            <fieldset>
                <div class="form-row">
                    <section class="form-group col-md-4">
                        <form-select label="Connection" formControlName="connectionKey" [items]="connections" itemKey="key" itemName="name"
                            [errors]="formsService.formErrors.connectionKey" iconClass="fa fa-database" note='The connection for this table.'>
                            <connection-edit-button [key]="mainForm.controls.connectionKey.value"></connection-edit-button>
                        </form-select>
                    </section>

                    <section class="form-group col-md-4">
                        <form-input [label]="entityType + ' Name'" formControlName="name" placeholder="Enter the physical name." iconClass="fa fa-list"
                            [errors]="formsService.formErrors.name" note="The physical name of the underlying entity">
                        </form-input>
                    </section>

                    <section class="form-group col-md-4" *ngIf="connectionReference?.connectionCategory == eConnectionCategory.SqlDatabase">
                        <form-input [label]="entityType + ' Schema'" formControlName="schema" placeholder="Enter the (database) schema name" iconClass="fa fa-list"
                            [errors]="formsService.formErrors.schema" note="The physical name of the database schema (if applicable).">
                        </form-input>
                    </section>
                </div>
                
                <section>
                    <form-checkbox label="Specify a different logical name" formControlName="useLogical">
                    </form-checkbox>
                </section>

                <section *ngIf="mainForm.value.useLogical">
                    <form-input label="Logical Name" formControlName="logicalName" placeholder="Enter the logical name." iconClass="fa fa-list"
                        [errors]="formsService.formErrors.logicalName" note="The logical name is a short term to represent the table">
                    </form-input>
                </section>

                <section>
                    <form-textarea label="Description" formControlName="description" [showPreview]="true" [isHidden]="true" placeholder="Enter the description."
                        [errors]="formsService.formErrors.description">
                    </form-textarea>
                </section>

                <div *ngIf="connection?.purpose == eConnectionPurpose.Managed" class="form-row">
                    <section class="form-group col-md-6">
                        <form-input label="Reject Table Name" formControlName="rejectedTableName" placeholder="Enter the rejected table name." iconClass="fa fa-list"
                            [errors]="formsService.formErrors.rejectedTableName" note="The name of the table to send any records that could not be written to the primary table.">
                        </form-input>
                    </section>
                </div>

                <section *ngIf="connectionReference?.connectionCategory == eConnectionCategory.SqlDatabase">
                    <form-select label="Table Type" formControlName="tableType" [errors]="formsService.formErrors.tableType" [items]="eTableTypeItems" itemKey="key" itemName="name">
                    </form-select>
                </section>

                <section *ngIf="mainForm.controls.tableType.value === eTableType.Query">
                    <form-textarea label="Specify the sql query" rows="15" formControlName="queryString" [hideToggle]="true" placeholder="Sql Query"
                        [showPreview]="false">
                        <a *ngIf="runningSql == false" href="javascript:void(0)" (click)="test()"> (
                            <i class="fa fa-check-circle-o"></i> Test) </a>
                        <a *ngIf="runningSql == false" href="javascript:void(0)" (click)="reloadColumns()"> (
                            <i class="fa fa-refresh"></i> Reload Columns) </a>
                        <span *ngIf="runningSql == true">
                            <i class="fa fa-spin fa-refresh"></i> (Busy... please wait) </span>
                        <dexih-message [message]="sqlMessage"></dexih-message>
                    </form-textarea>
                </section>

                <section *ngIf="connectionReference?.connectionCategory == eConnectionCategory.Hub">
                    <form-input label="Source Connection Name" formControlName="sourceConnectionName" placeholder="Name of the source connection."
                        iconClass="fa fa-list" note="The name of the connection for this table in the source hub.">
                    </form-input>
                </section>

                <section>
                    <form-checkbox label="Table is shared in the catalog to users with read access." formControlName="isShared">
                    </form-checkbox>
                </section>

            </fieldset>
        </form>
</d-tab>
 
<d-tab title='Indexes' *ngIf="mainForm">
    <div class="container form-row w-100 mb-3" *ngFor="let index of mainForm.controls.dexihTableIndexes.controls; let i = index;">
        <form [formGroup]="index" class="form-row w-100">
            <div class="input-group">
                <form-input labelLeft="Name" formControlName="name" placeholder="Index Name" iconClass="fa fa-list" ></form-input>
                <div class="p-3">
                    <form *ngFor="let column of index.controls.columns.controls; let j = index" class="input-group" [formGroup]="column">
                        <div class="form-control p-0">
                            <form-select labelLeft="Column" [border]="false" formControlName="columnKey" [items]="mainForm.controls.dexihTableColumns.value" itemKey="key" itemName="name" ></form-select>
                        </div>
                        <div class="form-control p-0">
                            <form-select labelLeft="Direction" [border]="false" formControlName="direction" [items]="eSortDirectionItems" itemKey="key" itemName="name"></form-select>
                        </div>
                        <div class="input-group-append flex-shrink-1">
                            <button class="btn btn-light" type="button" (click)="addColumn(index, j)" value="Add">
                                <i class="fa fa-plus-square-o"></i>
                            </button>
                            <button class="btn btn-light" type="button" (click)="removeColumn(index, j)" value="Remove">
                                <i class="fa fa-minus-square-o"></i>
                            </button>
                        </div>
                    </form>
                    <div class="input-group-append flex-shrink-1 ml-1 ">
                        <d-button iconClass="fa fa-plus-square-o" (click)="addColumn(index, 0)">Add Column</d-button>
                        <d-button-delete (click)="removeIndex(index)"></d-button-delete>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <d-button iconClass="fa fa-plus-square-o" (click)="addIndex(mainForm.controls.dexihTableIndexes.controls.length)" [autoCompact]="false">Add Index</d-button>
</d-tab>

 <d-tab *ngIf="connectionReference?.connectionCategory == eConnectionCategory.WebService" title="Web Service Properties">
    <dexih-table-edit-rest [formService]='formsService' [connection]='connection'></dexih-table-edit-rest>
</d-tab>

<d-tab *ngIf="connection && ( connectionReference?.connectionCategory == eConnectionCategory.File || connection?.purpose !== eConnectionPurpose.Source )" title="File Properties">
    <dexih-table-edit-file [formService]='formsService' [connection]='connection' [isFile]='connectionReference?.connectionCategory == eConnectionCategory.File'></dexih-table-edit-file>
</d-tab>
</d-tabs>