<div class="container-fluid">
	<dexih-widget *ngIf="task" [title]="'Task - ' + task?.name" iconClass="fa fa-lg fa-fw fa-trophy" [showCloseButton]="true" (close)="close()">
		<div class="content" [ngSwitch]="view">
			<ul class="list-group">
				<li class="list-group-item list-group-item-danger" *ngIf="task?.status == eManagedTaskStatus.Error">
					<h5>Error encountered!</h5>
					<h6>{{task.message}}
					<div class="float-right">
						<dexih-button *ngIf="task.exceptionDetails" (click)='exceptionHidden = !exceptionHidden'>Toggle Details</dexih-button>
					</div>
					</h6>
					<div>
					<pre *ngIf="!exceptionHidden && task.exceptionDetails" >{{task.exceptionDetails}}</pre>
					</div>
				</li>
				<li class="list-group-item list-group-item-info">
					<h5>Details</h5>
				</li>
				<li class="list-group-item ">
					<div class="container">
						<div class="row rounded text-white bg-secondary">
							<div class="col border border-white">Status</div>
							<div class="col border border-white">{{eManagedTaskStatus[task.status]}}</div>
							<div class="w-100"></div>                    
							<div class="col border border-white">Last Updated</div>
							<div class="col border border-white">{{task.lastUpdate | date : 'long'}}</div>
							<div class="w-100"></div>
							<div class="col border border-white">Name</div>
							<div class="col border border-white">{{task.name }}</div>
							<div class="w-100"></div>
							<div class="col border border-white">Category</div>
							<div class="col border border-white">{{task.category }}</div>
							<div class="w-100"></div>
							<div class="col border border-white">Description</div>
							<div class="col border border-white">{{task.description }}</div>
							<div class="w-100"></div>
						</div>
						<h6 *ngIf="task.category === 'Datalink'">
							<dexih-button-view [routerLink]="['/hub', task.referenceKey, 'summary', 'datalinks', 'result-view', task.data.auditConnectionKey, task.data.auditKey]" text="Datalink Result"></dexih-button-view>
						</h6>
						<h6 *ngIf="task.category === 'Datajob'">
							<dexih-button-view [routerLink]="['/hub', task.referenceKey, 'summary', 'datalinks', 'result-view', task.data.auditConnectionKey, task.data.auditKey]" text="Datajob Result"></dexih-button-view>
						</h6>
					</div>
				</li>
			</ul>
		</div>
	</dexih-widget>
</div>