
<dexih-widget-section title="Properties" [showExpandButton]="true" >
<form *ngIf="datalinkTransformForm"  [formGroup]="datalinkTransformForm">
        <fieldset>
            <section>
                <form-input label="Transform Name" formControlName="name" placeholder="Enter a name for the transform" [autocapitalize]="true" iconClass="fa fa-list"
                    [errors]="formErrors.name">
                </form-input>
            </section>
            <section>
                <form-textarea  label="Description" formControlName="description" placeholder="Enter the description."
                    [errors]="formErrors.description">
                </form-textarea>
            </section>
            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Aggregate || this.datalinkTransformForm.value.transformType == eTransformType.Series || this.datalinkTransformForm.value.transformType == eTransformType.Rows || this.datalinkTransformForm.value.transformType == eTransformType.Mapping">
                <section>
                    <form-checkbox label="Allow unmapped input columns to pass through to the next transform." formControlName="passThroughColumns">
                    </form-checkbox>
                </section>
            </div>
            
            <section *ngIf="nodes?.length > 0">
                <form-select label="Node level" formControlName="nodeDatalinkColumn" [items]="nodes" itemName="name" node='Specify the node where the transform should be applied to.' [allowNullSelect]="true" selectNullMessage='Use top level'>
                </form-select>
            </section>

            <div class="form-row">
                <section class="form-group col-md-6">
                    <form-input type="number" formControlName="maxInputRows" label="Maximum number of rows to input into the transform (0 = unlimited)"></form-input>
                </section>
                <section class="form-group col-md-6">
                    <form-input type="number" formControlName="maxOutputRows" label="Maximum number of rows to output into the transform (0 = unlimited)"></form-input>
                </section>
            </div>
        </fieldset>
    </form>
</dexih-widget-section>

<dexih-widget-section *ngIf="datalinkTransformForm && (this.datalinkTransformForm.value.transformType == eTransformType.Join || this.datalinkTransformForm.value.transformType == eTransformType.Lookup)" title="Join Settings" [showExpandButton]="true">
    <form [formGroup]="datalinkTransformForm">
        <fieldset>
            <datalink-table [datalinkTableForm]="datalinkTransformForm.controls.joinDatalinkTable"></datalink-table>
                
            <section>
                <form-select [label]="'Strategy when ' + this.datalinkTransformForm.value.transformType + ' produces duplicate matches'" formControlName="joinDuplicateStrategy" [items]="duplicateStrategies"
                    itemKey="key" itemName="name">
                </form-select>
            </section>
        </fieldset>
    </form>
</dexih-widget-section>

<dexih-widget-section *ngIf="datalinkTransformForm && this.datalinkTransformForm.value.transformType == eTransformType.Concatenate" title="Concatenate Settings" [showExpandButton]="true">
    <form [formGroup]="datalinkTransformForm">
        <fieldset>
            <datalink-table [datalinkTableForm]="datalinkTransformForm.controls.joinDatalinkTable"></datalink-table>
        </fieldset>
    </form>
</dexih-widget-section>

<dexih-widget-section *ngIf="datalinkTransformForm && this.datalinkTransformForm.value.transformType == eTransformType.Series" title="Series Settings" [showExpandButton]="true">
    <form [formGroup]="seriesForm">
        <fieldset>
            <div class="form-row">
                <section class="form-group col-md-6">
                    <form-select label="Series Grain" formControlName="seriesGrain" [items]="seriesGrains" itemKey="key" itemName="name">
                    </form-select>
                </section>
                <section class="form-group col-md-6">
                    <form-select label="Input Column" formControlName="sourceDatalinkColumn" [items]="inputColumns" [(textValue)]="sourceValue"
                        itemName="name" [errors]="sourceErrors">
                    </form-select>
                </section>
            </div>

            <form-checkbox label="Fill empty series values" formControlName="seriesFill"></form-checkbox>

            <div class="form-row" *ngIf="seriesForm.controls.seriesFill.value">
                <section class="form-group col-md-6">
                    <form-input type="date" formControlName="seriesStart" label="Series Start Date (empty to use first value)"></form-input>
                </section>
                <section class="form-group col-md-6">
                    <form-input type="date" formControlName="seriesFinish" label="Series Finish Date (empty to use first value)"></form-input>
                </section>
            </div>
        </fieldset>
    </form>
</dexih-widget-section>

<dexih-widget-section *ngIf="datalinkTransformForm && this.nodeType" title="Group Node" [showExpandButton]="true">
    <form>
        <fieldset>
            <form-checkbox label="Group rows under a node" [ngModelOptions]="{standalone: true}" [(ngModel)]="allowNode" (ngModelChange)="toggleNode($event)"></form-checkbox>
            <section *ngIf="allowNode" class="form-group col-md-6">
                <form-input [ngModelOptions]="{standalone: true}" [(ngModel)]="nodeName" (ngModelChange)="updateNode($event)" label="Name of the node"></form-input>
            </section>
        </fieldset>
    </form>
</dexih-widget-section>

<div class="list-group-item p-1">

<div *ngIf="datalinkTransformForm" class="d-flex" cdkDropListGroup>
        <dexih-widget class="d-none d-md-inline" title="Inputs" height="80vh" style="width:300px" [scrollable]="true">
            <input-columns [datalinkTransformForm]='datalinkTransformForm'></input-columns>

            <div class="mt-1"  *ngIf="datalinkTransformForm.controls.joinDatalinkTable.value">
                <join-columns [datalinkTransformForm]='datalinkTransformForm' (inputJoinDrop)="newDragDropJoin($event)"></join-columns>
            </div>
        </dexih-widget>

        <div class="w-100 mr-1 ml-1">
            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Join || this.datalinkTransformForm.value.transformType == eTransformType.Lookup">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowJoin]="true" title="{{this.datalinkTransformForm.value.transformType}} Table"  >
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Mapping">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowMapping]="true" [allowOutput]="true" title="Mapping Functions" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.ColumnPair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Sort">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowSort]="true" title="Sort Columns" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.Sort, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Group || this.datalinkTransformForm.value.transformType == eTransformType.Aggregate  || this.datalinkTransformForm.value.transformType == eTransformType.Series  || this.datalinkTransformForm.value.transformType == eTransformType.Rows">
                <mapping [datalinkTransformForm]="datalinkTransformForm" title="Group Columns"  [allowGroup]="true" [allowSeries]="this.datalinkTransformForm.value.transformType == eTransformType.Series"
                    (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.Column, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Group">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowOutput]="true" title="Aggregate Functions" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.AggregatePair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Series">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowSeries]="true" [allowOutput]="true" title="Series/Aggregate Functions" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.AggregatePair, $event)">
                </mapping>

                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowMapping]="true" [allowOutput]="true" title="Mappings" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.ColumnPair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Aggregate">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowOutput]="true" title="Aggregate Functions" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.AggregatePair, $event)">
                </mapping>

                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowMapping]="true" [allowOutput]="true" title="Mappings" (onColumnDrop)="newDragDropMapping(eDatalinkTransformItemType.ColumnPair, $event)">
                </mapping>

            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Filter">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowCondition]="true" [allowOutput]="false" title="Filters" >
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Rows">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowRow]="true" [allowStandard]="true" [allowJoinNode]="true" [allowOutput]="true" title="Row Functions">
                </mapping>
            </div>
        </div>

        <dexih-widget class="d-none d-md-inline" [title]="'Outputs' + (datalinkTransformForm.controls.nodeDatalinkColumn?.value ? '(@' + datalinkTransformForm.controls.nodeDatalinkColumn.value.name + ')' : '')"  height="80vh" style="width:300px"  [scrollable]="true">
            <output-columns [datalinkTransformForm]='datalinkTransformForm' [allowMappingOutputs]="allowMappingOutputs" (inputOutputDrop)="newDragDropMapping(eDatalinkTransformItemType.ColumnPair, $event)"></output-columns>
            <target-columns [datalinkTransformForm]='datalinkTransformForm' [targets]="datalinkForm.controls.dexihDatalinkTargets.value" [allowMappingOutputs]="allowMappingOutputs" (inputOutputDrop)="newDragDropMapping(eDatalinkTransformItemType.ColumnPair, $event)"></target-columns>
        </dexih-widget>
    </div>
</div>