
<d-widget-section title="Properties" [showExpandButton]="true" [isExpanded]="false">
<form *ngIf="datalinkTransformForm"  [formGroup]="datalinkTransformForm" class="container">
        <fieldset>
            <section>
                <form-input label="Transform Name" formControlName="name" placeholder="Enter a name for the transform" [autocapitalize]="true" iconClass="fa fa-list"
                    [errors]="formErrors.name">
                </form-input>
            </section>
            <section>
                <form-textarea  label="Description" formControlName="description"  [isHidden]="true" [showPreview]="true" placeholder="Enter the description."
                    [errors]="formErrors.description">
                </form-textarea>
            </section>
            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Aggregate || this.datalinkTransformForm.value.transformType == eTransformType.Series || this.datalinkTransformForm.value.transformType == eTransformType.Rows || this.datalinkTransformForm.value.transformType == eTransformType.Mapping">
                <section>
                    <form-checkbox label="Allow unmapped input columns to pass through to the next transform." formControlName="passThroughColumns">
                    </form-checkbox>
                </section>
            </div>
            
            <section *ngIf="nodes?.length > 0">
                <form-select label="Node level" formControlName="nodeDatalinkColumn" [items]="nodes" [enableKeySelect]="false" itemKey="key" itemName="name" node='Specify the node where the transform should be applied to.' [allowNullSelect]="true" selectNullMessage='Use top level'>
                </form-select>
            </section>

            <div class="form-row" *ngIf="datalinkTransformForm.value.transformType === eTransformType.Aggregate || 
                datalinkTransformForm.value.transformType === eTransformType.Group || 
                datalinkTransformForm.value.transformType === eTransformType.Rows || 
                datalinkTransformForm.value.transformType === eTransformType.Series || 
                datalinkTransformForm.value.transformType === eTransformType.Sort ||
                datalinkTransformForm.value.transformType === eTransformType.Join ||
                datalinkTransformForm.value.transformType === eTransformType.Lookup">
                <section class="form-group col-md-6">
                    <form-checkbox label="Pre-Cache Data to Sql Database" formControlName="dataCache">
                    </form-checkbox>
                </section>
                <section *ngIf="datalinkTransformForm.controls.dataCache.value" class="form-group col-md-6">
                    <form-select label="Data Cache Connection" formControlName="dataCacheConnectionKey" [items]="this.managedConnections"
                    itemKey="key" itemName="name" iconClass="fa fa-database" 
                    note='Specify a Sql connection data can be cached to before processing the transform.  This can be used to improve memory usage and performance in some scenarios.'>
                </form-select>
                </section>
            </div>

            <div class="form-row">
                <section class="form-group col-md-6">
                    <form-input type="number" formControlName="maxInputRows" label="Maximum number of rows to input into the transform (0 = unlimited)"></form-input>
                </section>
                <section class="form-group col-md-6">
                    <form-input type="number" formControlName="maxOutputRows" label="Maximum number of rows to output into the transform (0 = unlimited)"></form-input>
                </section>
            </div>
        </fieldset>
    </form>
</d-widget-section>
<d-widget-section *ngIf="datalinkTransformForm && (this.datalinkTransformForm.value.transformType == eTransformType.Join || this.datalinkTransformForm.value.transformType == eTransformType.Lookup)" title="Join Settings" [showExpandButton]="true">
    <form [formGroup]="datalinkTransformForm"  class="container">
        <fieldset>
            <datalink-table [datalinkTableForm]="datalinkTransformForm.controls.joinDatalinkTable"></datalink-table>

            <div class="form-row">
                <section class="form-group col-md-4" *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Join">
                    <form-select label="Join strategy" formControlName="joinStrategy" [items]="eJoinStrategyItems"
                        itemKey="key" itemName="name">
                    </form-select>
                </section>

                <section class="form-group col-md-4">
                    <form-select [label]="'Strategy when ' + eTransformType[this.datalinkTransformForm.value.transformType] + ' produces duplicate matches'" formControlName="joinDuplicateStrategy" [items]="eDuplicateStrategyItems"
                        itemKey="key" itemName="name">
                    </form-select>
                </section>

                <section class="form-group col-md-4">
                    <form-select [label]="'Strategy when ' + eTransformType[this.datalinkTransformForm.value.transformType] + ' produces no match '" formControlName="joinNotFoundStrategy" [items]="eJoinNotFoundStrategyItems"
                        itemKey="key" itemName="description">
                    </form-select>
                </section>
            </div>
        </fieldset>
    </form>
</d-widget-section>

<d-widget-section *ngIf="datalinkTransformForm && this.datalinkTransformForm.value.transformType == eTransformType.Concatenate" title="Concatenate Settings" [showExpandButton]="true">
    <form [formGroup]="datalinkTransformForm"  class="container">
        <fieldset>
            <datalink-table [datalinkTableForm]="datalinkTransformForm.controls.joinDatalinkTable"></datalink-table>
        </fieldset>
    </form>
</d-widget-section>

<d-widget-section *ngIf="datalinkTransformForm && this.datalinkTransformForm.value.transformType == eTransformType.Series" title="Series Settings" [showExpandButton]="true">
    <form [formGroup]="seriesForm"  class="container">
        <fieldset>
            <div class="form-row">
                <section class="form-group col-md-4">
                    <form-select label="Series Grain" formControlName="seriesGrain" [items]="seriesGrains" itemKey="key" itemName="name">
                    </form-select>
                </section>
                <section class="form-group col-md-4">
                    <form-select formControlName="seriesStep" label="Interval for each step" [items]="variables"  [enableTextEntry]="true"></form-select>
                </section>
                <section class="form-group col-md-4">
                    <form-select label="Input Column" formControlName="sourceDatalinkColumn" [items]="inputColumns"
                    [enableKeySelect]="false" itemKey="key" itemName="name">
                    </form-select>
                </section>
            </div>

            <form-checkbox label="Fill empty series values" formControlName="seriesFill"></form-checkbox>

            <div class="form-row" *ngIf="seriesForm.controls.seriesFill.value">
                <section class="form-group col-md-4">
                    <form-select formControlName="seriesStart" label="Series Start (empty to use first value)" [items]="variables"  [enableTextEntry]="true"></form-select>
                </section>
                <section class="form-group col-md-4">
                    <form-select formControlName="seriesFinish" label="Series Finish (empty to use last value)" [items]="variables"  [enableTextEntry]="true"></form-select>
                </section>
                <section class="form-group col-md-4">
                    <form-select formControlName="seriesProject" label="Series Intervals to project beyond finish" [items]="variables"  [enableTextEntry]="true"></form-select>
                </section>
            </div>

        </fieldset>
    </form>
</d-widget-section>

<d-widget-section *ngIf="datalinkTransformForm && this.nodeType === eTransformItemType.GroupNode" title="Group Node" [showExpandButton]="true">
    <form  class="container">
        <fieldset>
            <form-checkbox label="Group rows under a node" [ngModelOptions]="{standalone: true}" [(ngModel)]="allowNode" (ngModelChange)="toggleNode($event)"></form-checkbox>
            <section *ngIf="allowNode" class="form-group col-md-6">
                <form-input [ngModelOptions]="{standalone: true}" [(ngModel)]="nodeName" (ngModelChange)="updateNode($event)" label="Name of the node"></form-input>
            </section>
        </fieldset>
    </form>
</d-widget-section>

<div class="list-group-item p-1">

<div *ngIf="datalinkTransformForm" class="d-flex justify-content-center" cdkDropListGroup>
        <d-widget class="d-none d-lg-inline" title="Inputs" height="80vh" style="width:300px" [scrollable]="true">
            <input-columns [datalinkTransformForm]='datalinkTransformForm'></input-columns>

            <div class="mt-1"  *ngIf="datalinkTransformForm.controls.joinDatalinkTable.value">
                <join-columns [datalinkTransformForm]='datalinkTransformForm' (inputJoinDrop)="newDragDropJoin($event)"></join-columns>
            </div>
        </d-widget>

        <d-widget class="container mr-1 ml-1" title="Transform Mappings">
            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Join || this.datalinkTransformForm.value.transformType == eTransformType.Lookup">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowJoin]="true" title="{{eTransformType[this.datalinkTransformForm.value.transformType]}} Table"  >
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Mapping">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowMapping]="true" [allowOutput]="true" title="Mapping Functions" (onColumnDrop)="newDragDropMapping(eTransformItemType.ColumnPair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Sort">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowSort]="true" title="Sort Columns" (onColumnDrop)="newDragDropMapping(eTransformItemType.Sort, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Group || this.datalinkTransformForm.value.transformType == eTransformType.Aggregate  || this.datalinkTransformForm.value.transformType == eTransformType.Series  || this.datalinkTransformForm.value.transformType == eTransformType.Rows">
                <mapping [datalinkTransformForm]="datalinkTransformForm" title="Group Columns"  [allowGroup]="true" [allowSeries]="this.datalinkTransformForm.value.transformType == eTransformType.Series"
                    (onColumnDrop)="newDragDropMapping(eTransformItemType.Column, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Group">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowOutput]="true" title="Aggregate Functions" (onColumnDrop)="newDragDropMapping(eTransformItemType.AggregatePair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Series">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowSeries]="true" [allowOutput]="true" title="Series/Aggregate Functions" (onColumnDrop)="newDragDropMapping(eTransformItemType.AggregatePair, $event)">
                </mapping>

                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowMapping]="true" [allowOutput]="true" title="Mappings" (onColumnDrop)="newDragDropMapping(eTransformItemType.ColumnPair, $event)">
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Aggregate">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowAggregate]="true" [allowOutput]="true" title="Aggregate Functions" (onColumnDrop)="newDragDropMapping(eTransformItemType.AggregatePair, $event)">
                </mapping>

                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowMapping]="true" [allowOutput]="true" title="Mappings" (onColumnDrop)="newDragDropMapping(eTransformItemType.ColumnPair, $event)">
                </mapping>

            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Filter">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowStandard]="true" [allowCondition]="true" [allowOutput]="false" title="Filters" >
                </mapping>
            </div>

            <div *ngIf="this.datalinkTransformForm.value.transformType == eTransformType.Rows">
                <mapping [datalinkTransformForm]="datalinkTransformForm" [allowRow]="true" [allowStandard]="true" [allowJoinNode]="false" [allowOutput]="true" [allowCondition]="true" title="Row Functions">
                </mapping>
            </div>
        </d-widget>

        <d-widget class="d-none d-lg-inline" [title]="'Outputs' + (datalinkTransformForm.controls.nodeDatalinkColumn?.value ? '(@' + datalinkTransformForm.controls.nodeDatalinkColumn.value.name + ')' : '')"  height="80vh" style="width:300px"  [scrollable]="true">
            <output-columns [datalinkTransformForm]='datalinkTransformForm' [allowMappingOutputs]="allowMappingOutputs" (inputOutputDrop)="newDragDropMapping(eTransformItemType.ColumnPair, $event)"></output-columns>
            <target-columns [datalinkTransformForm]='datalinkTransformForm' [targets]="datalinkForm.controls.dexihDatalinkTargets.value" [allowMappingOutputs]="allowMappingOutputs" (inputOutputDrop)="newDragDropMapping(eTransformItemType.ColumnPair, $event)"></target-columns>
        </d-widget>
    </div>
</div>