<div class="container">
    <dexih-widget title="Run Datalink Options" iconClass="fa fa-lg fa-fw fa-exchange"  [showCloseButton]="true" (close)="close()" [padding]="true">
            <ng-template #header>
                <dexih-button-refresh class="mr-1" (click)="runDatalinks()" text="Run Now"></dexih-button-refresh>
                <dexih-button-cancel (click)="cancel()"></dexih-button-cancel>
            </ng-template>

        <ng-template #subHeader>
            <label class="label">Run the following datalink(s):</label>
            <div class="d-flex flex-wrap">
                <div class="alert alert-primary m-1" *ngFor="let datalink of datalinks | fieldSort: 'name'">
                    {{datalink.name}}
                </div>
            </div>
        </ng-template>
            
		<form>
			<fieldset>
				<section>
					<div class="form-row">
						<section class="col">
							<form-checkbox label="Truncate all target tables before execution." [(ngModel)]="truncateTable" [ngModelOptions]="{standalone: true}"></form-checkbox>
						</section>
					</div>

                    <div class="form-row">
                        <section class="col">
                                <form-checkbox label="Reset the source incremental value, and load all source rows." [(ngModel)]="resetIncremental" [ngModelOptions]="{standalone: true}"></form-checkbox>
                            </section>
                        </div>

                    <div class="form-row">
                        <section class="col">
                            <form-input label="Incremental Value" [(ngModel)]="resetValue" [ngModelOptions]="{standalone: true}" placeholder="" iconClass="fa fa-list" note="Use a specific incremental value to start loading source rows from (leave empty for null value)" >
                                </form-input>
                        </section>
                    </div>
    
    
                    <div class="d-flex flex-wrap pt-1" *ngIf="inputColumns && inputColumns.length > 0" >
                        <div class="input-group-text">
                            Input Values
                        </div>
                
                        <span *ngFor="let column of inputColumns; let i = index" class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {{column.logicalName}}
                                </div>
                            </div>
                            <form-input name="column{{i}}" class="form-control p-0" [placeholder]="column.logicalName" [(ngModel)]="column.value"></form-input>
                        </span>
                    </div>

                    <div *ngIf="parameters && parameters.length > 0" >
                        <label class="label">Parameters:</label>
                        <input-parameters-view [parameters]="parameters"></input-parameters-view>
                    </div>
				</section>
			</fieldset>
		</form>

    </dexih-widget>
</div>