<div *ngIf="previousStatus?.writerResult?.auditKey" class="mb-1" style="width: 300px;">
    <d-progressbar  
    [showCancel]="false" 
    [value]="previousStatus.percentage"
    [type]="previousStatus.statusType" 
    [routerLink]="['result-view', previousStatus.writerResult?.auditConnectionKey, previousStatus.writerResult?.auditKey]" queryParamsHandling="merge"
    height="30px"
    title="Click to see execution details" >
        (Previous) {{previousStatus.message}}
    </d-progressbar>
</div>

<div *ngIf="currentStatus?.writerResult" class="mb-1" style="width: 300px;">
    <d-progressbar *ngIf="currentStatus.writerResult.runStatus == eRunStatus.Scheduled"  
        [showCancel]="true" 
        (cancelled)="cancelled()" 
        [value]="100" 
        [type]="currentStatus.statusType"
        height="30px" style="width: 300px;">
            <div [title]="'The job will run at ' + (currentStatus.writerResult.scheduledTime | calendar)">
                <i class="fa fa-clock-o"></i>&nbsp;{{currentStatus.writerResult.scheduledTime | calendar}} (in&nbsp;<countdown [end]="currentStatus.writerResult.scheduledTime" ></countdown>)     
            </div>
    </d-progressbar>    
</div>

<div *ngIf="currentStatus?.writerResult && currentStatus.writerResult.runStatus != eRunStatus.Scheduled"   style="width: 300px;">
    <d-progressbar 
        [showCancel]="showCancel" 
        (cancelled)="cancelled()" 
        (progressClick)="onProgressClick()"
        [routerLink]="['result-view', currentStatus.writerResult?.auditConnectionKey, currentStatus.writerResult?.auditKey]" queryParamsHandling="merge" 
        [value]="currentStatus.percentage" 
        [type]="currentStatus.statusType"
        height="30px" style="width: 300px;">
        {{currentStatus.message}}
    </d-progressbar>    
</div>
