<div [routerLink]="['agent-edit', remoteAgent.remoteAgentKey, remoteAgent.remoteAgentHubKey]" queryParamsHandling="merge">
    <h5>
        <i class="fa fa-circle mr-1" [ngClass]="{'text-success': isConnected, 'text-danger': !isConnected}"></i>
        <encryption-status-icon class="mr-1" [isEncrypted]="isEncrypted"></encryption-status-icon>
        {{name}} {{isSelected ? '(selected)' : ''}}
    </h5>
    <div class="note">{{isAuthorized ? 'Authorized' : 'Not Authorized'}} / Last Login: {{isConnected ? 'Current' : ( lastLoginDateTime | calendar ) }} </div>
</div>