<section *ngIf="hubCache?.hub && (!fileConnections || fileConnections.length === 0)">
    <div class="alert alert-danger m-3">
        There are no files configured.  Create a file based connection, and add at least one file definition.
        <hr>
        <div>
            <a class="btn btn-sm btn-primary text-white" routerLink="/hub/{{hubCache.hub.hubKey}}/connections/connection-new/Source" [title]="">New Connection</a>
        </div>
    </div>
</section>

<div *ngIf="fileConnections && fileConnections.length > 0" class="container">
    <dexih-widget *ngIf="!currentTable" [title]="'Bulk load files for: ' + connection?.name" iconClass="fa fa-lg fa-fw fa-files-o" [showCloseButton]="true" (close)="close()">
        <ng-template #header>
            <a class="btn btn-sm btn-primary mr-1" routerLink="/hub/{{hubCache.hub.hubKey}}/connections/connection-new/Source" [title]="">New Connection</a>
        </ng-template>

        <div class="m-3">
            <section>
                <form-select label="File Connection" [(ngModel)]="connectionKey" [items]="fileConnections" itemKey="key"
                    itemName="name" iconClass="fa fa-database" note='The connection to use.'>
                </form-select>
            </section>

            <div class="form-row">
                <section class="col-md-6">
                    <form-select label="Format Type" [(ngModel)]="formatType" [items]="formatTypes" itemKey="key"
                        itemName="name" iconClass="fa fa-text" note='The format of data.'>
                    </form-select>
                </section>

                <section class="col-md-6" *ngIf="formatType == eTypeCode.Text">
                    <form-select label="File Format" [(ngModel)]="fileFormatKey" placeholder="File Format"
                        [items]="hubCache.hub.dexihFileFormats" itemKey="key" itemName="name" [enableFilter]="false"
                        note="Specify the file format to use, if not specified, a csv (command separated) format will be used."
                        [allowNullSelect]="true" selectNullMessage="Use default (csv) format">
                        <a routerLink="/hub/{{hubCache.hub.hubKey}}/fileFormats/fileFormat-new">(<i class="fa fa-sticky-note-o"></i> Create New Format )</a>
                    </form-select>
                </section>
            </div>
        </div>

        <ul *ngIf="connection" class="list-group">
            <dexih-widget-section title='Drop Files to Load' [showExpandButton]="true">
                <div class="well my-drop-zone" dropZone [requireFiles]="true" (dropFiles)="filesDrop($event)" dropAllowedClass="nv-file-over">
                    Drop Files to Load Here
                    <div class="custom-file w-25 float-right">
                        <input type="file" class="custom-file-input" onclick="this.value=null" (change)="uploadFile($event)">
                        <label class="custom-file-label" for="inputGroupFile01">Choose files</label>
                    </div>
                </div>
            </dexih-widget-section>

            <dexih-widget-section title='Upload Queues' [showExpandButton]="true" [padding]="false">
                <dexih-table [enableMultiSelect]="true" [columns]="uploadColumns" [data]="uploadedFiles">

                    <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                        <dexih-button class="mr-1" iconClass="fa fa-upload" buttonClass='btn-primary' (click)="uploadSelected(items)">Upload</dexih-button>
                        <dexih-button-cancel class="mr-1" (click)="cancelSelected(items)"></dexih-button-cancel>
                        <dexih-button-delete (click)="removeSelected(items)" text="Remove"></dexih-button-delete>
                    </ng-template>

                    <ng-template #actions let-items="items">
                        <form-checkbox [(ngModel)]="automaticUpload" label="Automatically upload files when added to the queue."></form-checkbox>
                    </ng-template>

                    <ng-template #rowStatus select="rowStatus" let-item="item">
                        <div *ngIf="item.isRunning()" class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                        <span>
                            <i class='fa' [ngClass]="{
                                'fa-check': item.status === eFileStatus.Complete, 
                                'fa-exclamation-circle': item.status === eFileStatus.Error,
                                'fa-ban': item.status === eFileStatus.Cancelled}"></i>{{item.status}}</span>
                    </ng-template>
                </dexih-table>            
            </dexih-widget-section>
    
            <dexih-widget-section title='Tables Created' [showExpandButton]="true" [padding]="false">
                <dexih-table [enableMultiSelect]="true" [columns]="tableColumns" [data]="tables" (rowClick)="editTable($event)">

                    <ng-template select="selectedItemsAction" #selectedItemsAction let-items="items">
                        <dexih-button class="ml-1" (click)="saveTables(items)" iconClass="fa fa-table" title="Save the selected tables.">Create Tables</dexih-button>
                        <dexih-button class="ml-1" (click)="createDatalinks(items)" iconClass="fa fa-exchange" title="Save the selected tables, and create datalinks to load them into a staging area.">Create Datalinks</dexih-button>
                        <dexih-button-delete class="ml-1"  (click)="discardTables(items)" title="Discard the selected tables." text="Discard"></dexih-button-delete>
                    </ng-template>
    
                </dexih-table>
            </dexih-widget-section>
        </ul>
    </dexih-widget>

    <dexih-widget *ngIf="currentTable" [title]="'Edit table: ' + formsService.currentForm.controls.name.value" [showCloseButton]="true" (close)="closeTable()">
        <ng-template #header>
            <a class="btn btn-sm btn-primary mr-1" (click)="applyChanges()">Apply Changes</a>
            <a class="btn btn-sm btn-danger mr-1" (click)="cancel()">Cancel</a>
        </ng-template>
        <router-outlet></router-outlet>
    </dexih-widget>
</div>