
    <div *ngIf="datalinkTransformForm" class="card" cdkDropList #cdkDropList="cdkDropList" >
        <span *ngFor="let table of inputTables; let tableIndex = index">
        <span *ngIf="table.dexihDatalinkColumns.length > 0">
            <div class="card-header" dragZone>
                <div class="ellipsis-overflow">
                    {{table.name}}
                </div>
            </div>
            <div class="list-group">
                <input-column *ngFor="let column of table.dexihDatalinkColumns | fieldSort : 'position' | isValidFilter " 
                [datalinkTransformForm]='datalinkTransformForm' [column]='column'>
                </input-column>
            </div>
        </span>
        </span>
        <div *ngFor="let columnGroup of columnGroups">
            <div class="card-header" dragZone>
                <div class="ellipsis-overflow">
                    {{columnGroup.group}}
                </div>
            </div>
            <div *ngFor="let column of columnGroup.columns | fieldSort : 'position' | isValidFilter; let i = index">
                <input-column [datalinkTransformForm]='datalinkTransformForm' [column]='column'  >
                </input-column>
            </div>
        </div>
    </div>
