<div class="list-group-item p-0 rounded-0" dragZone zone="input-column" [data]="column" zone="input-column" >
    <div class="d-flex flex-row">
        <i class="input-group-text rounded-0  border-0 border-r1" [ngClass]="mappingStatusInfoLineage.statusClass" [title]="mappingStatusInfoLineage.name"></i>

        <a class="flex-fill input-group-text ellipsis-overflow rounded-0 border-0" style="overflow:hidden; text-overflow :ellipsis;" 
         [title]="column.logicalName + ' ' + eTypeCode[column.dataType]" >
            {{column.logicalName}}
        </a>
        <i class="input-group-text rounded-0  border-0 border-l1" [ngClass]="mappingStatusInfoImpact.statusClass" [title]="mappingStatusInfoImpact.name"></i>
    </div>
</div>
<div *ngIf="childColumns?.length > 0" class="p-2">
    <input-column *ngFor="let childColumn of childColumns" [column]="childColumn" [datalinkTransformForm]="datalinkTransformForm"></input-column>
</div>