<div id="content">
    <section *ngIf="!hubCache || (hubCache.status != eCacheStatus.Loaded && hubCache.status != eCacheStatus.Error)">
        <div *ngIf="!showIf" class="dexih-loader-container">
            <div class="dexih-loader"></div>
            <div class="dexih-loader-text">Loading the hub ...</div>
        </div>
    </section>

    <div *ngIf="hubCache && hubCache.status == eCacheStatus.Loaded">
        <section *ngIf="hubCache.hubPermission === ePermission.FullReader">
            <div class="alert alert-info m-3">
                The current user has readonly access to this hub.
            </div>
        </section>

        <section *ngIf="hubCache.hubPermission === ePermission.PublishReader">
            <div class="alert alert-info m-3">
                The current user only has access to shared items in this hub.
            </div>
        </section>
    
        <section *ngIf="openDelay && webSocketStatus != 'Connected'">
            <div class="alert alert-danger m-3">
                {{webSocketStatus}}.
            </div>
        </section>
        
        <section *ngIf="hubCache && hubCache.status == eCacheStatus.Error">
            <div class="alert alert-danger m-3">
                There was an error encountered when loading the hub.
            </div>
        </section>

        <div class="m-3">
            <!-- <dexih-message #DexihMessage></dexih-message> -->
        </div>


        <div *ngIf="hubCache && hubCache.status == eCacheStatus.Loaded">
            <section *ngIf="!(openDelay && webSocketStatus != 'Connected') && !remoteAgent">
                <div class="alert alert-danger m-3">
                    Warning: There is no remote agent connected.  A remote agent is required for any data access and processing.
                    <hr>
                    <dexih-button buttonClass="btn btn-sm btn-primary text-white" iconClass="fa fa-wrench" routerLink="/hub/{{hubCache.hub.hubKey}}/summary/agents" text="Configure Agent"></dexih-button>
                    <dexih-button-refresh class="ml-1" buttonClass="btn btn-sm btn-primary text-white" (click)="refresh()"></dexih-button-refresh>
                </div>
            </section>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>

