<auth-header [showSignIn]="true"></auth-header>

<div class="login-container">
  <div class="card">
    <form *ngIf="formsService.currentForm" [formGroup]="formsService.currentForm" >
      <div *ngIf="loginType == eLoginProvider.Dexih" class="card-header">
        Register using a User Name and Password
      </div>
      <div *ngIf="loginType == eLoginProvider.Google" class="card-header">
        Register using Google Credentials
      </div>
      <div *ngIf="loginType == eLoginProvider.Microsoft" class="card-header">
        Register using Microsoft Credentials
      </div>
      <div class="card-body">

        <fieldset>

          <section>
            <form-input label="User Name" formControlName="userName" placeholder="User Name" note="The user name that can be seen by other users." iconClass="fa fa-user-o" [errors]="formsService.formErrors.userName">
          </form-input>
          </section>

          <section>
            <form-input label="Email Address" formControlName="email" placeholder="Email address" iconClass="fa fa-envelope" [errors]="formsService.formErrors.email">
              <button *ngIf="loginType == eLoginProvider.Google" (click)="googleLogin(true)" class="btn btn-link">
                (<i class="fa fa-google"></i> Change User)
              </button>
    
              <button *ngIf="loginType == eLoginProvider.Microsoft" (click)="microsoftLogin(true)" class="btn btn-link">
                (<i class="fa fa-windows"></i> - Change User)
              </button>

            </form-input>
          </section>

          <section *ngIf="loginType == eLoginProvider.Dexih">
            <form-input label="Password" formControlName="password" type="password" placeholder="Password" iconClass="fa fa-lock" [errors]="formsService.formErrors.password">
            </form-input>
          </section>

          <section>
            <form-input *ngIf="loginType == eLoginProvider.Dexih" label="Confirm Password" formControlName="passwordConfirm" type="password" placeholder="Confirm Password"
              iconClass="fa fa-lock" [errors]="formsService.formErrors.passwordConfirm">
            </form-input>
          </section>
        </fieldset>

        <fieldset>
          <div class="form-row">
            <section class="form-group col-md-6">
              <form-input label="First name" formControlName="firstName" placeholder="First name" [errors]="formsService.formErrors.firstName" [autocapitalize]="true">
              </form-input>
            </section>
            <section class="form-group col-md-6">
              <form-input label="Last name" formControlName="lastName" placeholder="Last name" [errors]="formsService.formErrors.lastName" [autocapitalize]="true">
              </form-input>
            </section>
          </div>

          <section>
            <form-checkbox label="I want to receive news and special offers" formControlName="subscription"></form-checkbox>
            <form-checkbox formControlName="terms" [errors]="formsService.formErrors.terms">
              I agree with the
              <a href="javascript:void(0)" (click)="showTerms()"> Terms and Conditions </a> & <a routerLink="/auth/help" [queryParams]="{ 'path':  'policies/privacy.md'}" target="_blank"> Privacy Policy </a>
            </form-checkbox>
            
          </section>

          <section *ngIf="message">
            <div class="alert alert-danger">
              {{message}}
            </div>
          </section>

          <section *ngIf="loginType != eLoginProvider.Google && googleMessage">
            <div class="alert alert-danger">
              Google could not automatically sign-in due to "{{googleMessage}}".  
              Click login button to open new window to login to your google account.
              <d-button buttonClass="btn btn-danger" iconClass="fa fa-google" text="Google Login" (click)="googleLogin(true)"></d-button>
            </div>
          </section>

          <section *ngIf="loginType != eLoginProvider.Microsoft && microsoftMessage">
              <div class="alert alert-danger">
                Microsoft could not automatically sign-in due to "{{microsoftMessage}}".  
                Click login button to open new window to login to your microsoft account.
                <d-button buttonClass="btn btn-primary" iconClass="fa fa-microsoft" text="Microsoft Login" (click)="microsoftLogin(true)"></d-button>
              </div>
            </section>
        </fieldset>

      </div>
      <div class="card-footer">

        <button (click)="register()" class="btn btn-primary">
          Register
        </button>



      </div>
    </form>
  </div>
  <div class="card mt-2">
      <div class="card-header d-flex">
        Other Sign-in Options
      </div>
      <div class="card-body d-flex">
        <div *ngIf="loginType != eLoginProvider.Dexih" class="p-2 flex-fill">
          <button  (click)="enablePassword()" class="w-100 btn btn-success">
            <i class="fa fa-sign-in"></i>&nbsp;&nbsp;User/Pass</button>
        </div>
      
        <div *ngIf="loginType != eLoginProvider.Google" class="p-2 flex-fill">
          <button (click)="enableGoogle()" class="w-100 btn text-white" style="background-color: #db3236;">
            <i class="fa fa-google"></i>&nbsp;&nbsp;Google</button>
        </div>
        <div *ngIf="loginType != eLoginProvider.Microsoft" class="p-2 flex-fill">
          <button (click)="enableMicrosoft()" class="w-100 btn text-white" style="background-color: #00a2ed;">
            <i class="fa fa-windows"></i>&nbsp;&nbsp;Microsoft</button>
        </div>
      </div>
    </div>
</div>