<ng-template [ngIf]="tagStates">
    <dexih-button-dropdown buttonClass="btn-primary" iconClass="fa fa-tags" text="Tag Filters" [pullRight]="pullRight">
      <a class="dropdown-item" (click)="clear()" title="Clear tag filters"><span class="text-danger"><i class="fa fa-trash-o text-danger"></i> Clear Filter</span></a>
        <a *ngFor="let tagState of tagStates" class="dropdown-item" >
            <div class="input-group">
              <input type="checkbox" class="form-check-input" [(ngModel)]="tagState.isChecked" (change)="tagChange(tagState)" >
              <h5><span class="badge" [ngStyle]="{'background-color': tagState.tag.color}" ><span class="blend-text">{{tagState.tag.name}}</span></span></h5>
            </div>
          </a>
    </dexih-button-dropdown>
</ng-template>