<div *ngIf="newDatalinkTransformItemForm && inputColumns && outputColumns">

	<div class="list-group-item list-group-item-info rounded-0">
		<div class="d-flex flex-row">
			<h5>Un-Group Column Node</h5>
			<div class="ml-auto">
				<d-button-apply [disabled]="newDatalinkTransformItemForm.pristine" (click)="!newDatalinkTransformItemForm.pristine && applyExit()"
				 class="mr-1"></d-button-apply>
				<d-button-cancel (click)="cancel()"></d-button-cancel>
			</div>
		</div>
	</div>

	<div class="container  mt-3 mb-3" *ngIf="datalinkTransformForm">

		<form [formGroup]="newDatalinkTransformItemForm">
			<fieldset>
				<section class="col col-xs-12">
					<form-select label="Column Node" 
						formControlName="sourceDatalinkColumn" 
						[items]="inputColumns" 
						[(textValue)]="sourceValue"
						[enableTextEntry]="true"
						[enableTextEntryMatch]="false"
						[enableKeySelect]="false"
						itemKey="key"
						itemName="logicalName"
						[errors]="sourceErrors"
						>
					</form-select>
				</section>

				<div class="mt-1">


					<div class="row">
							<div class="col border bg-primary text-white font-weight-bold text-truncate">UnGroup Column</div>
						</div>
			
						<div *ngFor="let parameter of newDatalinkTransformItemForm.controls.dexihFunctionParameters.controls; let i = index;" class="row">
							<div class="col border bg-secondary text-white text-truncate">
								<div>{{parameter.controls.name.value}}</div>
							</div>
						</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>