<d-widget [title]="title" [scrollable]="true" [showExpandButton]="true">

    <d-table [enableMultiSelect]="true" [enableManualSort]="true" [columns]="columns" [dataObservable]="tableData" [enableStickyToolbar]="true"  [toolbarZIndex]="100"
        (rowClick)="editMapping($event)" (onSortChanged)="datalinkItemSortChange($event)"
        tableClass="table table-striped table-hover m-0" #mappingTable dropZone (dropData)="newOutputDrop($event)"
        zone="input-column" dropAllowedClass="drop-zone-green" actionHeading="Mappings">

        <ng-template #selectedItemAction select="selectedItemAction" let-datalinkTransformItem="item">
            <d-button-edit class="mr-1 " (click)="editMapping(datalinkTransformItem)" title="Edit this mapping">
            </d-button-edit>
        </ng-template>

        <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
            <d-button-delete class="mr-1 " (click)="deleteSelected(items)"
                title="Delete selected mapping functions"></d-button-delete>
        </ng-template>

        <ng-template #rowAction let-item="item">
            <mapping-item (click)="editMapping(item)" [transform]="datalinkTransformForm.value"
                [transformItem]="item.datalinkTransformItem" [allowCondition]="allowCondition"></mapping-item>
        </ng-template>

        <ng-template #actions let-items="items">
            <ng-template [ngIf]="allowMapping">
                <d-button-splitdropdown class="mr-1" (buttonClick)="newMapping(eTransformItemType.ColumnPair)"
                    buttonClass="btn-primary" iconClass="fa fa-map"
                    title="Create a new mapping, or drop a column to create new mapping." text='Mapping'>
                    <li><a class="dropdown-item"  title="Add all" (click)="addAll()">Add all input columns</a></li>
                    <li *ngFor="let columnGroup of columnGroups"><a class="dropdown-item"  [title]="'Add all ' + columnGroup.group" (click)="addGroup(columnGroup)">Add all {{columnGroup.group}}</a></li>
                </d-button-splitdropdown>
            </ng-template>
            <ng-template [ngIf]="allowCondition && !allowValidation">
                <d-button routerLink='mapping-edit/{{eTransformItemType.FilterPair}}'
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-filter" title="Create a simple filter">Filter
                </d-button>
            </ng-template>
            <ng-template [ngIf]="allowAggregate">
                <d-button routerLink='mapping-edit/{{eTransformItemType.AggregatePair}}'
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-cubes" title="Create a simple aggregate">
                    Aggregate</d-button>
            </ng-template>
            <ng-template [ngIf]="allowStandard || allowAggregate || allowCondition || allowRow || allowValidation">
                <d-button [routerLink]="['standard-function-edit', functionType]"
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-dollar" title="Create a new standard function">
                    Standard</d-button>
                <d-button [routerLink]="['custom-function-edit', functionType]" buttonClass="btn-primary mr-1 "
                    iconClass="fa fa-code" title="Create a new custom function">Custom</d-button>
            </ng-template>
            <ng-template [ngIf]="allowRow">
                <d-button routerLink='unGroup-edit' buttonClass="btn-primary mr-1 " iconClass="fa fa-map"
                    title="Un-Group a Node">Un-Group</d-button>
            </ng-template>
            <ng-template [ngIf]="allowJoin">
                <d-button routerLink='mapping-edit/{{eTransformItemType.JoinPair}}'
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-link" title="Create a new join">Join
                </d-button>
                <d-button [routerLink]="['standard-function-edit', functionType]"
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-dollar" title="Create a new standard filter">
                    Filter</d-button>
                <d-button [routerLink]="['custom-function-edit', functionType]" buttonClass="btn-primary mr-1 "
                    iconClass="fa fa-code" title="Create a new custom filter">Custom Filter</d-button>

                    <d-button-dropdown class="mr-1" buttonClass="btn-primary" iconClass="fa fa-calendar"
                    title="Add a joins between the column and the valid from/to" text='Valid From/To'>
                    <li *ngFor="let column of inputDateColumns"><a class="dropdown-item"  [title]="column.name" (click)="addValidFromTo(column)">{{column.name}}</a></li>
                </d-button-dropdown>
            </ng-template>
            <ng-template [ngIf]="allowSort">
                <d-button routerLink='mapping-edit/{{eTransformItemType.Sort}}' buttonClass="btn-primary mr-1 "
                    iconClass="fa fa-sort-alpha-asc" title="New Sort">Sort</d-button>
            </ng-template>
            <ng-template [ngIf]="allowGroup">
                <d-button routerLink='mapping-edit/{{eTransformItemType.Column}}'
                    buttonClass="btn-primary mr-1 " iconClass="fa fa-list" title="New Group">Group</d-button>
            </ng-template>
            <ng-template [ngIf]="allowJoinNode">
                <d-button (click)="createJoinNode()" buttonClass="btn-primary mr-1 " iconClass="fa fa-list"
                    title="Join Node">Node</d-button>
            </ng-template>
        </ng-template>
    </d-table>
</d-widget>