<div class="container">
    <d-widget title="Datajob Options" iconClass="fa fa-lg fa-fw fa-exchange"  [showCloseButton]="true" (close)="close()" [padding]="true">
            <ng-template #header>
                <d-button-refresh class="mr-1" (click)="run()" text="Run Now"></d-button-refresh>
                <d-button-refresh class="mr-1" (click)="activate()" text="Activate Triggers"></d-button-refresh>
                <d-button-cancel (click)="close()"></d-button-cancel>
            </ng-template>

        <ng-template #subHeader>
            <label class="label">Run the following datajobs(s):</label>
            <div>
                <div class="row">
                    <span class="col alert alert-primary m-1" *ngFor="let datajob of datajobs | fieldSort: 'name'">
                        {{datajob.name}}
                    </span>
                </div>
            </div>
        </ng-template>
            
		<form>
			<fieldset>
				<section>
					<div class="form-row">
						<section class="col">
							<form-checkbox label="Truncate all target tables before execution." [(ngModel)]="truncateTable" [ngModelOptions]="{standalone: true}"></form-checkbox>
						</section>
					</div>

                    <div class="form-row">
                        <section class="col">
                                <form-checkbox label="Reset the source incremental value, and load all source rows." [(ngModel)]="resetIncremental" [ngModelOptions]="{standalone: true}"></form-checkbox>
                            </section>
                        </div>

                    <div class="form-row">
                        <section class="col">
                            <form-input label="Incremental Value" [(ngModel)]="resetValue" [ngModelOptions]="{standalone: true}" placeholder="" iconClass="fa fa-list" note="Use a specific incremental value to start loading source rows from (leave empty for null value)" >
                                </form-input>
                        </section>
                    </div>
    
    
                    <div class="d-flex flex-wrap pt-1" *ngIf="parameters && parameters.length > 0" >
                        <div class="input-group-text">
                            Input Parameters
                        </div>
                
                        <input-parameters-view [parameters]="parameters"></input-parameters-view>
                    </div>
				</section>
			</fieldset>
		</form>

    </d-widget>
</div>