<div class="container-fluid">
    <d-widget title="Datalink Tests" 
		iconClass="fa fa-lg fa-fw fa-flag-checkered" 
		[showCloseButton]="true"
		(close)="close()"
	>
 

		<d-table 
			[enableMultiSelect]="true"
			[columns]="columns"
			[dataObservable]="tableData"
			(rowClick)="edit($event)"
			[tags]="this.hubCache.hub.dexihTags"
			>
			<ng-template #selectedItemAction select="selectedItemAction" let-item="item">
				<dependent-items-button class="ml-1" [key]="item.key" [objectType]='eSharedObjectType.DatalinkTest'></dependent-items-button>
			</ng-template>


				<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
					<tags-update-button class="ml-1" [objectType]="eSharedObjectType.DatalinkTest" [objects]="items" ></tags-update-button>
				</ng-template>

				<ng-template #actions let-items="items">
					<actions-datalinkTest-button [datalinkTests]="items"></actions-datalinkTest-button>
				</ng-template>

				<ng-template #rowStatus select="rowStatus" let-item="item">
					<datalink-status [datalinkTestKey]='item?.key'></datalink-status>
				</ng-template>
	
		</d-table>

	</d-widget>
	
	<dexih-help class="m-3" title="Datalink Test" path="/assets/help/reference/datalinkTest.md"></dexih-help>

</div>


