<div class="container-fluid">
    <d-widget title="Available Hubs" 
        iconClass="fa fa-lg fa-fw fa-life-saver" 
		[showCloseButton]="true"
		(close)="close()"
    >

		<d-table 
			[enableMultiSelect]="true"
			[enableStickyToolbar]="true"  [toolbarZIndex]="100"
			[columns]="columns"
			[dataObservable]="tableData"
			(rowClick)="edit($event)"
			>
				<ng-template #selectedItemAction select="selectedItemAction" let-hub="item">
					<d-button-edit class="mr-1" [routerLink]="['hub-edit', hub.hubKey]" queryParamsHandling preserveFragment class="mr-1"></d-button-edit>
					<d-button-open class="mr-1" [routerLink]="['/hub', hub.hubKey]" queryParamsHandling preserveFragment></d-button-open>
					<d-button [routerLink]="['/hub', hub.hubKey, 'manage', 'manage-users']" iconClass="fa fa-lock" queryParamsHandling preserveFragment text="Permissions" class="mr-1"></d-button>
				</ng-template>

				<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
					<d-button-delete (click)="deleteHubs(items)" class="mr-1"></d-button-delete>
				</ng-template>

				<ng-template #actions let-items="items">
					<d-button-new [routerLink]="['hub-new']" class="mr-1"></d-button-new>
				</ng-template>
		</d-table>
    </d-widget>
</div>

