<div class="card">
    <div class="card-header">
        Welcome!
    </div>

    <div class="card-body">
    <h4>Data Experts Integration Hub</h4>

    <div class="pb-3">
        <a href="https://dataexpertsgroup.com" class="btn btn-danger btn-sm">Data Experts Group</a>
        <a href="http://dataexpertsgroup.com/integration_hub" class="btn btn-danger btn-sm">Find out more</a>
    </div>

    <div class="alert alert-success">
        <h4>Data Experts Group - Do you trust your data?</h4>
        <p>
            And do you understand it. The integration hub is a platform that allows you to manage and catalog your information and data.
        </p>
    </div>

    <div class="alert alert-success">
        <h4> Why use the integration hub?</h4>
        <p>
            Getting started takes just a few minutes, and you'll quickly be loading and performing complex transformations on your data.
        </p>
    </div>
</div>
</div>