<d-widget-section *ngIf="columns && showEdit" title="Chart Properties" [showExpandButton]="true">
    <div class="container">
    <div class="d-flex flex-wrap">
        <div class="flex-fill">
            <form-select [(ngModel)]="config.chartType" (ngModelChange)="updateChartType($event)" labelLeft="Chart"
                [items]="chartTypes" parentName='name' childItems='charts' itemKey='key' itemName='name'>
            </form-select>
        </div>

        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.colorScheme" (ngModelChange)="updateChartData($event)" labelLeft="Color" [items]="colorSets" itemName='name'
                itemKey='name'>
            </form-select>
        </div>

        <div class="flex-fill">
            <form-select [(ngModel)]="config.multiGridColumn" (ngModelChange)="updateChartData($event)" labelLeft="Grid Column"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>
    </div>

    <div *ngIf="chartType">
    <!-- <div class="d-flex flex-wrap pt-1"
        *ngIf="chartType.inputFormat === eInputFormat.SingleSeries || chartType.inputFormat === eInputFormat.GeoCoordinates">
        <div class="flex-fill">
            <form-select [(ngModel)]="config.labelColumn" (ngModelChange)="updateChartData($event)" labelLeft="Labels"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>

        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.seriesColumn" (ngModelChange)="updateChartData($event)"
                labelLeft="Series Column" [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>
    </div> -->

    <div class="d-flex flex-wrap pt-1" *ngIf="chartType.inputFormat === eInputFormat.GeoCoordinates">
        <div class="flex-fill">
            <form-select [(ngModel)]="config.latitudeColumn" (ngModelChange)="updateChartData($event)" labelLeft="Latitude"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>

        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.longitudeColumn" (ngModelChange)="updateChartData($event)"
                labelLeft="Longitude" [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>
    </div>

    <div class="d-flex flex-wrap pt-1"
        *ngIf="chartType.inputFormat === eInputFormat.MultiSeries || chartType.inputFormat === eInputFormat.InverseSeries">
        <div class="flex-fill">
            <form-select [(ngModel)]="config.labelColumn" (ngModelChange)="updateChartData($event)" labelLeft="Labels"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>
        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.pivotColumn" (ngModelChange)="updateChartData($event)"
            [allowNullSelect]="true" selectNullMessage="(No pivot column)"
            labelLeft="Series Pivot" [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>
    </div>

    <chart-series [columns]="columns" [(series)]="config.seriesColumns" (seriesChange)="updateChartData()" [allowLineChart]="chartType.isBar && chartType.isLine" [allowAlternateAxis]="chartType.isBar" ></chart-series>

    <div class="d-flex flex-wrap pt-1" *ngIf=" chartType.inputFormat===eInputFormat.Xy || chartType.inputFormat===eInputFormat.XyMinMax
            || chartType.inputFormat===eInputFormat.XyBubble">
        <div class="flex-fill">
            <form-select [(ngModel)]="config.labelColumn" (ngModelChange)="updateChartData($event)" labelLeft="Labels"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>

        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.xColumn" (ngModelChange)="updateChartData($event)" labelLeft="X-Column"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>

        <div class="flex-fill pl-1">
            <form-select [(ngModel)]="config.yColumn" (ngModelChange)="updateChartData($event)" labelLeft="Y-Column"
                [items]="columns" itemKey="title" itemName="title">
            </form-select>
        </div>

        <ng-template [ngIf]="chartType.inputFormat === eInputFormat.XyMinMax">
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="config.minColumn" (ngModelChange)="updateChartData($event)"
                    labelLeft="Error Min Column" [items]="columns" itemKey="title" itemName="title">
                </form-select>
            </div>

            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="config.maxColumn" (ngModelChange)="updateChartData($event)"
                    labelLeft="Error Max Column" [items]="columns" itemKey="title" itemName="title">
                </form-select>
            </div>
        </ng-template>

        <ng-template [ngIf]="chartType.inputFormat === eInputFormat.XyBubble">
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="config.radiusColumn" (ngModelChange)="updateChartData($event)"
                    labelLeft="Bubble Radius" [items]="columns" itemKey="title" itemName="title">
                </form-select>
            </div>
        </ng-template>

    </div>

    <div class="d-flex flex-wrap pt-1" *ngIf="chartType.allowLabels">
        <div class="flex-fill ">
            <div class="input-group-text">
                Labels
            </div>
        </div>

        <div class="flex-fill pl-1">
            <form-checkbox label="Show Labels" [(ngModel)]="config.showDataLabel" (ngModelChange)="updateChartLayout()" [border]="true">
            </form-checkbox>
        </div>
        <div class="flex-fill pl-1">
            <form-checkbox label="Show Values" [(ngModel)]="config.showDataValue" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" >
            <form-select [(ngModel)]="config.labelAlign" (ngModelChange)="updateChartLayout()" labelLeft="Label Anchor"
                [items]="['center', 'start', 'end']">
            </form-select>
        </div>
        <div class="flex-fill pl-1" >
            <form-select [(ngModel)]="config.labelAnchor" (ngModelChange)="updateChartLayout()" labelLeft="Label Alignment"
                [items]="['center', 'start', 'end', 'top', 'bottom', 'right', 'left']">
            </form-select>
        </div>
    </div>

    <div class="d-flex flex-wrap pt-1">
        <div class="flex-fill ">
            <div class="input-group-text">
                Formatting
            </div>
        </div>

        <div class="flex-fill pl-1" *ngIf="chartType.allowXAxis">
            <form-checkbox label="X-Axis Title" [(ngModel)]="config.showXAxisLabel" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowXAxis">
            <form-checkbox label="X-Axis Labels" [(ngModel)]="config.showXAxis" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowYAxis">
            <form-checkbox label="Y-Axis Title" [(ngModel)]="config.showYAxisLabel" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowYAxis">
            <form-checkbox label="Y-Axis Labels" [(ngModel)]="config.showYAxis" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowGridLines">
            <form-checkbox label="Grid Lines" [(ngModel)]="config.showGridLines" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowLegend">
            <form-checkbox label="Legend" [(ngModel)]="config.showLegend" (ngModelChange)="updateChartLayout()" [border]="true">
            </form-checkbox>
        </div>
        <div class="flex-fill pl-1" *ngIf="chartType.allowLegend && config.showLegend">
            <form-select [(ngModel)]="config.legendPosition" (ngModelChange)="updateChartLayout()" labelLeft="Legend Position"
                [items]="['top', 'bottom', 'right', 'left']">
            </form-select>
        </div>

        <ng-template [ngIf]="chartType.isBar">
            <div class="flex-fill pl-1" >
                <form-checkbox label="Single Color" [(ngModel)]="config.singleBarColor" (ngModelChange)="updateChartData($event)"
                    [border]="true"></form-checkbox>
            </div>
        </ng-template>

        <div class="flex-fill pl-1" *ngIf="chartType.allowDoughnut">
            <form-input type="number" labelLeft="Doughnut CutOut %" [(ngModel)]="config.cutOutPercentage" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-input>
        </div>

        <div class="flex-fill  pl-1" *ngIf="chartType.allowFill">
            <form-checkbox label="Fill Area" [(ngModel)]="config.fill" (ngModelChange)="updateChartData()"
                [border]="true"></form-checkbox>
        </div>

        <ng-template [ngIf]="chartType.isLine">
            <div class="flex-fill  pl-1">
                <form-checkbox label="Span Null Gaps" [(ngModel)]="config.spanGaps" (ngModelChange)="updateChartData()"
                    [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="config.lineCurve" (ngModelChange)="updateChartData()" labelLeft="Line Curve"
                    [items]="eLineCurveItems" itemKey='key' itemName='name'>
                </form-select>
            </div>
        </ng-template>


    </div>

    <div class="d-flex flex-wrap pt-1"
        *ngIf="chartType.allowYScaleMin || chartType.allowYScaleMax ||chartType.allowXScaleMin ||chartType.allowXScaleMax">
        <div class="flex-fill ">
            <div class="input-group-text">
                Axis Scales
            </div>
        </div>

        <div class="flex-fill  pl-1">
            <form-checkbox label="Auto scale" [(ngModel)]="config.autoScale" (ngModelChange)="updateChartLayout()"
                [border]="true"></form-checkbox>
        </div>

        <ng-template [ngIf]="!config.autoScale">
            <div class="flex-fill  pl-1" *ngIf="chartType.allowXScaleMin">
                <form-input type="number" labelLeft="X-Min" [(ngModel)]="config.xScaleMin" (ngModelChange)="updateChartLayout()"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowXScaleMax">
                <form-input type="number" labelLeft="X-Max" [(ngModel)]="config.xScaleMax" (ngModelChange)="updateChartLayout()"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowYScaleMin">
                <form-input type="number" labelLeft="Y-Min" [(ngModel)]="config.yScaleMin" (ngModelChange)="updateChartLayout()"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowYScaleMax">
                <form-input type="number" labelLeft="Y-Max" [(ngModel)]="config.yScaleMax" (ngModelChange)="updateChartLayout()"></form-input>
            </div>
        </ng-template>
    </div>
    </div>
</div>
</d-widget-section>

<d-widget-section [title]="title" [showExpandButton]="true" [padding]="false">
    <ng-template #header>
        <d-button buttonClass="btn-sm btn-primary m-1" iconClass="fa fa-download" (click)="export()" text="export"></d-button>
    </ng-template>

    <div style="height: 80vh">
        <chart-view [responsive]="true" #chartView [config]="config" [columns]="columns" [data]="data" [updateOptionsEvent]="updateOptionsSubject" [updateDataEvent]="updateDataSubject">
        </chart-view>
    </div>

</d-widget-section>
