<d-widget-section title='Source Type' [showExpandButton]="true">
    <ng-template #header>
        <d-button-edit class="mr-1"
            *ngIf="datalinkForm.controls.sourceDatalinkTable.value.sourceType == eSourceType.Table && datalinkForm.controls.sourceDatalinkTable.value.sourceTableKey"
            [routerLink]="['table-edit', datalinkForm.controls.sourceDatalinkTable.value.sourceTableKey]"> Table
        </d-button-edit>
        <d-button-edit class="mr-1"
            *ngIf="datalinkForm.controls.sourceDatalinkTable.value.sourceType == eSourceType.Datalink && datalinkForm.controls.sourceDatalinkTable.value.sourceDatalinkKey"
            [routerLink]="['../../edit', datalinkForm.controls.sourceDatalinkTable.value.sourceDatalinkKey]"> Datalink
        </d-button-edit>
        <d-button-preview (click)="previewData()"></d-button-preview>
    </ng-template>

    <datalink-table *ngIf="datalinkForm" [datalinkTableForm]="datalinkForm.controls.sourceDatalinkTable">
    </datalink-table>
</d-widget-section>

<d-widget-section title='Columns' [showExpandButton]="true" [padding]="false">
    <d-table [enableMultiSelect]="true" [enableManualSort]="true" (onSortChanged)="columnSortChange($event)"
        [columns]="columns" [dataObservable]="tableData" (rowClick)="editColumn($event)">

        <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
            <d-button-delete (click)="deleteSelected(items)" title="Delete selected columns"></d-button-delete>
        </ng-template>

        <ng-template #actions select="actionsTemplate" let-items="items">
            <d-button-new (click)="newColumn()" title="Create a new column"></d-button-new>
        </ng-template>

        <ng-template #selectedItemAction select="selectedItemAction" let-item="item">
            <d-button-edit (click)="editColumn(item)" title="Edit selected column"></d-button-edit>
        </ng-template>

    </d-table>
</d-widget-section>