<div class="container-fluid">
    <d-widget title="Shared Data" 
		iconClass="fa fa-lg fa-fw fa-newspaper-o" 
		[showCloseButton]="true"
		[padding]="false"
		(close)="close()"
	>

	<d-table 
		[enableMultiSelect]="true"
		[enableStickyToolbar]="true"  [toolbarZIndex]="100"
		[columns]="columns"
		[dataObservable]="tableData"
		(rowClick)="preview($event)"
		[tags]="this.hubCache.hub.dexihTags"
		>

			<ng-template #selectedItemAction select="selectedItemAction" let-item="item">
				<d-button-preview (click)="preview(item)"></d-button-preview>
			</ng-template>

			<ng-template #rowStatus select="rowStatus" let-item="item">
			</ng-template>

			<ng-template #selectedItemsAction select="selectedItemsAction" let-objects="items">
				<d-button-download class="mr-1" (click)="downloadData(objects)"></d-button-download>
				<d-button-private *ngIf="hubCache.canWrite"  (click)="unshareSelectedTables(objects)"></d-button-private>
			</ng-template>

			<ng-template #filter select="filter" let-items="items">
				<d-button-dropdown buttonClass="btn-primary mr-1" iconClass="fa fa-filter" [text]="typeFilter" title="Filter by a purpose" [pullRight]="true">
					<a class="dropdown-item" [class.active]="typeFilter=='All'" routerLink='.' [queryParams]="{typeFilter: 'All'}" title="All Items">All</a>
					<a class="dropdown-item" [class.active]="typeFilter=='Datalink'" routerLink='.' [queryParams]="{typeFilter: 'Datalink'}" title="Datalinks">Datalinks</a>
					<a class="dropdown-item" [class.active]="typeFilter=='Table'" routerLink='.' [queryParams]="{typeFilter: 'Table'}" title="Tables">Tables</a>
					<a class="dropdown-item" [class.active]="typeFilter=='View'" routerLink='.' [queryParams]="{typeFilter: 'View'}" title="Views">Views</a>
					<a class="dropdown-item" [class.active]="typeFilter=='Dashboard'" routerLink='.' [queryParams]="{typeFilter: 'Dashboard'}" title="Dashboards">Dashboards</a>
					<a class="dropdown-item" [class.active]="typeFilter=='Api'" routerLink='.' [queryParams]="{typeFilter: 'Api'}" title="Apis">Apis</a>
				</d-button-dropdown>
			</ng-template>
	</d-table>

    </d-widget>
</div>

