<form [formGroup]="outputParameterForm" class="mb-1">
    <section>
        <div class="input-group">

            <div *ngIf="allowDataTypeSelect == false && allowNameSelect == false" class="input-group-prepend">
                <div class="input-group-text">
                    {{outputParameterForm.value.runTime?.functionParameter?.name + "(" + eTypeCode[type.dataType] + ")"}}
                    {{rank > 0 ? "[]" : ""}}
                </div>
            </div>

            <div *ngIf="allowDataTypeSelect == true && allowNameSelect == false" class="input-group-prepend">
                <div class="input-group-text">
                    {{outputParameterForm.value.runTime?.functionParameter?.name }}
                </div>
            </div>

            <div *ngIf="allowNameSelect" class="form-control p-0">
                <form-input formControlName="name" [border]="false" type="text" name="name"
                    placeholder="Enter a name for the parameter">
                </form-input>
                <span class="input-group-btn" style="width:0px;"></span>
            </div>

            <div *ngIf="allowDataTypeSelect == false && allowNameSelect == true" class="input-group-text">
                {{"(" + eTypeCode[type.dataType] + ")"}}
            </div>

            <div class="form-control p-0">
                <form-select [border]="false" formControlName="datalinkColumn" [items]="outputTables" parentName="name" childItems="dexihTableColumns" itemKey="key"
                    itemName="logicalName" [enableKeySelect]="false" [enableTextEntry]="true" [setTextEntryToValue]="false"
                    textEntryNote="Enter new column name, or select existing"
                    (valueChange)="updateNewColumn($event)"
                    [errors]="errors.datalinkColumn"  [showErrorMessage]="false">
                </form-select>
            </div>

            <div *ngIf="allowDataTypeSelect == true" class="form-control p-0">
                <form-select formControlName="dataType" [border]="false" [items]="typeCodes" itemKey="key"
                    itemName="name">
                </form-select>
            </div>
            <div *ngIf="allowDataTypeSelect == true" class="form-control">
                <form-checkbox label="Allow Null" [border]="false" formControlName="allowNull"></form-checkbox>
            </div>

            <div class="input-group-append">
                <button *ngIf="outputParameterForm.controls.datalinkColumn?.value && outputParameterForm.controls.dataType.value !== outputParameterForm.controls.datalinkColumn?.value?.dataType" class="btn btn-danger" type="button" (click)="fixDataType()" title="fix target column datatype">
                    <i class="fa fa-medkit"></i>
                </button>
                <button class="btn btn-light" type="button" (click)="add()" [disabled]="!allowAdd" value="Add">
                    <i class="fa fa-plus-square-o"></i>
                </button>
                <button class="btn btn-light" type="button" (click)="remove()" [disabled]="!allowRemove" value="Remove">
                    <i class="fa fa-minus-square-o"></i>
                </button>
            </div>
        </div>

        <small *ngIf="outputParameterForm.value.runTime?.functionParameter?.description" class="form-text text-muted">
            <markdown [data]="outputParameterForm.value.runTime.functionParameter.description"></markdown>
        </small>

    </section>
</form>