<div *ngIf="parameters" class="d-flex flex-wrap">
    <div *ngFor="let parameter of userParameters; let i = index" class="pr-1">
        <form-select *ngIf="parameter.listOfValuesKey > 0" [labelLeft]="parameter.name" [(ngModel)]="parameter.value"
            itemKey="key" itemName="name" [items]="parameter['runTime'].items"
            [enableTextEntry]="! (parameter.listOfValuesKey > 0)" [textEntryItems]="parentParams"
            textEntryItemsTitle="Linked Parameters" (ngModelChange)="change(parameter)"
            [showRefresh]="parameter['runTime'].showRefresh" [isRefreshing]="parameter['runTime'].isRefreshing"
            (refreshed)="refresh(parameter)" [multiSelect]="parameter.rank === 1">
        </form-select>
        <form-input *ngIf="!( parameter.listOfValuesKey > 0)" [labelLeft]="parameter.name" [(ngModel)]="parameter.value"
            (ngModelChange)="change(parameter)">
        </form-input>
    </div>
</div>
<div *ngIf="requiresRefresh" class="alert alert-warning mt-2">
    <a href="javascript:void(0)" class="alert-link" (click)="refreshData()">The parameters have changed. Click to
        refresh.</a>
</div>
