<ng-template [ngIf]="tables">
<d-button-dropdown buttonClass="btn-primary" iconClass="fa fa-table" [text]="tables.length > 1 ? 'Tables' : 'Table'" [pullRight]="pullRight">
    <li class="list-group-item list-group-item-heading list-group-item-info">Metadata</li>
    <li *ngIf="hubCache.canWrite"><a class="dropdown-item"  [routerLink]="['table-new']" title="Create a new table."><i class="fa fa-file-o"></i> New</a></li>
    <ng-template [ngIf]="tables.length > 0">
        <li *ngIf="showEdit && tables.length == 1">
            <a class="dropdown-item" [routerLink]="['table-edit', tables[0].key]" queryParamsHandling="merge"><i class="fa fa-edit"></i> Edit</a>
        </li>
        <li *ngIf="hubCache.canWrite && showEdit"><a class="dropdown-item" (click)="shareItems(true)" title="Select the selected tables as shared."><i class="fa fa-group"></i> Share</a></li>
        <li *ngIf="hubCache.canWrite && showEdit"><a class="dropdown-item" (click)="shareItems(false)" title="Select the selected tables as private."><i class="fa fa-user-secret"></i> Private</a></li>

        <li *ngIf="hubCache.canWrite"><a class="dropdown-item" (click)="reImport()" title="Re-Import the select tables from the source database"><i class="fa fa-share-square-o"></i> Re-Import Metadata</a></li>
        <li><a class="dropdown-item" (click)="export()" title="Export the metadata for the selected tables to a local file."><i class="fa fa-save"></i> Save Locally</a></li>
        <li><a class="dropdown-item" (click)="dbml()" title="Create a dbml file from the selected tables."><i class="fa fa-comments"></i> Export DBML</a></li>
        <li *ngIf="hubCache.canWrite"><a class="dropdown-item" (click)="delete()" title="Delete the metadata for the selected tables."><span class="text-danger"><i class="fa fa-trash-o text-danger"></i> Delete</span></a></li>

        <li class="list-group-item list-group-item-heading list-group-item-info">Operations</li>
        <li *ngIf="tables.length == 1">
            <a class="dropdown-item" [routerLink]="['table-preview', tables[0].key]" queryParamsHandling="merge"><i class="fa fa-table"></i> Preview Data</a>
        </li>
        <li><a class="dropdown-item" (click)="download()" title="Download data from selected tables to csv files."><i class="fa fa-cloud-download"></i> Download Data</a></li>

        <li *ngIf="hubCache.canWrite && ( connectionReference?.connectionCategory == eConnectionCategory.File || connection?.purpose !== eConnectionPurpose.Source)">
            <a class="dropdown-item" [routerLink]="[hubPath, 'files', 'manage']" [queryParams]="{'tableKey': tables[0].key}" queryParamsHandling="merge"><i class="fa fa-upload"></i> Upload/Download Files</a>
        </li>

        <li *ngIf="hubCache.canWrite"><a class="dropdown-item" (click)="clear()" title="Clear the data from the selected tables"><i class="fa fa-trash"></i><span class="text-danger"> Truncate Table<span *ngIf="tables.length > 1">s</span></span></a></li>
        <li *ngIf="hubCache.canWrite"><a class="dropdown-item" (click)="rebuild()" title="Drop &amp; rebuild the tables"><i class="fa fa-gears"></i><span class="text-danger"> Drop/Create Table<span *ngIf="tables.length > 1">s</span></span></a></li>

        <li class="list-group-item list-group-item-heading list-group-item-info">Datalinks</li>
        <li *ngIf="hubCache.canWrite && tables.length == 1"><a class="dropdown-item" (click)="datalinkQuery()" title="Create new datalinks using the selected tables as the source."><i class="fa fa-exchange"></i> Datalink Query</a></li>
        <li *ngIf="hubCache.canWrite"><a class="dropdown-item" (click)="newDatalinks()" title="Create new datalinks using the selected tables as the source."><i class="fa fa-exchange"></i> New Datalinks (from selected tables)</a></li>
        <li class="list-group-item list-group-item-heading list-group-item-info">Related</li>
        <li *ngFor="let datalink of datalinksSource">
            <a class="dropdown-item" [routerLink]="['datalink-edit', 'edit', datalink.key, 'source-table']">(source) {{datalink.name}}</a>
        </li>
        <li *ngFor="let datalink of datalinksTarget">
            <a class="dropdown-item"  [routerLink]="['datalink-edit', 'edit', datalink.key, 'target']">(target) {{datalink.name}}</a>
        </li>
    </ng-template>
</d-button-dropdown>
</ng-template>