<dexih-widget-section *ngIf="stepFormService.currentForm" title="Add Datalink Step" [showExpandButton]="false">
	<ng-template #header>
		<dexih-button-apply class="mr-1" [disabled]="!stepFormService.hasChanged" (click)="applyExit()">
		</dexih-button-apply>
		<dexih-button-cancel (click)="cancel()"></dexih-button-cancel>
	</ng-template>
	<form [formGroup]="stepFormService.currentForm">
		<fieldset>
			<section>
				<form-input label="Data Step Name" formControlName="name" placeholder="Enter the step name."
					[autocapitalize]="true" iconClass="fa fa-list" [errors]="stepFormService.formErrors.name"
					note="Enter a name for the data step, blank will use datalink name.">
				</form-input>
			</section>
			<section>
				<form-select label="Data Link" formControlName="datalinkKey" [items]="hubCache.hub.dexihDatalinks"
					itemKey="key" itemName="name" [errors]="stepFormService.formErrors.datalinkKey"
					iconClass="fa fa-database">
				</form-select>
			</section>
		</fieldset>

		<div class="d-flex flex-wrap pt-1"
			*ngIf="stepFormService.currentForm.controls.dexihDatalinkStepColumns.controls.length > 0">
			<div>
				Input Values
			</div>

			<span
				*ngFor="let column of stepFormService.currentForm.controls.dexihDatalinkStepColumns.controls; let i = index"
				class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{{column.value.logicalName}}
					</div>
				</div>
				<form-input class="form-control p-0" [placeholder]="column.value.logicalName" [autocapitalize]="true"
					[formControl]="column.controls.defaultValue"></form-input>
			</span>
		</div>
	</form>
</dexih-widget-section>

<dexih-widget-section *ngIf="stepFormService.currentForm" title="Dependent Steps" [showExpandButton]="false"
	[padding]="false">
	<dexih-table *ngIf="stepFormService.currentForm" [enableMultiSelect]="true" [columns]="stepColumns"
		[dataObservable]="stepTableData" [(selectedItems)]="stepFormService.currentForm.value.dexihDatalinkDependencies"
		(onSelectedChange)="dependentStepsChange($event)" keyColumn="key" selectedKeyColumn="dependentDatalinkStepKey">
	</dexih-table>
</dexih-widget-section>