<d-tabs [padding]="false" title="Edit Job Step">
	<ng-template #tabsHeader>
		<d-button-apply class="mr-1" [disabled]="!stepFormService.hasChanged" (click)="applyExit()">
		</d-button-apply>
		<d-button-cancel (click)="cancel()"></d-button-cancel>
	</ng-template>

<d-tab *ngIf="stepFormService.currentForm" title="Properties" >
	<form [formGroup]="stepFormService.currentForm">
		<fieldset>
			<section>
				<form-input label="Data Step Name" formControlName="name" placeholder="Enter the step name."
					[autocapitalize]="true" iconClass="fa fa-list" [errors]="stepFormService.formErrors.name"
					note="Enter a name for the data step, blank will use datalink name.">
				</form-input>
			</section>
			<section>
				<form-select label="Data Link" formControlName="datalinkKey" [items]="hubCache.hub.dexihDatalinks"
					itemKey="key" itemName="name" [errors]="stepFormService.formErrors.datalinkKey"
					iconClass="fa fa-database">
					<datalink-edit-button [key]="stepFormService.currentForm.controls.datalinkKey.value"></datalink-edit-button>
				</form-select>
			</section>
		</fieldset>

		<div class="d-flex flex-wrap pt-1"
			*ngIf="stepFormService.currentForm.controls.dexihDatalinkStepColumns.controls.length > 0">
			<div>
				Input Values
			</div>

			<span
				*ngFor="let column of stepFormService.currentForm.controls.dexihDatalinkStepColumns.controls; let i = index"
				class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{{column.value.logicalName}}
					</div>
				</div>
				<form-input class="form-control p-0" [placeholder]="column.value.logicalName" [autocapitalize]="true"
					[formControl]="column.controls.defaultValue"></form-input>
			</span>
		</div>
	</form>
</d-tab>

<d-tab *ngIf="stepFormService.currentForm" title="Parameters"  [padding]="false" [padding]="true">
	<input-parameters [showEdit]="true" [parameters]="stepFormService.currentForm.controls.parameters" [formsService]="formService" [parentParameters]="formService.currentForm.controls.parameters.value">
	</input-parameters>
</d-tab>

<d-tab *ngIf="stepFormService.currentForm" title="Dependent Steps" 
	[padding]="false">
	<d-table *ngIf="stepFormService.currentForm" [enableMultiSelect]="true" [columns]="stepColumns"
		[dataObservable]="stepTableData" [(selectedItems)]="stepFormService.currentForm.value.dexihDatalinkDependencies"
		(onSelectedChange)="dependentStepsChange($event)" keyColumn="key" selectedKeyColumn="dependentDatalinkStepKey" [tags]="this.hubCache.hub.dexihTags">
	</d-table>
</d-tab>
</d-tabs>