<div class="container-fluid">
	<dexih-widget title="Connections" iconClass="fa fa-lg fa-fw fa-database" [showCloseButton]="true" (close)="close()">
		<ng-template #header>
			<dexih-button-dropdown [autoCompact]="false" buttonClass="btn-sm btn-primary" iconClass="fa fa-filter" [text]="eConnectionPurpose[purposeFilter]" title="Filter by a purpose"
			 [pullRight]="true">
				<a class="dropdown-item" [class.active]="purposeFilter=='All'" routerLink='.' [queryParams]="{purposeFilter: 'All'}" title="All Connections">All</a>
				<a *ngFor="let purpose of eConnectionPurposeItems | gtFilter:'key':0" [class.active]="purposeFilter==purpose.key" class="dropdown-item" routerLink='.'
				 [queryParams]="{purposeFilter: purpose.key}" [title]="purpose.name">{{purpose.name}}</a>
			</dexih-button-dropdown>
		</ng-template>

		<dexih-table [enableMultiSelect]="true" [columns]="columns" [dataObservable]="tableData" (rowClick)="editConnection($event)">
			<ng-template #actions let-items="items">
				<actions-connection-button [connections]="items"></actions-connection-button>
			</ng-template>
		</dexih-table>

	</dexih-widget>

	<dexih-help class="m-3"  title="Connections" path="/assets/help/reference/connection.md"></dexih-help>

</div>