<div class="container-fluid">
	<d-widget title="Connections" iconClass="fa fa-lg fa-fw fa-database" [showCloseButton]="true" (close)="close()">
		<d-table 
			[enableMultiSelect]="true" 
			[enableStickyToolbar]="true"  [toolbarZIndex]="100"
			[columns]="columns" 
			[dataObservable]="tableData" 
			(rowClick)="editConnection($event)" 			
			[tags]="this.hubCache.hub.dexihTags"
		>
			<ng-template #actions let-items="items">
				<actions-connection-button [connections]="items"></actions-connection-button>
			</ng-template>

			<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
				<tags-update-button class="ml-1" [objectType]="eSharedObjectType.Connection" [objects]="items" ></tags-update-button>
			</ng-template>

			<ng-template #filter select="filter" let-items="items">
				<d-button-dropdown class="mr-1" [autoCompact]="false" buttonClass="btn-primary" iconClass="fa fa-filter" [text]="eConnectionPurpose[purposeFilter]" title="Filter by a purpose"
				[pullRight]="true">
				   <a class="dropdown-item" [class.active]="purposeFilter=='All'" routerLink='.' [queryParams]="{purposeFilter: 'All'}" title="All Connections">All</a>
				   <a *ngFor="let purpose of eConnectionPurposeItems | gtFilter:'key':0" [class.active]="purposeFilter==purpose.key" class="dropdown-item" routerLink='.'
					[queryParams]="{purposeFilter: purpose.key}" [title]="purpose.name">{{purpose.name}}</a>
			   </d-button-dropdown>			</ng-template>

		</d-table>

	</d-widget>

	<dexih-help class="m-3"  title="Connections" path="/assets/help/reference/connection.md"></dexih-help>

</div>