<div class="container">
    <d-widget title="Views" 
		iconClass="fa fa-lg fa-fw fa-bar-chart" 
		[showCloseButton]="true"
		(close)="close()"
	>
			<d-table 
				[enableMultiSelect]="true"
				[enableStickyToolbar]="true"  [toolbarZIndex]="100"
				[columns]="columns"
				[dataObservable]="tableData"
				(rowClick)="editView($event)"
				[tags]="this.hubCache.hub.dexihTags"
				>
					<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
						<tags-update-button class="ml-1" [objectType]="eSharedObjectType.View" [objects]="items" ></tags-update-button>
					</ng-template>

					<ng-template #selectedItemAction select="selectedItemAction" let-item="item">
						<dependent-items-button class="ml-1" [key]="item.key" [objectType]='eSharedObjectType.View'></dependent-items-button>
					</ng-template>
	
					<ng-template #actions let-items="items">
						<actions-view-button [views]="items"></actions-view-button>
					</ng-template>

			</d-table>

	</d-widget>
	
	<dexih-help class="m-3" title="Views" path="/assets/help/reference/view.md"></dexih-help>

</div>


