<form  [formGroup]="datalinkTableForm">
    <fieldset>
        <section >
            <form-select label="Data Source Type" formControlName="sourceType" [items]="sourceTypes" itemKey="key" itemName="name"
                iconClass="fa fa-database"  note='Specify the source type for this table' [enableFilter]="false">
            </form-select>
        </section>

        <section *ngIf="datalinkTableForm.value.sourceType == eSourceType.Table" >
            <form-select label="Source Table" formControlName="sourceTableKey" [errors]="errors?.sourceTableKey" [items]="connectionTables" parentName="name" childItems="dexihTables" itemKey="key" itemName="logicalName"
                note="Select the source table" >
            </form-select>
        </section>

        <section *ngIf="datalinkTableForm.value.sourceType == eSourceType.Datalink">
            <form-select label="Source Datalink" formControlName="sourceDatalinkKey" [errors]="errors?.sourceDatalinkKey" [items]="datalinks" itemKey="key" itemName="name"
                note='Select the source datalink'>
            </form-select>
        </section>

        <section *ngIf="datalinkTableForm.value.sourceType == eSourceType.Rows">
            <form-input label="Start At" type="number" formControlName="rowsStartAt" placeholder="Enter start row number" iconClass="fa fa-list">
            </form-input>

            <form-input label="End At" type="number" formControlName="rowsEndAt" placeholder="Enter end row number" iconClass="fa fa-list">
            </form-input>

            <form-input label="Increment By" type="number" formControlName="rowsIncrement" placeholder="Enter increment value" iconClass="fa fa-list">
            </form-input>
        
        </section>

        <section >
            <form-input label="Table Alias" formControlName="name" 
                note='An alias that can be used to describe the table instance (this is generally used to differentiate self-joined tables).'>
            </form-input>
        </section>

        <dexih-button-refresh (click)="refreshColumns()" tooltip="Refresh the columns from the source table." ></dexih-button-refresh>
    </fieldset>
</form>