<ng-template [ngIf]="tags">
    <d-button-dropdown buttonClass="btn-primary" iconClass="fa fa-tags" [text]="'Tag ' + objectTypeName + 's'" [pullRight]="pullRight">
        <a class="dropdown-item" (click)="delete()" title="Clear tags from selected {{objectTypeName}}s"><span class="text-danger"><i class="fa fa-trash-o text-danger"></i> Clear</span></a>
        <a *ngFor="let tag of tags" class="dropdown-item" >
            <div class="input-group">
              <input type="checkbox" class="form-check-input" [indeterminate]="tag.isIndeterminate" [(ngModel)]="tag.isChecked" (change)="tagChange(tag)" >
              <h5><span class="badge" [ngStyle]="{'background-color': tag.tag.color}" ><span class="blend-text">{{tag.tag.name}}</span></span></h5>
            </div>
          </a>
    </d-button-dropdown>
</ng-template>