<dexih-button-dropdown 
[iconClass]="valid ? 'fa fa-check' : 'fa fa-ban'"
[buttonClass]="valid ? 'btn btn-success' : 'btn btn-danger'"
    [text]= "valid ? 'Valid' : 'Errors'" [pullRight]="true"
>

<ng-template [ngIf]="valid">
    <h5 class="dropdown-header">The current form is valid.</h5>
</ng-template>

<!-- Recurs through the errors -->
<ng-template #recursiveList let-list>
    
    <li *ngFor="let item of list">
        <span *ngIf="item.childControlErrors.length > 0">
            <a class="dropdown-item" [routerLink]="item.link">{{item.field}} {{item.name}}</a>
            <ul>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childControlErrors }">
                </ng-container>
            </ul>
        </span>
        <a *ngFor="let error of item.errors" class="dropdown-item" [routerLink]="item.link">{{item.field}} - {{error}}</a>
    </li>
</ng-template>

<!-- Recurs through the errors -->
<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: controlErrors }">
</ng-container>

</dexih-button-dropdown>
