<d-widget-section title='Select a Transform' [padding]="true">
    <div class="d-flex flex-wrap justify-content-around">
            <a *ngFor="let transform of transforms" (click)="insert(transform.transformReference)" href="javascript:void(0)" 
            class="btn btn-outline-primary p-0 m-3" style="width:400px">
                <div class="d-flex h-100">
                    <div class="border-right border-primary p-3" style="min-width:140px">
                        <div class="d-block">
                            {{transform.transformReference.name}}
                        </div>
                        <i class="fa fa-4x" [ngClass]="transform.icon"></i>
                    </div>
                    <div class="p-3 text-left">
                        {{transform.transformReference.description}}
                    </div>
                </div>
            </a>
    </div>
</d-widget-section>