<div class="list-group-item list-group-item-info rounded-0">
    <div class="d-flex flex-row">
        <h5>Transform Type</h5>
        <div class="ml-auto">
            <dexih-button-close (click)="close()"></dexih-button-close>
        </div>
    </div>
</div>

<div class="card-columns">
    <div class="card m-3" *ngFor="let transform of transforms" (click)="insert(transform.transformReference)">
        <div class="card-header">
            <i [ngClass]="transform.icon"></i>
            {{transform.transformReference.name}}
        </div>
        <div class="card-body">
            <p class="card-text">{{transform.transformReference.description}}</p>
            <button class="btn btn-primary" (click)="insert(transform.transformReference)">Create</button>
        </div>
    </div>
</div>