<div class="container">
    <dexih-widget title="Import Objects"          iconClass="fa fa-lg fa-fw fa-level-down"          [showCloseButton]="true"
        (close)="close()"     >
        <ul class="list-group">
            <li class="list-group-item list-group-item-info rounded-0">
                <h5>Drop Export Files</h5>
            </li>
            <li class="list-group-item ">
                <div class="well my-drop-zone" dropZone [requireFiles]="true" (dropFiles)="filesDrop($event)" dropAllowedClass="nv-file-over">
                    <div class="form-row">
                        <section class="form-group col-md-6">
                            Drop import files
                        </section>
                        <section class="form-group col-md-6">
                            <div class="custom-file w-auto pull-right">
                                <input #fileInput type="file" class="custom-file-input " (change)="uploadFile($event)">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </section>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-info">
                <h5>Import Options</h5>
            </li>
            <li class="list-group-item ">
                    <fieldset>
                        <div class="form-row">
                            <section *ngFor="let action of importOptions" class="form-group col-md-6">
                                <form-select label="{{action.objectType}} Action" [(ngModel)]="action.action" [items]="importActions" itemKey="key" itemName="name"
                                    note='Action when importing {{action.objectType}}'>
                                </form-select>
                            </section>
                        </div>
                    </fieldset>
            </li>
        </ul>

    </dexih-widget>

    <dexih-widget *ngIf="(tableData | async)?.length > 0" title="Import Package" iconClass="fa fa-lg fa-fw fa-level-down">
        <div *ngIf="import?.warnings?.length > 0" class="alert alert-warning">
            <ul *ngFor="let warning of import.warnings" class="list-item">
                Warning: {{warning}}
            </ul>
        </div>

        <dexih-table [enableMultiSelect]="true" [columns]="columns" [dataObservable]="tableData">
            <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                <dexih-button iconClass="fa fa-level-down" buttonClass="btn-primary" (click)="importSelected()" text="Import Selected"></dexih-button>
            </ng-template>
            
            <ng-template #actions let-items="items">
                    <dexih-button iconClass="fa fa-level-down" buttonClass="btn-primary" (click)="importAll()" text="Import All"></dexih-button>
                </ng-template>
            </dexih-table>

    </dexih-widget>

</div>