<div *ngIf="newDatalinkTransformItemForm && inputColumns && outputColumns">

	<dexih-widget-section *ngIf="datalinkTransformForm" title="Edit Custom Function" [showExpandButton]="true">
		<ng-template #header>
			<dexih-button-validate class="mr-1" (click)="test()" text="Syntax Check"></dexih-button-validate>
			<dexih-button-download class="mr-1" (click)="downloadCode()" text="Download Code"></dexih-button-download>
			<dexih-button-apply [disabled]="newDatalinkTransformItemForm.pristine"
				(click)="!newDatalinkTransformItemForm.pristine && applyExit()" class="mr-1"></dexih-button-apply>
			<dexih-button-cancel (click)="cancel()"></dexih-button-cancel>
		</ng-template>

		<form *ngIf="newDatalinkTransformItemForm" [formGroup]="newDatalinkTransformItemForm">
			<fieldset>
				<div class="form-row">
					<section *ngIf="functionType != eFunctionType.Validate && functionType != eFunctionType.condition"
						class="col col-xs-4" [ngStyle]="{'z-index': 305, 'position': 'relative'}">
						<form-select label="Action when null" formControlName="onNull" [items]="onNullActions"
							itemKey="key" itemName="name" iconClass="fa fa-database" [enableFilter]="false">
						</form-select>
					</section>
					<section class="col col-xs-4" [ngStyle]="{'z-index': 304, 'position': 'relative'}">
						<form-select label="Action when error" formControlName="onError" [items]="onErrorActions"
							itemKey="key" itemName="name" iconClass="fa fa-database" [enableFilter]="false">
						</form-select>
					</section>
					<section *ngIf="selectedFunction && selectedFunction?.returnType == 'Boolean'" class="col col-xs-4"
						[ngStyle]="{'z-index': 303, 'position': 'relative'}">
						<form-checkbox label="Return 'NOT' result" formControlName="notCondition">
						</form-checkbox>
					</section>
					<div *ngIf="functionType == eFunctionType.Validate" class="col col-xs-4"
						[ngStyle]="{'z-index': 302, 'position': 'relative'}">
						<form-select label="Action when false" formControlName="invalidAction" [items]="invalidActions"
							itemKey="key" itemName="name" iconClass="fa fa-database" [enableFilter]="false">
						</form-select>
					</div>
				</div>
				<div>
					<div class="label">
						Input Parameters
					</div>
					<div *ngIf="inputParameters.length === 0" class="mb-1">
						<dexih-button (click)="addParameter(null, eParameterDirection.Input)"
							iconClass="fa fa-plus-square-o" title="Click to add a parameter">Add Parameter
						</dexih-button>
					</div>
					<div *ngFor="let inputParameter of inputParameters; let i = index" class="pl-2"
						[ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
						<input-parameter [allowNameSelect]="true" [allowDataTypeSelect]="true"
							[inputParameterForms]="[inputParameter]" [inputColumns]="inputColumns"
							[nodeDatalinkColumnKey]="datalinkTransformForm.controls.nodeDatalinkColumn.value?.key"
							(hasChanged)="parameterHasChanged($event)" [updateParameterName]="true"
							(addParameter)="addParameter($event, eParameterDirection.Input)"
							(removeParameter)="removeParameter($event)" [allowAdd]="true" [allowRemove]="true">
						</input-parameter>
					</div>
				</div>
				<div *ngIf="functionType != eFunctionType.Condition && functionType != eFunctionType.JoinCondition">
					<div class="label mb-1">
						Output Parameters
					</div>
					<div [ngStyle]="{'z-index': 101, 'position': 'relative'}">
						<output-parameter [allowNameSelect]="false" [allowDataTypeSelect]="true"
							[outputParameterForm]="returnParameterForm" [outputColumns]="outputColumns"
							(addParameter)="addParameter($event, eParameterDirection.Output)"></output-parameter>
					</div>
					<div *ngIf="outputParameters.length === 0">
						<dexih-button (click)="addParameter(null, eParameterDirection.Output)"
							iconClass="fa fa-plus-square-o" title="Click to add a parameter">Add Parameter
						</dexih-button>
					</div>
					<div *ngFor="let parameter of outputParameters; let i = index"
						[ngStyle]="{'z-index': 100-i, 'position': 'relative'}">
						<output-parameter [allowNameSelect]="true" [allowDataTypeSelect]="true"
							[outputParameterForm]="parameter" [outputColumns]="outputColumns"
							[updateParameterName]="true"
							(addParameter)="addParameter($event, eParameterDirection.Output)"
							(removeParameter)="removeParameter($event)" [allowAdd]="true" [allowRemove]="true">
						</output-parameter>
					</div>
				</div>
				Function Code
				<textarea class='form-control' rows="20" width="100%" spellcheck="false"
					formControlName="functionCode"></textarea>
			</fieldset>
		</form>
	</dexih-widget-section>



	<dexih-widget-section *ngIf="datalinkTransformForm && newDatalinkTransformItemForm" title="Test Function"
		[showExpandButton]="true">
		<ng-template #header>
			<button class="btn btn-success mr-1" (click)="test()">Syntax Check</button>
			<button class="btn btn-success mr-1" (click)="test(inputParameterValues)">Run</button>
			<button class="btn btn-success" (click)="downloadCode(inputParameterValues)">Download Code</button>
		</ng-template>

		<form>
			<div class="label">
				Input Parameters
			</div>
			<div *ngFor="let inputParameter of inputParameters; let i = index"
				[ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
				<form-input [label]="inputParameter.controls.name.value" [(ngModel)]="inputParameterValues[i]"
					[name]="'inputParameterValues' + i" type="text" placeholder="Enter a test value for the parameter">
				</form-input>
			</div>
			<form-input label="Return Value" [disabled]="true" [(ngModel)]="returnParameterValue"
				name="returnParameterValue" type="text"></form-input>
			<div class="label" *ngIf="outputParameters.length > 0">
				Outputs Parameters
			</div>
			<div *ngFor="let outputParameter of outputParameters; let i = index"
				[ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
				<form-input [disabled]="true" [label]="outputParameter.controls.name.value"
					[(ngModel)]="outputParameterValues[i]" [name]="'outputParameterValues' + i" type="text">
				</form-input>
			</div>
		</form>
	</dexih-widget-section>
</div>