<div [ngClass]="{ 'd-none': maximizedItem}">

    <d-widget-section *ngIf="showEdit" title="Properties" [showExpandButton]="true">
        <form *ngIf="formsService.currentForm " [formGroup]="formsService.currentForm" class="container">
            <fieldset>
                <section>
                    <form-input label="Dashboard Name" formControlName="name" placeholder="Enter the dashboard name."
                        [autocapitalize]="true" iconClass="fa fa-list" [errors]="formsService.formErrors['name']">
                    </form-input>
                </section>
                <section>
                    <form-textarea label="Description" [showPreview]="true"  [isHidden]="true" formControlName="description"
                        placeholder="Enter the description.">
                    </form-textarea>
                </section>
                <section>
                    <div class="form-row">
                        <section class="form-group col-md-3">
                            <form-input type="number" label="Minimum Columns" formControlName="minCols">
                            </form-input>
                        </section>
                        <section class="form-group col-md-3">
                            <form-input type="number" label="Maximum Columns" formControlName="maxCols">
                            </form-input>
                        </section>
                        <section class="form-group col-md-3">
                            <form-input type="number" label="Minimum Rows" formControlName="minRows">
                            </form-input>
                        </section>
                        <section class="form-group col-md-3">
                            <form-input type="number" label="Maximum Rows" formControlName="maxRows">
                            </form-input>
                        </section>
                        <d-button-refresh (click)="updateGrid()" text="Update Grid"></d-button-refresh>
                    </div>

                </section>

                <section>
                    <form-checkbox formControlName="autoRefresh" label="Automatically refresh data when view is opened">
                    </form-checkbox>
                    <form-checkbox label="Table is shared in the catalog to users with read access." formControlName="isShared">
					</form-checkbox>
                </section>

            </fieldset>
        </form>
    </d-widget-section>

    <d-widget-section  title="Parameters" *ngIf="showEdit || parameters?.length > 0" [showExpandButton]="true" (onChange)="parameterChange()">
        <div class="container">
            <input-parameters [showEdit]="showEdit" [parameters]="parameters"
                [formsService]="formsService" (onChange)="parameterChange()" (onRefreshData)="refresh()" [refreshEvent]="refreshDataObservable" ></input-parameters>
        </div>
    </d-widget-section>

    <d-widget-section *ngIf="inputColumns && inputColumns.length > 0" title="InputColumns" [showExpandButton]="true">
        <div class="container">
            <span *ngFor="let column of inputColumns; let i = index" class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {{column.logicalName}}
                    </div>
                </div>
                <form-input name="column{{i}}" class="form-control p-0" [placeholder]="'Enter ' + column.logicalName"
                    [(ngModel)]="column.value"></form-input>
            </span>
        </div>
    </d-widget-section>

    <div style="height:800px">
        <gridster [options]="options" #gridster>
            <ng-template [ngIf]="dashboardItemControls">
                <gridster-item
                    [item]="{x: item.controls.x.value, y: item.controls.y.value, cols: item.controls.cols.value, rows: item.controls.rows.value, control: item}"
                    *ngFor="let item of dashboardItemControls.controls; let i = index;">
                    <dashboard-item [item]="item" [showEdit]="showEdit" (onRemove)="removeItem(i)"
                        (onMaximize)="maximize($event)" [refreshData]="item.controls.runTime.value.refreshData">
                    </dashboard-item>
                </gridster-item>
            </ng-template>
        </gridster>
    </div>
</div>
<div *ngIf="maximizedItem" class="position-relative" style="height:800px; overflow: hidden;">
    <dashboard-item [item]="maximizedItem" [showEdit]="showEdit" (onRemove)="removeItem(i)"
        (onMaximize)="maximize($event)" [refreshData]="maximizedItem.controls.runTime.value.refreshData"
        [isMaximized]="true">
    </dashboard-item>
</div>