<dexih-button-dropdown buttonClass="btn-primary" iconClass="fa fa-file-o" text="New" [pullRight]="pullRight">
        <li>
            <a class="dropdown-item" [routerLink]="['connection-new', eConnectionPurpose.Source]">Source Database/Service</a>
        </li>
        <li>
            <a class="dropdown-item"  [routerLink]="['connection-new', eConnectionPurpose.Managed]">Managed Database</a>
        </li>
        <li>
            <a class="dropdown-item" [routerLink]="['connection-new', eConnectionPurpose.Target]">Target Connection</a>
        </li>
</dexih-button-dropdown>
