
<div class="container-fluid">
    <dexih-widget 
    [title]="'Edit Table ('  + formsService.currentForm?.controls?.name?.value +')'" 
    iconClass="fa fa-lg fa-fw fa-table" 
    [showCloseButton]="true"
    (close)="close()"
    >
        <ng-template #header>
            <dexih-invalid-form-details class="mr-1" [control]="formsService.currentForm" (click)="formsService.showErrors()"></dexih-invalid-form-details>
            <actions-table-button class="mr-1" [showEdit]="false" [tables]="this.formsService?.currentForm?.value ? [this.formsService?.currentForm?.value] : []" (changedTables)="changedTables($event)"></actions-table-button>
            <dexih-button class="mr-1" *ngIf="hubCache?.canWrite && connectionReference?.connectionCategory == eConnectionCategory.File" 
            (click)="createPaths()" title="Create the file paths (or folders)." iconClass="fa fa-folder-open" buttonClass='btn-primary'>
                Create Paths
            </dexih-button>
            <save-button class="mr-1" *ngIf="hubCache?.canWrite" [formsService]="formsService"></save-button>
            <cancel-button [formsService]="formsService"></cancel-button>
        </ng-template>

        <div>
        <router-outlet></router-outlet>
    </div>
    </dexih-widget>
</div>


