[Unit]
Description=Dexih Api Kestrel Service

[Service]
WorkingDirectory=/home/ubuntu/dexih.api
ExecStart=/usr/bin/dotnet /home/ubuntu/dexih.api/dexih.api.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=dexih.api
User=ubuntu
Environment=AppSettings__RepositoryType=""
Environment=ConnectionStrings__DefaultConnection=""
Environment=AppSettings__GoogleClientId=""
Environment=AppSettings__GoogleClientSecret=""
Environment=AppSettings__MicrosoftClientId=""
Environment=AppSettings__MicrosoftClientSecret=""
Environment=AppSettings__EncryptionKey=
Environment=AppSettings__SendGridAPI=""
Environment=AppSettings__DefaultProxyUrl="http://52-166-161-208.proxy.dexih.com"
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://+:5000
Environment=Logging__LoveLevel__Default="Debug"
Environment=AppSettings__SignalrConnectionString=""
Environment=AppSettings__EmailError=true

[Install]
WantedBy=multi-user.target
