<div class="container" *ngIf="formsService.currentForm">
	<d-widget title="Edit List of Values" iconClass="fa fa-lg fa-list-alt" [showCloseButton]="true" [padding]="false"
		(close)="close()">
		<ng-template #header>
			<dexih-invalid-form-details [control]="formsService.currentForm" (click)="formsService.showErrors()" class="mr-1"></dexih-invalid-form-details>
			<save-button *ngIf="hubCache.canWrite" [formsService]="formsService" class="mr-1"></save-button>
			<cancel-button [formsService]="formsService"></cancel-button>
		</ng-template>

		<form [formGroup]="formsService.currentForm" class="m-3">
			<fieldset>
				<section>
					<form-input label="List of Values" formControlName="name"
						placeholder="Enter the list of values name." [autocapitalize]="on" iconClass="fa fa-list"
						[errors]="formsService.formErrors['name']">
					</form-input>
				</section>
				<section>
					<form-textarea label="Description" [showMarkdown]="true" formControlName="description"
						placeholder="Enter the description.">
					</form-textarea>
				</section>
				<section>
					<div class="form-row">
						<section class="form-group col-md-6">
							<form-select label="Data Source Type" formControlName="sourceType" [items]="sourceTypes"
								itemKey="key" itemName="name" iconClass="fa fa-database"
								note='Specify the source type for this view' [enableFilter]="false">
							</form-select>
						</section>
						<section class="form-group col-md-6"
							*ngIf="formsService.currentForm.value.sourceType == eLOVObjectType.Table">
							<form-select label="Source Table" formControlName="sourceTableKey"
								[errors]="errors?.sourceTableKey" [items]="connectionTables" parentName="name"
								childItems="dexihTables" itemKey="key" itemName="logicalName"
								note="Select the source table">
								<table-edit-button [key]="formsService.currentForm.controls.sourceTableKey.value"></table-edit-button>
							</form-select>
						</section>
						<section class="form-group col-md-6"
							*ngIf="formsService.currentForm.value.sourceType == eLOVObjectType.Datalink">
							<form-select label="Source Datalink" formControlName="sourceDatalinkKey"
								[errors]="errors?.sourceDatalinkKey" [items]="datalinks" itemKey="key" itemName="name"
								note='Select the source datalink'>
								<datalink-edit-button [key]="formsService.currentForm.controls.sourceDatalinkKey.value"></datalink-edit-button>
							</form-select>
						</section>
					</div>
					<div class="form-row" *ngIf="tableColumns">
						<section class="form-group col-md-4">
							<form-select label="Key Column" formControlName="keyColumn" [items]="tableColumns"
								itemKey="name" itemName="name" iconClass="fa fa-key" [allowNullSelect]="true" [enableFilter]="false">
							</form-select>
						</section>
						<section class="form-group col-md-4">
							<form-select label="Name Column" formControlName="nameColumn" [items]="tableColumns"
								itemKey="name" itemName="name" iconClass="fa fa-circle-o" [allowNullSelect]="true" [enableFilter]="false">
							</form-select>
						</section>
						<section class="form-group col-md-4">
							<form-select label="Description Column" formControlName="descriptionColumn"
								[items]="tableColumns" itemKey="name" itemName="name" [allowNullSelect]="true" iconClass="fa fa-comment-o"
								[enableFilter]="false">
							</form-select>
						</section>
					</div>
					
					<div class="form-row" *ngIf="tableColumns">
						<section class="form-group col-md-12">
							<div class="d-flex flex-wrap pt-1">
								<form-checkbox class="input-group-prepend" label="Cache Lookup" formControlName="cache" [border]="true"></form-checkbox>
								<form-input type="number" class="pl-1" *ngIf="formsService.currentForm.controls.cache.value" labelLeft="Cache Seconds" placeholder="seconds" title="Specify the number of seconds to cache the lookup" formControlName="cacheSeconds"></form-input>
							</div>								
						</section>
					</div>
				</section>
			</fieldset>
		</form>

		<d-widget-section *ngIf="formsService.currentForm.value.sourceType == eLOVObjectType.Static" title="Static Values"
			[showExpandButton]="true">
			<ng-template #header>
				<d-button class="mr-1" (click)="add(-1)" iconClass="fa fa-plus">Insert Item</d-button>
				<d-button-delete (click)="clear()" text="Clear All"></d-button-delete>
			</ng-template>
		
			<form *ngFor="let itemForm of formsService.currentForm.controls.staticData.controls; let i = index;"
				[formGroup]="itemForm" class="flex-fill">
				<div class="input-group">		
					<div class="form-control p-0">
						<form-input [border]="false" formControlName="key" type="text" placeholder="Key Value">
						</form-input>
					</div>
					<div class="form-control p-0">
						<form-input [border]="false" formControlName="name" type="text" placeholder="Item name">
						</form-input>
					</div>
					<div class="form-control p-0">
						<form-input [border]="false" formControlName="key" type="text" placeholder="Description">
						</form-input>
					</div>

					<div class="input-group-append flex-shrink-1 ml-1 ">
						<button class="btn btn-light" type="button" (click)="add(i)"  value="Add">
							<i class="fa fa-plus-square-o"></i>
						</button>
						<button class="btn btn-light" type="button" (click)="remove(i)"  value="Remove">
							<i class="fa fa-minus-square-o"></i>
						</button>
					</div>
				</div>
			</form>

		</d-widget-section>
		
		<ng-template [ngIf]="formsService.currentForm.value.sourceType !== eLOVObjectType.Static">
			<d-widget-section title="Query Configuration" [showExpandButton]="true">
				<query-builder [selectQuery]="formsService.currentForm.controls.selectQuery.value" [columns]="tableColumns"
					[inputColumns]="inputColumns" [parameters]="null" (hasChanged)="hasChanged()" [refreshEvent]="refreshDataSubject.asObservable()" (onRefreshData)="refreshData()"></query-builder>
			</d-widget-section>
		
			<div *ngIf="!data" class="m-3">
				<d-button-refresh (click)="refreshData()" text="Reload" [autoCompact]="false"></d-button-refresh>
			</div>
		
			<d-table *ngIf="data" [enableMultiSelect]="false" [enableSaveCsv]="true" [columns]="columns" [data]="data">
				<ng-template #actions let-items="items">
					<d-button-refresh class="mr-1" (click)="refreshData()" text="Reload"></d-button-refresh>
				</ng-template>
			</d-table>
		</ng-template>
	</d-widget>

</div>