<div class="list-group-item p-0 rounded-0" *ngIf="mappingStatusInfoLineage.key != eMappingStatus.Mapped" [title]="column.logicalName + ' ' + column.dataType" (click)="editColumn()">
    <div class="d-flex flex-row">

        <i class="input-group-text rounded-0  border-0 border-r1" [ngClass]="mappingStatusInfoLineage.statusClass" [title]="mappingStatusInfoLineage.name"></i>
        <span class="flex-fill input-group-text ellipsis-overflow rounded-0 border-0">
            {{column.logicalName}}
        </span>
        <i class="input-group-text rounded-0  border-0 border-r1" [ngClass]="mappingStatusInfoImpact.statusClass" [title]="mappingStatusInfoImpact.name"></i>
    </div>
</div>
<div class="list-group-item p-0 rounded-0" *ngIf="mappingStatusInfoLineage.key == eMappingStatus.Mapped" [title]="column.logicalName + ' ' + eTypeCode[column.dataType]"
    (click)="editColumn()">
    <div class="d-flex flex-row">

        <i class="input-group-text rounded-0  border-0 border-r1" [ngClass]="mappingStatusInfoLineage.statusClass" [title]="mappingStatusInfoLineage.name"></i>
        <span class="flex-fill input-group-text ellipsis-overflow rounded-0 border-0">
            {{column.logicalName}}
        </span>

        <i class="input-group-text rounded-0  border-0 border-r1" [ngClass]="mappingStatusInfoImpact.statusClass" [title]="mappingStatusInfoImpact.name"></i>
    </div>
</div>
<!-- <div *ngIf="childColumns?.length > 0" class="p-2">
    <output-column *ngFor="let childColumn of childColumns" [column]="childColumn" [datalinkTransformForm]="datalinkTransformForm"></output-column>
</div> -->