<div>
	<div class="widget-body-toolbar">
		<div class="form-row">
			<div class="col-sm-6">
				<h5>Transform Output Columns</h5>
			</div>
			<div class="col-sm-6 text-right">
                <d-button-close (click)="close()"></d-button-close>
			</div>
		</div>
	</div>

    <d-table 
        [enableMultiSelect]="true"
        [enableManualSort]="true"
        (onSortChanged)="columnSortChange($event)"
        sortColumn="position"
        [columns]="columns"
        [dataObservable]="columnData"
        >
            <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                <d-button-delete (click)="deleteSelected(items)" title="Delete selected columns"></d-button-delete>
            </ng-template>

            <ng-template #selectedItemAction select="selectedItemAction" let-column="item">
                <d-button-edit (click)="editColumn(column)" title="Edit the column"></d-button-edit>
            </ng-template>

            <ng-template #actions select="actionsTemplate" let-items="items">
                <d-button-new (click)="deleteSelected(items)" title="Create a new column"></d-button-new>
            </ng-template>

    </d-table>
</div>
