<div class="container-fluid">
    <dexih-widget title="Hub Variables" 
		iconClass="fa fa-lg fa-fw fa-at" 
		[showCloseButton]="true"
		(close)="close()"
	>
 

		<dexih-table 
			[enableMultiSelect]="true"
			[enableStickyToolbar]="true"
			[columns]="columns"
			[dataObservable]="tableData"
			(rowClick)="edit($event)"
			[tags]="this.hubCache.hub.dexihTags"
			>
				<ng-template #selectedItemAction select="selectedItemAction" let-hubVariable="item">
					<dexih-button-edit class="mr-1" [routerLink]="['hubVariable-edit', hubVariable.key]" queryParamsHandling preserveFragment></dexih-button-edit>
				</ng-template>

				<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
					<dexih-button-save-local class="mr-1" (click)="export(items)"></dexih-button-save-local>
					<dexih-button-delete *ngIf="hubCache.canWrite" class="mr-1" (click)="deleteHubVariables(items)"></dexih-button-delete>
					<tags-update-button class="mr-1" [objectType]="eSharedObjectType.HubVariable" [objects]="items" ></tags-update-button>
				</ng-template>

				<ng-template #actions let-items="items">
					<dexih-button-new *ngIf="hubCache.canWrite" class="mr-1" [routerLink]="['hubVariable-new']"></dexih-button-new>
				</ng-template>
		</dexih-table>

	</dexih-widget>
	
	<dexih-help class="m-3" title="Hub Variables" path="/assets/help/reference/hubVariable.md"></dexih-help>

</div>


