<d-widget-section title='Validation' [showExpandButton]="false">
<div *ngIf="!datalinkTransformForm">
    <div class="alert alert-danger m-3">
        Target column validation is not enabled.
        <hr>
        <d-button *ngIf="!datalinkTransformForm" (click)="enableValidation()" buttonClass="btn btn-success" iconClass="fa fa-check"  [autoCompact]="false"
            title="Enable the validation on the target table.">Enable</d-button>
    </div>
</div>

<div *ngIf="datalinkTransformForm">

    <form *ngIf="datalinkTransformForm" [formGroup]="datalinkTransformForm">
        <fieldset>
            <section>
                <d-button (click)="disableValidation()" buttonClass="btn btn-success" iconClass="fa fa-check" [autoCompact]="false"
                    title="Enable the validation on the target table.">Disable Validation</d-button>
            </section>
            <section>
                <form-textarea label="Description" formControlName="description" placeholder="Enter the description.">
                </form-textarea>
            </section>
        </fieldset>
    </form>
</div>
</d-widget-section>

<div class="list-group-item p-1">

    <div *ngIf="datalinkTransformForm" class="d-flex">
        <div class="mr-1 d-none d-md-inline">
            <div>
                <div class="alert alert-primary mb-1">
                    <h4>Inputs</h4>
                </div>
                <div>
                    <input-columns [datalinkTransformForm]='datalinkTransformForm'></input-columns>
                </div>
            </div>
        </div>

        <div class="w-100">
            <mapping [datalinkTransformForm]="datalinkTransformForm" [allowCondition]="true" [allowOutput]="true"
               [allowStandard]="true" [allowValidation]="true" title="Validation">
            </mapping>
        </div>

        <div class="ml-1 d-none d-md-inline">
            <div class="alert alert-primary mb-1">
                <h4>Outputs
                    <div class="float-right">
                    </div>
                </h4>
            </div>
            <output-columns [datalinkTransformForm]='datalinkTransformForm' [allowMappingOutputs]="false"></output-columns>
        </div>

    </div>
</div>
