$theme-colors: (
  "primary": #3a5f8d,
  "secondary": #89B3BF,
  "success": #479762,
  "info": rgb(190, 216, 223),
  "warning": #c4872a,
  "danger": #f44336,
  "light": #f8f9fa,
  "dark": #1F2624
);


pre {
    padding: .75rem;
    background-color: lightgray;
}