$theme-colors: (
  "primary": #07689F,
  "secondary": #519ede,
  "success": #459132,
  "info": #A2D5F2,
  "warning": #FF7E67,
  "danger": #e54343,
  "light": #FAFAFA,
  "dark": #4e4e4e
);


pre {
    padding: .75rem;
    background-color: lightgray;
}