<div class="container-fluid">
	<d-widget *ngIf="message" title="Notification" iconClass="fa fa-lg fa-fw fa-bell" [showCloseButton]="true" (close)="close()" [padding]="true" >
		<section *ngIf="message">
				<div class="alert  clearfix" [class.alert-danger]="message.success == false" [class.alert-success]="message.success == true">
					{{message.message}}
					<div *ngIf="message.exceptionDetails && message.message != message.exceptionDetails">
						<hr>
						<pre>{{message.exceptionDetails}}</pre>
					</div>
				</div>
			</section>
	</d-widget>
</div>