<div class="side-menu">
    <div class="side-menu-content">
        <div class="spin-icon">
            <i class="fa fa-cog fa-spin"></i>
        </div>
        <div class="side-menu-box">
            <div class="bg-light rounded p-1">
                <div>
                    <d-button-refresh [compact]="true" (click)="refresh()"></d-button-refresh>
                    <d-button-edit *ngIf="!this.showEdit" class="ml-1" [compact]="true" (click)="toggleEdit()">
                    </d-button-edit>
                    <d-button-preview *ngIf="this.showEdit" class="ml-1" [compact]="true" (click)="toggleEdit()">
                    </d-button-preview>
                    <d-button *ngIf="!isMaximized" class="ml-1" buttonClass="btn btn-primary"
                        iconClass="fa fa-window-maximize text-white" (click)="maximise()" tooltip="Maximize window">
                    </d-button>
                    <d-button *ngIf="isMaximized" class="ml-1" buttonClass="btn btn-primary"
                        iconClass="fa fa-window-minimize text-white" (click)="maximise()" tooltip="Minimize window">
                    </d-button>
                    <d-button-delete class="ml-1" (click)="removeItem($event)" [compact]="true">
                    </d-button-delete>
                </div>

                <div *ngIf="!showEdit && !showPreview && view">

                    <div class="m-1" *ngIf="inputColumns && inputColumns.length > 0">
                        <span *ngFor="let column of inputColumns; let i = index" class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    {{column.logicalName}}
                                </div>
                            </div>
                            <form-input name="column{{i}}" class="form-control p-0"
                                [placeholder]="'Enter ' + column.logicalName" [(ngModel)]="column.value"></form-input>
                        </span>
                    </div>

                    <div class="m-1" *ngIf="item.controls.parameters.length > 0">
                        <input-parameters [showEdit]="false" [parameters]="item.controls.parameters"
                            [formsService]="formsService" [parentParameters]="parentParameters"
                            (onRefreshData)="refresh()" [refreshEvent]="refreshDataObservable">
                        </input-parameters>
                    </div>

                    <div *ngIf="!data?.isRefreshing && dataResult?.columns?.length > 0 && dataResult?.viewConfig && dataResult?.data"
                        class="m-1" style="z-index: 99999;">
                        <series-animate [showEdit]="false" [showFrame]="false"
                            [animateConfig]="dataResult?.viewConfig.animateConfig" [columns]="dataResult?.columns"
                            (hasChanged)="hasChanged()" [baseData]="dataResult?.data" [(data)]="dataRows">
                        </series-animate>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showEdit" class="p-3 gridster-item-content">
    <form [formGroup]="item">
        <section>
            <form-input label="Item Name" formControlName="name" placeholder="Enter the dashboard item name."
                [autocapitalize]="on" iconClass="fa fa-list">
            </form-input>
        </section>
        <section>
            <form-textarea label="Description" [showPreview]="true"  [isHidden]="true" formControlName="description"
                placeholder="Enter the description.">
            </form-textarea>
        </section>
        <section>
            <form-select label="Select View" formControlName="viewKey" [items]="views" itemKey="key" itemName="name">
                <view-edit-button [key]="item.controls.viewKey.value"></view-edit-button>
            </form-select>
        </section>
        <section>
            <form-checkbox label="Show Header" formControlName="header">
            </form-checkbox>
            <form-checkbox label="Allow Scrolling" formControlName="scrollable">
            </form-checkbox>
        </section>
    </form>

    <input-parameters [showEdit]="showEdit" [allowAddRemove]="false" [parameters]="item.controls.parameters" [formsService]="formsService"
        [parentParameters]="parentParameters" (onRefreshData)="refresh()" [refreshEvent]="refreshDataObservable">
    </input-parameters>

</div>

<ng-template [ngIf]="!showEdit">

    <div *ngIf="!showPreview && view" class="box" [ngStyle]="{'overflow': item.controls.scrollable.value ? 'scroll' : 'hidden'}">
        <div *ngIf="data?.isRefreshing; else notRefreshing" class="p-3">
            <div class="dexih-loader"></div> Refreshing, please wait...
        </div>
        
        <ng-template #notRefreshing>

            <div *ngIf="item.controls.header.value" class="box-header bg-secondary text-white">
                <div class="m-3">
                    <b>{{item.controls.name.value}}</b>
                </div>
            </div>
        
            <div *ngIf="item.controls.description.value" class="box-header">
                <div class="m-1">
                    <markdown [data]="item.controls.description.value"></markdown>
                </div>
            </div>
    

            <div class="box-content"
                *ngIf="!data?.isRefreshing && dataResult?.columns?.length > 0 && dataResult?.data?.length > 0; else elseBlock">

                <d-table *ngIf="view.viewType == eViewType.Table" [enableMultiSelect]="false" [enableResponsive]="false"
                    [enableSaveCsv]="false" [csvFileName]="item.controls.name.value + '.csv'" [enableFilter]="false" [columns]="dataResult.columns" [data]="dataRows">
                </d-table>

                <div class="h-100">
                <chart-view [responsive]="true" *ngIf="view.viewType == eViewType.Chart" [columns]="dataResult.columns"
                    [data]="dataRows" [config]="view.chartConfig">
                </chart-view>
            </div>
            </div>
            <ng-template #elseBlock>
                <div class="alert alert-info" (click)="refresh()">
                    <i class="fa fa-warning"></i>
                    Select to refresh the view.
                </div>
            </ng-template>
        </ng-template>
    </div>
</ng-template>