<dexih-widget #widget [title]="item.controls.name.value" [padding]="false" class="dashboard-item">
    <ng-template #header>
        <dexih-button-delete *ngIf="showEdit"  (click)="removeItem($event)" [compact]="true"></dexih-button-delete>
        <dexih-button buttonClass="btn btn-outline" iconClass="fa fa-window-maximize text-white" (click)="maximise()"></dexih-button>
    </ng-template>
    <div *ngIf="showEdit" class="p-3 gridster-item-content">
        <form [formGroup]="item">
            <section>
                <form-input label="Item Name" formControlName="name" placeholder="Enter the dashboard item name." 
                    [autocapitalize]="on" iconClass="fa fa-list">
                </form-input>
            </section>
            <section>
                <form-textarea label="Description" [showMarkdown]="true" formControlName="description"
                    placeholder="Enter the description.">
                </form-textarea>
            </section>
            <section>
                <form-select label="Select View" formControlName="viewKey" [items]="views" itemKey="key"
                    itemName="name">
                    <dexih-button-new (click)="newView()"></dexih-button-new>
                </form-select>
            </section>
        </form>

        <input-parameters [showEdit]="showEdit" [parameters]="item.controls.parameters" [formsService]="formsService" [parentParameters]="formsService.currentForm.controls.parameters.value"></input-parameters>
    </div>

    <div class="gridster-item-content" style="width: 100%; height: 100%;">
        <div *ngIf="item.controls.description.value" class="p-3">
                <ngx-md [data]="item.controls.description.value"></ngx-md>
        </div>
        <preview-view *ngIf="!showPreview && item.controls.viewKey.value" #view [viewKey]="item.controls.viewKey.value" [refreshData]="refreshData" [resizeEvent]="resizeEvent2"></preview-view>
    </div>
</dexih-widget>