<div class="container-fluid">
    <dexih-widget [title]="'Import Tables for ' + connection?.name" 
		iconClass="fa fa-lg fa-fw fa-database" 
		[showIf]="showPage"
		[loadingMessage]="showPageMessage"
		[showCloseButton] = "true"
		(close)="close()"
		[padding]="false"
	>
		<ng-template #header>

		</ng-template>

		<dexih-table 
			[enableMultiSelect]="true"
			[enableStickyToolbar]="true"
			[columns]="columns"
			[dataObservable]="tableData"
			(rowClick)="editTable($event)"
			>
				<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
					<dexih-button-splitdropdown class="mr-1" *ngIf="hubCache.canWrite" text="Import" buttonClass="btn btn-success" iconClass="fa fa-cloud-download" (buttonClick)="importSelected(items)" title="Import selected tables" >
						<a class="dropdown-item" (click)="newDatalinks(items)" title="Import tables and create default staging datalinks">Import &amp; Create Datalinks</a>
					</dexih-button-splitdropdown>
							
					<dexih-button-delete (click)="deleteSelected(items)" title="Delete selected tables"></dexih-button-delete>
				</ng-template>

				<ng-template #selectedItemAction select="selectedItemAction" let-table="item">
					<dexih-button-edit class="mr-1"  *ngIf="table.key" [routerLink]="['table-edit', table.key]" queryParamsHandling preserveFragment (click)="deleteSelected(items)" title="Edit this table"></dexih-button-edit>
				</ng-template>

				<ng-template #filter select="filter" let-items="items">
					<dexih-button-dropdown class="mr-1" buttonClass="btn-primary" iconClass="fa fa-download" [text]="tableFilter" title="Filter by import status" [pullRight]="true">
						<a class="dropdown-item" [class.active]="tableFilter=='All'" (click)="setTableFilter('All')">All</a>
						<a class="dropdown-item" [class.active]="tableFilter=='Imported'" (click)="setTableFilter('Imported')">Imported</a>
						<a class="dropdown-item" [class.active]="tableFilter=='NonImported'" (click)="setTableFilter('NonImported')">Non Imported</a>
					</dexih-button-dropdown>
	
					<dexih-button-dropdown class="mr-1" buttonClass="btn-primary" iconClass="fa fa-table" [text]="viewFilter" title="Filter by tables/views" [pullRight]="true">
						<a class="dropdown-item" [class.active]="viewFilter=='All'" (click)="setViewFilter('All')">All</a>
						<a class="dropdown-item" [class.active]="viewFilter=='Imported'" (click)="setViewFilter('Tables')">Tables</a>
						<a class="dropdown-item" [class.active]="viewFilter=='NonImported'" (click)="setViewFilter('Views')">Views</a>
					</dexih-button-dropdown>
				</ng-template>
		</dexih-table>

    </dexih-widget>
</div>
