<div *ngIf="!embed" class="container-fluid">
    <d-widget [title]="'Preview ' + title" iconClass="fa fa-lg fa-fw fa-table" [showCloseButton]="true"
        [padding]="false" (close)="close()">

        <ng-template #header>
            <d-button-refresh class="mr-1" (click)="previewData.refresh()" text="Reload"></d-button-refresh>
            <download-button class="ml-1" (download)="previewData.downloadData($event)"></download-button>
            <d-button-edit class="ml-1" (click)="edit()"></d-button-edit>


        </ng-template>

            <preview-data #PreviewData [hubKey]="hubKey" [objectType]="objectType" [objectKey]="objectKey" [updateQueryParameters]="true">
            </preview-data>
    </d-widget>
</div>

<div *ngIf="embed">
    <preview-data [hubKey]="hubKey" [objectType]="objectType" [objectKey]="objectKey" [updateQueryParameters]="false"></preview-data>
</div>