<div *ngIf="parameters">
    <span *ngFor="let parameter of userParameters; let i = index" class="input-group">
            <div class="input-group">
                <form-input [disabled]="true" labelLeft="Name" [border]="false" class="form-control p-0"
                [(ngModel)]="parameter.name">
                </form-input>
                <form-select labelLeft="Value" [border]="false" class="form-control p-0" [(ngModel)]="parameter.value"
                    itemKey="key"
                    itemName="name"
                    [items]="parameter.runTime" [enableTextEntry]="true"
                    [textEntryItems]="parentParams"
                    textEntryItemsTitle="Linked Parameters"
                    (ngModelChange)="change($event)"
                    >

                    <ng-template #startItems>
                        <li class="scrollable-item" *ngIf="parameter.listOfValuesKey > 0" >
                             <a (click)="refresh(parameter)" class="dropdown-item"><i class="fa fa-refresh"></i> Refresh ...</a>
                        </li>
                    </ng-template>
                </form-select>
            </div>
    </span>
</div>
