<div class="container-fluid" *ngIf="datalinkForm && !datalinkForm.pending">
	<d-widget title="Edit Datalink" iconClass="fa fa-lg fa-fw fa-exchange" [showCloseButton]="true"
		[padding]="false" (close)="cancel()">
		<ng-template #header>
			<div class="ml-auto">
				<div class="d-flex align-items-center">
				<datalink-status class="d-none d-xl-inline" [datalinkKey]='datalinkForm?.controls.key.value' class="mr-1">
				</datalink-status>
				<d-button-dropdown class="mr-1" iconClass="fa fa-plus" text="Options">
					<d-dropdown-item *ngIf="!validationTransform" iconClass="fa fa-check-square-o" text="Enable target table validation" (click)="enableValidation()"></d-dropdown-item>
					<d-dropdown-item  iconClass="fa fa-arrow-circle-right" text="Add a target table." [routerLink]="['target', 'table-new']"></d-dropdown-item>
				</d-button-dropdown>
				<datalink-save-button></datalink-save-button>
			</div>
			</div>
		</ng-template>

		<div *ngIf="datalinkTransforms" class="bg-light pt-1 pb-1 d-flex">
			<ul class="transform-container">
				<div class="d-flex m-3">
					<transform-step 
						[routerLinkCurrent]="['properties']"
						[name]="'Properties'"
						[title]="'Edit the properties.'"
						[icon]="'fa fa-cog'"
						[control]=""
						[showDelete]="false"
						[showArrow]="false" >
					</transform-step>
					
					<transform-step 
						[routerLinkAfter]="['new', 1]"
						[routerLinkCurrent]="['source']"
						[routerLinkPreview]="source.link"
						[name]="source.name"
						[title]="source.name + ' ' + (source.description ? source.description : '')"
						[icon]="source.icon"
						[control]=""
						[showDelete]="false" >
					</transform-step>
				
					<ng-template ngFor let-datalinkTransform [ngForOf]="datalinkTransforms" let-isLast="last" let-isFirst="first">
	
						<transform-step 
							[routerLinkBefore]="['new', datalinkTransform.transform.value.position - 1]"
							[routerLinkAfter]="['new', datalinkTransform.transform.value.position + 1]"
							[routerLinkCurrent]="['transform', datalinkTransform.transform.value.key]"
							[routerLinkPreview]="['transform', datalinkTransform.transform.value.key, 'preview-transform-data']"
							[name]="datalinkTransform.name"
							[title]="datalinkTransform.name + ' transform.'"
							[icon]="datalinkTransform.icon"
							[control]="datalinkTransform.transform"
							[showDelete]="true"
							(onDelete)="deleteTransform(datalinkTransform.transform.value)">
						</transform-step>
	
					</ng-template>
	
					<transform-step *ngIf="datalinkTransforms.length === 0"
						[routerLinkBefore]="['new', 1]"
						[routerLinkAfter]="['new', 1]"
						[routerLinkCurrent]="['new', 1]"
						[name]="'Add Transform'"
						[title]="'Add new transform'"
						[icon]="'fa fa-plus'"
						[showDelete]="false"
					></transform-step>
					
					<transform-step *ngIf="validationTransform"
						[routerLinkBefore]="['new', datalinkTransforms.length === 0 ? 1 : datalinkTransforms[datalinkTransforms.length-1].transform.value.position+1]"
						[routerLinkCurrent]="['validation']"
						[name]="'Validation'"
						[title]="'Validate Data'"
						[icon]="'fa fa-check-square-o'"
						[showDelete]="true"
						(onDelete)="disableValidation()">
					</transform-step>
	
					<transform-step 
						[routerLinkBefore]="['new', datalinkTransforms.length === 0 ? 1 : datalinkTransforms[datalinkTransforms.length-1].transform.value.position+1]"
						[routerLinkCurrent]="['target']"
						[name]="'Target'"
						[title]="'Target tables(s)'"
						[icon]="'fa fa-arrow-circle-right'"
						[control]=""
						[showArrow]="false"
						[showDelete]="false">
					</transform-step>
	
					<transform-step 
					[routerLinkCurrent]="['profiles']"
					[name]="'Profiles'"
					[title]="'Edit the profiles.'"
					[icon]="'fa fa-bug'"
					[control]=""
					[showDelete]="false"
					[isLast]="true" >
				</transform-step>
				</div>
	
			</ul>
		</div>
	
		<router-outlet></router-outlet>

	</d-widget>

	<dexih-help class="m-3" *ngIf="help" title="Datalinks" path="/assets/help/reference/{{help}}"></dexih-help>

</div>