<div class="m-3" *ngIf="!resultArray || resultArray?.length === 0 || !chartType">
    <div class="alert alert-warning">
        Chart not displayed.  Check the chart type, labels and series have been set.
    </div>
</div>

<div #wrapper class="chart-parent border" *ngFor="let results of resultArray; trackBy:trackChartChange; let index = index" >
   <div class="w-100 text-center "><div class="badge badge-secondary">{{results?.name}}</div></div> 
    <div *ngIf="results && chartType && chartOptions" class="position-relative w-100 h-100">
        <canvas baseChart 
            [datasets]="results.dataSets"
            [data]="results.data"
            [labels]="results.labels"
            [options]="chartOptions"
            [chartType]="chartType.type">
        </canvas>    
    </div>
</div>