<d-button-dropdown buttonClass="btn btn-outline-secondary text-white" iconClass="fa fa-tasks" [pullRight]="true" [badge]="count" badgeClass="badge-light" [hideCarrot]="true" title="Tasks">
    <div *ngIf="count==0">
        <h5 class="p-3">No tasks</h5>
    </div>
    <div class="m-0 list-group" class="tasks">
        <ng-template ngFor let-item [ngForOf]="tasks | async | fieldSortDesc : 'lastUpdate'">
            <a (click)="showTask(item)" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{item.name}}</h5>
                    <small>{{eManagedTaskStatus[item.status]}} {{item.percentage}}%</small>
                </div>
                <small *ngIf="item.stepName && !item.isCompleted">Step: {{item.stepName}}</small>
                <div class="mb-1">
                    <div class="progress" style="width: 100%">
                        <div class="progress-bar " [ngClass]="{'bg-success': item.status == eManagedTaskStatus.Completed, 'bg-info': item.status == eManagedTaskStatus.Created || item.status == eManagedTaskStatus.Running || item.status == eManagedTaskStatus.Scheduled, 'bg-danger':  item.status == eManagedTaskStatus.Error || item.status == eManagedTaskStatus.Cancelled }"
                            role="progressbar" [style.width]="item.percentage + '%'" [attr.aria-valuenow]="item.percentage" aria-valuemin="0"
                            aria-valuemax="100">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <d-button-cancel *ngIf="!item.isCompleted" [compact]="true" (click)="cancel(item)"></d-button-cancel>
                <small>Updated: {{item.lastUpdate | calendar }}</small>
            </a>

        </ng-template>
    </div>

</d-button-dropdown>