
<dexih-table [enableMultiSelect]="false" [enableSaveCsv]="true" [csvFileName]="csvFileName" [columns]="columns"
    [data]="data" [hideTable]="view !== 'table'">

    <ng-template #actions let-items="items">
        <dexih-button-refresh class="mr-1" (click)="refresh()" text="Reload"></dexih-button-refresh>
        <download-button class="ml-1" (download)="download($event)"></download-button>

        <div class="btn-group btn-group-toggle ml-1" data-toggle="buttons" title="Table">
            <label class="btn btn-primary" [ngClass]="{active: view==='table'}">
                <input type="radio" name="options" value="table" autocomplete="off" [(ngModel)]="view">
                <i class="fa fa-table"></i>
            </label>
            <label class="btn btn-primary" [ngClass]="{active: view==='chart'}" title="Chart">
                <input type="radio" name="options" value="chart" autocomplete="off" [(ngModel)]="view">
                <i class="fa fa-bar-chart"></i>
            </label>
            <label class="btn btn-primary" [ngClass]="{active: view==='properties'}" title="Query plan details">
                <input type="radio" name="options" value="properties" autocomplete="off" [(ngModel)]="view">
                <i class="fa fa-info"></i>
            </label>
        </div>

        <dexih-button-save *ngIf="allowViewSave" class="ml-1" (click)="save()"></dexih-button-save>
    </ng-template>

    <ng-template #tableHeader>
        <div class="mt-1">
        <div *ngIf="parameters?.length > 0" class="mb-3">
            Parameters
            <input-parameters-view [parameters]="parameters" [refreshEvent]="refreshDataSubject.asObservable()" (onRefreshData)="refresh()" (onChange)="parameterChange()"></input-parameters-view>
        </div>
                
        <query-builder [selectQuery]="selectQuery" [columns]="tableColumns" [inputColumns]="inputColumns" [parameters]="parameters">
        </query-builder>
    </div>
    </ng-template>

</dexih-table>

<div [ngStyle]="{'display': view === 'chart' ? 'block' : 'none' }" class="mt-1">
    <chart-builder [columns]="columns" [data]="data" [config]="chartConfig"></chart-builder>
</div>
<div [ngStyle]="{'display': view === 'properties' ? 'block' : 'none' }" class="mt-1">
    <transform-properties [transformProperties]='transformProperties'></transform-properties>
</div>
