<d-widget-section *ngIf="triggerFormService.currentForm" title="Edit Trigger" [showExpandButton]="false" >
	<ng-template #header>
			<d-button-apply [disabled]="!triggerFormService.hasChanged" class="mr-1" (click)="applyExit()"></d-button-apply>
			<d-button-cancel (click)="cancel()"></d-button-cancel>
	</ng-template>
	<form  [formGroup]="triggerFormService.currentForm">
		<fieldset>
			<div class="form-row">
				<section class="form-group col-md-6">
					<form-date label="Start Date" formControlName="startDate" [errors]="triggerFormService.formErrors.startDate" note="This is the date that the trigger will start.  Leave blank for immediate start.">
					</form-date>
				</section>
			</div>
			<div class="form-row">
				<section class="form-group col-md-3">
					<form-time label="Interval" [disableNative]="true" formControlName="intervalTime" [errors]="triggerFormService.formErrors.intervalTime"
					 note="The intra-day interval which the trigger restarts.  Leave blank for once a day jobs.">
					</form-time>
				</section>
				<section class="form-group col-md-3">
					<form-input type="number" label="Max Recurrences" formControlName="maxRecurs" placeholder="Enter the max recurrences"
					 iconClass="fa fa-refresh" [errors]="triggerFormService.formErrors.maxRecurs" note=" The maximum number of times job can recur in one day.">
					</form-input>
				</section>
				<section class="form-group col-md-3">
					<form-time label="Start Time" formControlName="startTime" [errors]="triggerFormService.formErrors.startTime" note="Time of the day the job will activate.">
					</form-time>
				</section>
				<section class="form-group col-md-3">
					<form-time label="End Time" formControlName="endTime" [errors]="triggerFormService.formErrors.endTime" note="Time of the day the triggers will deactivate.">
					</form-time>
				</section>
			</div>
			<section>
				<daysofweek label="Days of the week" formControlName="daysOfWeek" note=" The days of the week the trigger is valid.">
				</daysofweek>
			</section>
			<div class="form-row">

		</div>
		</fieldset>
	</form>
</d-widget-section>