<li class="nav-item" [ngClass]="{'active open' : expanded}">
    <a class="nav-link" [title]="title" (click)="toggle()">
        <span class="{{textClass}}" >
            <ng-template [ngTemplateOutlet]="itemTemplate">
            </ng-template>
            <i [class]="iconClass"></i>
        </span>
        <span class="menu-item-parent">{{name}}</span>
        <b class="float-right">
            <em *ngIf="expanded" class='fa fa-minus-square-o'></em>
            <em *ngIf="!expanded" class='fa fa-plus-square-o'></em>
        </b>

    </a>
    <ul class="nav-item" [@slideDown]='state' style="overflow: hidden; display: block">
        <ng-content></ng-content>
    </ul>
</li>