<div class="container-fluid" *ngIf="formsService">
	<d-widget title="Edit View" iconClass="fa fa-lg fa-fw fa-bar-chart" [showCloseButton]="true" [padding]="false"
	 (close)="close()">
		<ng-template #header>
			<dexih-invalid-form-details [control]="formsService.currentForm" (click)="formsService.showErrors()" class="mr-1"></dexih-invalid-form-details>
			<d-button-refresh class="mr-1" (click)="refresh()" text="Reload"></d-button-refresh>
			<download-button class="mr-1" (download)="download($event)"></download-button>
			
			<div class="btn-group btn-group-toggle mr-1" data-toggle="buttons" title="Table">
				<label class="btn btn-primary" [ngClass]="{active: showChart===false}">
					<input type="radio" name="options" value="table" autocomplete="off" (click)="toggleChart()">
					<i class="fa fa-table"></i>
				</label>
				<label class="btn btn-primary" [ngClass]="{active: showChart===true}" title="Chart">
					<input type="radio" name="options" value="chart" autocomplete="off" (click)="toggleChart()">
					<i class="fa fa-bar-chart"></i>
				</label>
			</div>

			<save-button *ngIf="hubCache.canWrite" [formsService]="formsService" class="mr-1"></save-button>
			<d-button-edit class="mr-1" (click)="toggleEdit()" [text]="showEdit ? 'Hide Edit' : 'Edit'"></d-button-edit>
			<cancel-button [formsService]="formsService"></cancel-button>
		</ng-template>

		<d-widget-section *ngIf="formsService.currentForm && (showEdit || formsService.currentForm?.controls.parameters.length > 0)" title="Properties" [showExpandButton]="true">
		<form *ngIf="showEdit" [formGroup]="formsService.currentForm">
			<fieldset>
				<section>
					<form-input label="View Name" formControlName="name" placeholder="Enter the view name." [autocapitalize]="true" iconClass="fa fa-list"
					 [errors]="formsService.formErrors['name']">
					</form-input>
				</section>
				<section>
					<form-textarea label="Description" [showPreview]="true" [isHidden]="true" formControlName="description" placeholder="Enter the description.">
					</form-textarea>
				</section>
				<section>
					<div class="form-row">
						<section class="form-group col-md-6">
							<form-select label="Data Source Type" formControlName="sourceType" [items]="sourceTypes" itemKey="key" itemName="name"
							 iconClass="fa fa-database" note='Specify the source type for this view' [enableFilter]="false">
							</form-select>
						</section>
						<section class="form-group col-md-6" *ngIf="formsService.currentForm.value.sourceType == eDataObjectType.Table">
							<form-select label="Source Table" formControlName="sourceTableKey" [errors]="formsService.formErrors?.sourceTableKey" [items]="connectionTables"
							 parentName="name" childItems="dexihTables" itemKey="key" itemName="logicalName" note="Select the source table">
							 <table-edit-button [key]="formsService.currentForm.controls.sourceTableKey.value"></table-edit-button>
							</form-select>
						</section>
						<section class="form-group col-md-6" *ngIf="formsService.currentForm.value.sourceType == eDataObjectType.Datalink">
							<form-select label="Source Datalink" formControlName="sourceDatalinkKey" [errors]="formsService.formErrors?.sourceDatalinkKey"
							 [items]="datalinks" itemKey="key" itemName="name" note='Select the source datalink'>
							 <datalink-edit-button [key]="formsService.currentForm.controls.sourceDatalinkKey.value"></datalink-edit-button>
							</form-select>
							<d-button-refresh (click)="refreshDatalink()" text="Refresh Parameters"></d-button-refresh>
						</section>
					</div>

					<form-checkbox formControlName="autoRefresh" label="Automatically refresh data when view is opened"></form-checkbox>
					<form-checkbox label="View is shared in the catalog to users with read access." formControlName="isShared">
					</form-checkbox>
	
				</section>

			</fieldset>
		</form>

		<input-parameters [showEdit]="showEdit" [parameters]="formsService.currentForm?.controls.parameters" [formsService]="formsService" [refreshEvent]="refreshDataObservable" (onRefreshData)="refresh()" (onChange)="parameterChange()"></input-parameters>

		<div class="mt-3"  *ngIf="!data || data.length === 0">
			<d-button-refresh  class="mr-1" (click)="refresh()" text="Reload" [autoCompact]="false"></d-button-refresh>
		</div>

		</d-widget-section>

		<d-widget-section  *ngIf="inputColumns && inputColumns.length > 0" title="InputColumns" [showExpandButton]="true">
			<span *ngFor="let column of inputColumns; let i = index" class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{{column.logicalName}}
					</div>
				</div>
				<form-input name="column{{i}}" class="form-control p-0" [placeholder]="'Enter ' + column.logicalName" [(ngModel)]="column.value"></form-input>
			</span>
		</d-widget-section>

		<series-animate [showEdit]="showEdit" [animateConfig]="animateConfig" [columns]="columns" (hasChanged)="hasChanged()" [baseData]="baseData" [(data)]="data"></series-animate>

		<d-widget-section  *ngIf="showEdit" title="Query Configuration" [showExpandButton]="true">
			<query-builder  [selectQuery]="formsService.currentForm.controls.selectQuery.value" [columns]="tableColumns" [inputColumns]="inputColumns" [parameters]="formsService.currentForm.controls.parameters.value" (hasChanged)="hasChanged()" [refreshEvent]="refreshDataObservable" (onRefreshData)="refresh()"></query-builder>
		</d-widget-section>

		<ng-template [ngIf]="columns?.length > 0 && data?.length > 0">
			<d-table *ngIf="!showChart" [enableMultiSelect]="false" [enableSaveCsv]="true" [columns]="columns" [data]="data" [hideTable]="showChart">
				<ng-template #actions let-items="items">
					<d-button-refresh class="mr-1" (click)="refresh()" text="Reload"></d-button-refresh>
				</ng-template>
			</d-table>

			<div *ngIf="showChart">
			<chart-builder 
				[title]="formsService.currentForm.controls.name.value" 
				[columns]="columns" 
				[data]="data" 
				[config]="formsService.currentForm.controls.chartConfig.value"
				[showEdit]="showEdit"
				(hasChanged)="hasChanged()">
			</chart-builder>
		</div>
		</ng-template>


	</d-widget>

	<dexih-help class="m-3" title="Views" path="/assets/help/reference/view.md"></dexih-help>

</div>