<section *ngIf="hubCache?.hub && (!connectionTables || connectionTables.length === 0)">
    <div class="alert alert-danger m-3">
        There are no files configured.  Create a file based connection, and add at least one file definition.
        <hr>
        <div>
            <a class="btn btn-sm btn-primary text-white" routerLink="/hub/{{hubCache.hub.hubKey}}/connections/connection-new/Source" [title]="">New Connection</a>
            <a *ngFor="let connection of fileConnections" class="ml-1 btn btn-sm btn-primary text-white" routerLink="/hub/{{hubCache.hub.hubKey}}/connections/tables/table-new/{{connection.key}}" [title]="">New File ({{connection.name}})</a>
        </div>
    </div>
</section>

<div *ngIf="connectionTables && connectionTables.length > 0" class="container">
    <dexih-widget [title]="'Manage Files: ' + table?.name" iconClass="fa fa-lg fa-fw fa-table" [showCloseButton]="true"
        (close)="close()"     >
        <ng-template #header>
            <dexih-button-dropdown buttonClass="btn-sm btn-outline-primary mr-1" iconClass="fa fa-notepad" text="New File">
                    <a *ngFor="let connection of fileConnections" class="dropdown-item" routerLink="/hub/{{hubCache.hub.hubKey}}/connections/tables/table-new/{{connection.key}}" [title]="">{{connection.name}}</a>
            </dexih-button-dropdown>
            <dexih-button-dropdown *ngIf="table?.autoManageFiles" buttonClass="btn-sm btn-outline-primary" iconClass="fa fa-filter" [text]="eFlatFilePath[path]" title="Select the file location" [pullRight]="true">
                    <a *ngFor="let item of eFlatFilePathItems" class="dropdown-item" [class.active]="path=='item.name'" routerLinkActive="active" data-toggle="tab" routerLink="." [queryParams]="{tableKey: tableKey, path: item.key}">
                            <i class="fa fa-elipsis-h"></i>{{item.name}}</a>
            </dexih-button-dropdown>
        </ng-template>

        <ul *ngIf="table" class="list-group">
            <li class="list-group-item">
                <form-select label="Flat File" [(ngModel)]="tableKey" (ngModelChange)="updateTable($event)" [items]="connectionTables" parentName="name" childItems="dexihTables"
                itemKey="key" itemName="logicalName" note="Select the flat file to manage">
                </form-select>
            </li>
            <li class="list-group-item list-group-item-info rounded-0">
                <h5>Drop Files to Upload</h5>
            </li>
            <li class="list-group-item ">
                <div class="well my-drop-zone" dropZone [requireFiles]="true" (dropFiles)="filesDrop($event)" dropAllowedClass="nv-file-over">
                    Drop Files to Upload Here
                    <div class="custom-file w-25 float-right">
                        <input type="file" class="custom-file-input" onclick="this.value=null" (change)="uploadFile($event)">
                        <label class="custom-file-label" for="inputGroupFile01">Choose files</label>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-info  rounded-0">
                <h5>Upload Queue</h5>
            </li>
            <li class="list-group-item p-0">
                <dexih-table [enableMultiSelect]="true" [columns]="uploadColumns" [data]="uploadedFiles">

                    <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                        <dexih-button class="mr-1" iconClass="fa fa-upload" buttonClass='btn-primary' (click)="uploadSelected(items)">Upload</dexih-button>
                        <dexih-button-cancel class="mr-1" (click)="cancelSelected(items)"></dexih-button-cancel>
                        <dexih-button-delete (click)="removeSelected(items)" text="Remove"></dexih-button-delete>
                    </ng-template>

                    <ng-template #actions let-items="items">
                        <form-checkbox [(ngModel)]="automaticUpload" label="Automatically upload files when added to the queue."></form-checkbox>
                    </ng-template>

                    <ng-template #rowStatus select="rowStatus" let-item="item">
                        <div *ngIf="item.isRunning()" class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                        <span >
                            <i class='fa' [ngClass]="{
                                'fa-check': item.status === eFileStatus.Complete, 
                                'fa-exclamation-circle': item.status === eFileStatus.Error,
                                'fa-ban': item.status === eFileStatus.Cancelled}"></i>{{item.status}}</span>
                    </ng-template>
                </dexih-table>
            </li>
            <li class="list-group-item list-group-item-info rounded-0">
                <h5>Files (Local directory:
                    <a href='file://///{{localPath}}'>{{localPath}}</a>)</h5>

            </li>
            <li class="list-group-item p-0">
                <dexih-table [enableMultiSelect]="true" [columns]="columns" [dataObservable]="tableData">

                    <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                        <dexih-button-delete class="mr-1" (click)="deleteSelected(items)"></dexih-button-delete>
                        <dexih-button-download class="mr-1" (click)="downloadSelected(items)"></dexih-button-download>
                        <dexih-button-dropdown class="mr-1" iconClass="fa fa-mail-forward" text="Move" [pullRight]="true">
                            <a class="dropdown-item" *ngIf="path != eFlatFilePath.Incoming" (click)="moveSelected(items, eFlatFilePath.Incoming)">To Incoming</a>
                            <a class="dropdown-item" *ngIf="path != eFlatFilePath.Outgoing" (click)="moveSelected(items, eFlatFilePath.Outgoing)">To Processed</a>
                            <a class="dropdown-item" *ngIf="path != eFlatFilePath.Processed" (click)="moveSelected(items, eFlatFilePath.Processed)">To Processed</a>
                            <a class="dropdown-item" *ngIf="path != eFlatFilePath.Rejected" (click)="moveSelected(items, eFlatFilePath.Rejected)">To Rejected</a>
                        </dexih-button-dropdown>
                    </ng-template>

                    <ng-template #selectedItemAction select="selectedItemAction" let-item="item">
                        <dexih-button-preview [routerLink]="['/hub', hubCache.hub.hubKey, 'summary', 'files', 'manage', tableKey, 'file-preview', path, item.fileName]"></dexih-button-preview>
                    </ng-template>

                    <ng-template #actions let-items="items">
                        <dexih-button-dropdown *ngIf="table?.autoManageFiles" class="mr-1" buttonClass="btn-primary" iconClass="fa fa-filter" [text]="eFlatFilePath[path]"
                            title="Select the file location" [pullRight]="true">
                            <a *ngFor="let item of eFlatFilePathItems" class="dropdown-item" [class.active]="path=='item.name'" routerLinkActive="active" data-toggle="tab" routerLink="." [queryParams]="{tableKey: tableKey, path: item.key}">
                                <i class="fa fa-elipsis-h"></i>{{item.name}}</a>
                        </dexih-button-dropdown>
                        <dexih-button-refresh (click)="refreshFiles()"></dexih-button-refresh>
                    </ng-template>
                </dexih-table>
            </li>
        </ul>
    </dexih-widget>
</div>