<div *ngIf="stepFormService.currentForm">
<div class="list-group-item list-group-item-info rounded-0">
	<div class="d-flex flex-row">
		<h5>Step Properties</h5>
		<div class="ml-auto">
			<d-button-apply class="mr-1" [disabled]="!stepFormService.hasChanged" (click)="applyExit()"></d-button-apply>
			<d-button-cancel (click)="cancel()"></d-button-cancel>
		</div>
	</div>
</div>

<div class="list-group-item" >
	<form [formGroup]="stepFormService.currentForm">
		<fieldset>
			<section>
				<form-input label="Data Step Name" formControlName="name" placeholder="Enter the step name." [autocapitalize]="on" iconClass="fa fa-list"
				 [errors]="stepFormService.formErrors.name" note="Enter a name for the data step, blank will use datalink name.">
				</form-input>
			</section>
			<section>
				<form-textarea label="Description" formControlName="description" placeholder="Enter a description" iconClass="fa fa-comment"
				 [errors]="stepFormService.formErrors['description']">
				</form-textarea>
			</section>
			<section>
				<form-select label="Data Link" formControlName="datalinkKey" [items]="hubCache.hub.dexihDatalinks" itemKey="key"
				 itemName="name" [errors]="stepFormService.formErrors.datalinkKey" iconClass="fa fa-database">
				 <datalink-edit-button [key]="stepFormService.currentForm.controls.datalinkKey?.value"></datalink-edit-button>
				</form-select>
			</section>
		</fieldset>
	</form>
</div>

<div class="list-group-item list-group-item-info rounded-0">
	<div class="d-flex flex-row">
		<h5>Target Table: {{targetTableName}}</h5>
		<div class="ml-auto">
			<d-button-apply class="mr-1" [disabled]="!stepFormService.hasChanged" (click)="applyExit()"></d-button-apply>
			<d-button-cancel (click)="cancel()"></d-button-cancel>
		</div>
	</div>
</div>
<div class="list-group-item" *ngIf="stepFormService.currentForm">
	<form [formGroup]="stepFormService.currentForm">
		<fieldset>
			<section>
				<form-select label="Target Connection" formControlName="targetConnectionKey" [items]="hubCache.hub.dexihConnections"
				 itemKey="key" itemName="name" [errors]="stepFormService.formErrors.targetConnectionKey" iconClass="fa fa-database"
				 note="Connection for the datalink target table">
				 <connection-edit-button [key]="stepFormService.currentForm.controls.targetConnectionKey?.value"></connection-edit-button>
				</form-select>
			</section>
			<div class="form-row">
				<section class="form-group col-md-6">
					<form-input label="Target Table Name" formControlName="targetTableName" placeholder="Enter the name." iconClass="fa fa-list"
					 [errors]="stepFormService.formErrors['targetTableName']" note="Name of target table">
					</form-input>
				</section>
				<section class="form-group col-md-6">
					<form-input label="Target Table Schema" formControlName="targetSchema" placeholder="Enter the name." iconClass="fa fa-list"
					 [errors]="stepFormService.formErrors['targetSchema']">
					</form-input>
				</section>
			</div>
			<section>
				<form-select label="Expected Connection" formControlName="expectedConnectionKey" [items]="hubCache.hub.dexihConnections"
				 itemKey="key" itemName="name" [errors]="stepFormService.formErrors.expectedConnectionKey" iconClass="fa fa-database"
				 note="Connection where the expected target data is.">
				 <connection-edit-button [key]="stepFormService.currentForm.controls.expectedConnectionKey?.value"></connection-edit-button>
				</form-select>
			</section>
			<div class="form-row">
				<section class="form-group col-md-6">
					<form-input label="Expected Table Name" formControlName="expectedTableName" placeholder="Enter the name."
					 iconClass="fa fa-list" [errors]="stepFormService.formErrors['expectedTableName']">
					</form-input>
				</section>
				<section class="form-group col-md-6">
					<form-input label="Expected Table Schema" formControlName="expectedSchema" placeholder="Enter the name." iconClass="fa fa-list"
					 [errors]="stepFormService.formErrors['expectedSchema']">
					</form-input>
				</section>
			</div>
			<section>
				<form-select label="Error Connection" formControlName="errorConnectionKey" [items]="hubCache.hub.dexihConnections"
				 itemKey="key" itemName="name" [errors]="stepFormService.formErrors.errorConnectionKey" iconClass="fa fa-database"
				 note="Connection where the error data should be sent.">
				 <connection-edit-button [key]="stepFormService.currentForm.controls.errorConnectionKey?.value"></connection-edit-button>
				</form-select>
			</section>
			<div class="form-row">
				<section class="form-group col-md-6">
					<form-input label="Error Table Name" formControlName="errorTableName" placeholder="Enter the name."
					 iconClass="fa fa-list" [errors]="stepFormService.formErrors['errorTableName']">
					</form-input>
				</section>
				<section class="form-group col-md-6">
					<form-input label="Error Table Schema" formControlName="errorSchema" placeholder="Enter the name." iconClass="fa fa-list"
					 [errors]="stepFormService.formErrors['errorSchema']">
					</form-input>
				</section>
			</div>
		</fieldset>
	</form>
</div>

<div *ngFor="let testTable of stepFormService.currentForm.controls.dexihDatalinkTestTables.controls; let i = index;">
	<div class="list-group-item list-group-item-info rounded-0">
		<div class="d-flex flex-row">
			<h5>Source Table: {{inputTableNames[i]}}</h5>
			<div class="ml-auto">
				<d-button-apply class="mr-1" [disabled]="!stepFormService.hasChanged" (click)="applyExit()"></d-button-apply>
				<d-button-cancel (click)="cancel()"></d-button-cancel>
			</div>
		</div>
	</div>
	<div class="list-group-item" *ngIf="stepFormService.currentForm">
		<form [formGroup]="testTable">
			<fieldset>
				<section>
					<form-select label="Source Connection" formControlName="sourceConnectionKey" [items]="hubCache.hub.dexihConnections"
					 itemKey="key" itemName="name" [errors]="stepFormService.formErrors.sourceConnectionKey" iconClass="fa fa-database"
					 note="Connection where the source test data is.">
					 <connection-edit-button [key]="stepFormService.currentForm.controls.sourceConnectionKey?.value"></connection-edit-button>
					</form-select>
				</section>
				<div class="form-row">
					<section class="form-group col-md-6">
						<form-input label="Source Table Name" formControlName="sourceTableName" placeholder="Enter the name." iconClass="fa fa-list"
						 [errors]="stepFormService.formErrors['sourceTableName']">
						</form-input>
					</section>
					<section class="form-group col-md-6">
						<form-input label="Source Table Schema" formControlName="sourceSchema" placeholder="Enter the name." iconClass="fa fa-list"
						 [errors]="stepFormService.formErrors['sourceSchema']">
						</form-input>
					</section>
				</div>
				<section>
					<form-select label="Test Connection" formControlName="testConnectionKey" [items]="hubCache.hub.dexihConnections"
					 itemKey="key" itemName="name" [errors]="stepFormService.formErrors.testConnectionKey" iconClass="fa fa-database"
					 note="Connection where the test data is.">
					 <connection-edit-button [key]="stepFormService.currentForm.controls.testConnectionKey?.value"></connection-edit-button>
					</form-select>
				</section>
				<div class="form-row">
					<section class="form-group col-md-6">
						<form-input label="Test Table Name" formControlName="testTableName" placeholder="Enter the name." iconClass="fa fa-list"
						 [errors]="stepFormService.formErrors['testTableName']">
						</form-input>
					</section>
					<section class="form-group col-md-6">
						<form-input label="Test Table Schema" formControlName="testSchema" placeholder="Enter the name." iconClass="fa fa-list"
						 [errors]="stepFormService.formErrors['testSchema']">
						</form-input>
					</section>
				</div>
			</fieldset>
		</form>
	</div>
</div>
</div>