<dexih-message class="p-3" #DexihMessage></dexih-message>

<div class="container-fluid">
	<d-widget-vertical>
	<d-widget title="Invite Users" iconClass="fa fa-lg fa-fw fa-birthday-cake" [padding]="true">
		
		<ng-template #subHeader>
			<d-button-save [disabled]="emails.length == 0" (click)="addUsers()" text="Add User(s)"></d-button-save>
		</ng-template>

		<form >
			<fieldset>
				<section>
					<form-select label="Permission" [(ngModel)]="permission" name="permission" [items]="ePermissionItems" itemKey="key" itemName="name" note='Permission level to grant to emails' [enableFilter]="false">
					</form-select>
				</section>

				<section>
					<form-tags label="Email Addresses / User names" [(ngModel)]="emails" name="emails" note="Provide a list of user names or email addresses of users to join the hub.">
					</form-tags>
				</section>
				<section>
					<form-checkbox label="Send invites" [(ngModel)]="sendInvites" name="sendInvites" note="Emails which are not registered to use the integration hub will be sent an invite to join.">
					</form-checkbox>
				</section>
			</fieldset>
		</form>
	</d-widget>

	<d-widget title="Current Users" iconClass="fa fa-lg fa-fw fa-group">
		<d-table [enableMultiSelect]="true" [columns]="columns"
		 [dataObservable]="tableData">
			<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
				<d-button-delete class="mr-1" (click)="deleteUsers(items)"></d-button-delete>
				<d-button-dropdown buttonClass="btn-primary" iconClass="fa fa-lock" text="Set Permission">
					<a *ngFor="let permission of ePermissionItems" class="dropdown-item" (click)="setPermission(permission.key, items)">{{permission.name}}</a>
				</d-button-dropdown>
				<d-button-dropdown buttonClass="btn-primary" iconClass="fa fa-bell" text="Set User Alert" class="ml-1">
					<a class="dropdown-item" (click)="setUserAlert(true, items)">Receive alert emails</a>
					<a class="dropdown-item" (click)="setUserAlert(false, items)">Do not receive alert emails.</a>
				</d-button-dropdown>
			</ng-template>
		</d-table>

	</d-widget>
	</d-widget-vertical>
</div>