<dexih-message class="p-3" #DexihMessage></dexih-message>

<div class="container-fluid">
	<dexih-widget-vertical>
	<dexih-widget title="Invite Users" iconClass="fa fa-lg fa-fw fa-birthday-cake" [padding]="true">
		
		<ng-template #subHeader>
			<dexih-button-save [disabled]="emails.length == 0" (click)="addUsers()" text="Add User(s)"></dexih-button-save>
		</ng-template>

		<form >
			<fieldset>
				<section>
					<form-select label="Permission" [(ngModel)]="permission" name="permission" [items]="ePermissionItems" itemKey="key" itemName="name" note='Permission level to grant to emails' [enableFilter]="false">
					</form-select>
				</section>

				<section>
					<form-tags label="Email Addresses / User names" [(ngModel)]="emails" name="emails" note="Provide a list of user names or email addresses of users to join the hub.">
					</form-tags>
				</section>
				<section>
					<form-checkbox label="Send invites" [(ngModel)]="sendInvites" name="sendInvites" note="Emails which are not registered to use the integration hub will be sent an invite to join.">
					</form-checkbox>
				</section>
			</fieldset>
		</form>
	</dexih-widget>

	<dexih-widget title="Current Users" iconClass="fa fa-lg fa-fw fa-group">
		<dexih-table [enableMultiSelect]="true" [columns]="columns"
		 [dataObservable]="tableData">
			<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
				<dexih-button-delete class="mr-1" (click)="deleteUsers(items)"></dexih-button-delete>
				<dexih-button-dropdown buttonClass="btn-primary" iconClass="fa fa-lock" text="Set Permission">
					<a *ngFor="let permission of ePermissionItems" class="dropdown-item" (click)="setPermission(permission.key, items)">{{permission.name}}</a>
				</dexih-button-dropdown>
			</ng-template>
		</dexih-table>

	</dexih-widget>
	</dexih-widget-vertical>
</div>