<div *ngIf="showToolbar" class="side-menu">
    <div class="side-menu-content">
        <div class="spin-icon">
            <i class="fa fa-cog fa-spin"></i>
        </div>
        <div class="side-menu-box">
            <div class="bg-light rounded p-1">
                <div>
                    <download-button (download)="downloadData($event)"></download-button>

                    <div *ngIf="viewConfig?.viewType === eViewType.Chart" class="btn-group btn-group-toggle ml-1"
                        data-toggle="buttons" title="Table">
                        <label class="btn btn-primary" [ngClass]="{active: showChart===false}">
                            <input type="radio" name="options" value="table" autocomplete="off"
                                (click)="showChart = false">
                            <i class="fa fa-table"></i>
                        </label>
                        <label class="btn btn-primary" [ngClass]="{active: showChart===true}" title="Chart">
                            <input type="radio" name="options" value="chart" autocomplete="off"
                                (click)="showChart = true">
                            <i class="fa fa-bar-chart"></i>
                        </label>
                    </div>
                    <d-button-refresh class="ml-1" [compact]="true" (click)="refresh()"></d-button-refresh>
                    <d-button *ngIf="!isMaximized" class="ml-1" buttonClass="btn btn-primary"
                        iconClass="fa fa-window-maximize text-white" (click)="maximize()" tooltip="Maximize window">
                    </d-button>
                    <d-button *ngIf="isMaximized" class="ml-1" buttonClass="btn btn-primary"
                        iconClass="fa fa-window-minimize text-white" (click)="minimize()" tooltip="Minimize window">
                    </d-button>
                </div>

                <div *ngIf="userParameters && userParameters.length > 0" class="m-1">
                    <input-parameters-view [hubKey]="hubKey" [objectType]="objectType" [objectKey]="objectKey"
                        [parameters]="userParameters" [refreshEvent]="refreshDataObservable"
                        (onRefreshData)="refresh()" (onChange)="parameterChange()"></input-parameters-view>
                </div>

                <div *ngIf="viewConfig && baseData" class="m-1">
                    <series-animate [showEdit]="false" [showFrame]="false" [animateConfig]="viewConfig.animateConfig"
                        [columns]="columns" [baseData]="baseData" [(data)]="data">
                    </series-animate>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!data" class="m-3">
    <div class="dexih-loader"></div> &nbsp; &nbsp; Loading ...
</div>

<div *ngIf="!showToolbar && baseData" class="d-flex">
    <div *ngIf="viewConfig?.chartConfig" class="align-self-start btn-group btn-sm btn-group-toggle" data-toggle="buttons" title="Table">
        <label class="btn btn-primary" [ngClass]="{active: showChart===false}">
            <input type="radio" name="options" value="table" autocomplete="off" (click)="showChart = false">
            <i class="fa fa-table"></i>
        </label>
        <label class="btn btn-primary" [ngClass]="{active: showChart===true}" title="Chart">
            <input type="radio" name="options" value="chart" autocomplete="off" (click)="showChart = true">
            <i class="fa fa-bar-chart"></i>
        </label>
    </div>

    <div *ngIf="userParameters && userParameters.length > 0" class="mt-1">
        <input-parameters-view [hubKey]="hubKey" [objectType]="objectType" [objectKey]="objectKey"
            [parameters]="userParameters" [refreshEvent]="refreshDataObservable" (onRefreshData)="refresh()"
            (onChange)="parameterChange()">
        </input-parameters-view>
    </div>

    <div *ngIf="viewConfig && baseData">
        <series-animate [showEdit]="false" [showFrame]="false" [animateConfig]="viewConfig.animateConfig"
            [columns]="columns" [baseData]="baseData" [(data)]="data">
        </series-animate>
    </div>
</div>

<div class="h-100 box" *ngIf="data">
    <div class="box-content" style="height: 90vh;">

        <d-table *ngIf="!showChart" [enableMultiSelect]="false" [enableSaveCsv]="true" [csvFileName]="name + '.csv'"
            [enableFilter]="false" [columns]="columns" [data]="data">

            <ng-template #actions let-items="items">
            </ng-template>

            <ng-template #tableHeader>
            </ng-template>

        </d-table>

        <chart-view *ngIf="showChart" [responsive]="true" [columns]="columns" [data]="data"
            [config]="viewConfig.chartConfig">
        </chart-view>
    </div>
</div>