<div class="m-1">
    <dexih-message #DexihMessage></dexih-message>
</div>

<div *ngIf="showToolbar" class="floating-toolbar">
    <download-button class="ml-1" (download)="downloadData($event)"></download-button>

    <div *ngIf="chartConfig" class="btn-group btn-group-toggle ml-1" data-toggle="buttons" title="Table">
        <label class="btn btn-primary" [ngClass]="{active: showChart===false}">
            <input type="radio" name="options" value="table" autocomplete="off" (click)="showChart = false">
            <i class="fa fa-table"></i>
        </label>
        <label class="btn btn-primary" [ngClass]="{active: showChart===true}" title="Chart">
            <input type="radio" name="options" value="chart" autocomplete="off" (click)="showChart = true">
            <i class="fa fa-bar-chart"></i>
        </label>
    </div>
    <dexih-button-refresh class="ml-1" [compact]="true" (click)="refresh()"></dexih-button-refresh>
    <dexih-button *ngIf="!isMaximized" class="ml-1" buttonClass="btn btn-primary"
        iconClass="fa fa-window-maximize text-white" (click)="maximize()" tooltip="Maximize window"></dexih-button>
    <dexih-button *ngIf="isMaximized" class="ml-1" buttonClass="btn btn-primary"
        iconClass="fa fa-window-minimize text-white" (click)="minimize()" tooltip="Minimize window"></dexih-button>
</div>

<div *ngIf="userParameters" class="m-3">
    <input-parameters-view [hubKey]="hubKey" [objectType]="objectType" [objectKey]="objectKey" [parameters]="userParameters" [refreshEvent]="refreshDataSubject.asObservable()" (onRefreshData)="refresh()" (onChange)="parameterChange()"></input-parameters-view>
</div>

<div *ngIf="!data" class="m-3">
    <div class="dexih-loader"></div> &nbsp; &nbsp; Loading ...
</div>

<div class="h-100" *ngIf="data">
    <dexih-table *ngIf="!showChart" [enableMultiSelect]="false" [enableSaveCsv]="true" [csvFileName]="name" [enableFilter]="false"
        [columns]="columns" [data]="data">

        <ng-template #actions let-items="items">
        </ng-template>

        <ng-template #tableHeader>
        </ng-template>

    </dexih-table>

    <chart-view 
        *ngIf="showChart"
        [columns]="columns" 
        [data]="data" 
        [config]="chartConfig">
    </chart-view>
</div>