<div class="container-fluid">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded">
        <img class="mr-3" [src]='logoSmallUrl' alt="" width="48" height="48">
        <div class="lh-100">
            <h3 class="mb-0 text-white lh-100">Data Experts Integration Hub</h3>
        </div>
    </div>
        
    <div *ngIf="(hubs | async)?.length == 0" class="alert alert-warning">
        <div class="float-right">
            <dexih-button-new routerLink="hub-new" title="Create a new Hub" text="New Hub"></dexih-button-new>
        </div>
        <h3>Let's get started.</h3>
        <h5>You do not have any hubs currently available to you.</h5>
        <h5>To get started, either create a new hub, or request another user provide access.</h5>
    </div>

    <div class="card-deck">
        <div class="card mb-3" style="min-width: 18rem;">
            <div class="card-header text-white bg-success"><i class="fa fa-lg fa-fw fa-life-saver"></i>Hub Management</div>
            <div class="card-body">
                <p class="card-text">Hub's are used to store definitions for tables and data processing rules, and are
                    used to run, schedule and publish data.</p>
            </div>
            <div class="card-footer">
                <dexih-button class="ml-1" iconClass="fa fa-life-saver" routerLink="hubs-view">Manage</dexih-button>
                <dexih-button-new  class="ml-1" routerLink="hub-new" title="Create a new hub"></dexih-button-new>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 18rem;">
            <div class="card-header text-white bg-primary"><i class="fa fa-lg fa-fw fa-user"></i>Account Management</div>
            <div class="card-body">
                <p class="card-text">Edit your account details, password, and login providers.</p>
            </div>
            <div class="card-footer">
                <dexih-button class="ml-1" iconClass="fa fa-user" routerLink="manage">Account</dexih-button>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 18rem;">
            <div class="card-header text-white bg-warning"><i class="fa fa-lg fa-fw fa-wifi"></i>Remote Agents</div>
            <div class="card-body">
                <p class="card-text">Remote agents provide connectivity to data sources and are used run and publish
                    data.</p>
            </div>
            <div class="card-footer">
                <dexih-button class="mr-1" iconClass="fa fa-wifi" routerLink="agents">Agents</dexih-button>
                <dexih-button iconClass="fa fa-tasks" routerLink="tasks">Tasks</dexih-button>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 18rem;">
            <div class="card-header text-white bg-danger"><i class="fa fa-lg fa-fw fa-newspaper-o"></i>Shared Data</div>
            <div class="card-body">
                <p class="card-text">View all datasets which have been shared.</p>
            </div>
            <div class="card-footer">
                <dexih-button-view routerLink="sharedData"></dexih-button-view>
            </div>
        </div>
    </div>

    <dexih-widget title="Hubs" 
        iconClass="fa fa-lg fa-fw fa-life-saver" 
        [showCloseButton]="false"
        [padding]="true"
        [showFilter]="true"
        (filterString)="filterString = $event"
    >
        <ng-template #header>
            <div class="btn-group btn-group-toggle ml-1" data-toggle="buttons" >
                <label class="btn btn-primary" [ngClass]="{active: view === eHubAccess.All}" title="All Hubs.">
                    <input type="radio" name="options" [value]="eHubAccess.All" autocomplete="off" [(ngModel)]="view">
                    <i class="fa fa-globe"></i>
                </label>
                <label class="btn btn-primary" [ngClass]="{active: view === eHubAccess.User}" title="User owned hubs">
                    <input type="radio" name="options" [value]="eHubAccess.User" autocomplete="off" [(ngModel)]="view">
                    <i class="fa fa-user-secret"></i>
                </label>
                <label class="btn btn-primary" [ngClass]="{active: view === eHubAccess.ReadOnly}" title="Readonly hubs">
                    <input type="radio" name="options" [value]="eHubAccess.ReadOnly"  autocomplete="off" [(ngModel)]="view">
                    <i class="fa fa-book"></i>
                </label>
                <label class="btn btn-primary" [ngClass]="{active: view === eHubAccess.Public}" title="Public Hubs">
                    <input type="radio" name="options" [value]="eHubAccess.Public"  autocomplete="off" [(ngModel)]="view">
                    <i class="fa fa-users"></i>
                </label>
            </div>
        </ng-template>

        <div class="card-columns">
            <ng-template ngFor let-hub [ngForOf]="hubs | async">
                <div *ngIf="(view === eHubAccess.All || hub.hubAccess === view) && (!filterString || hub.name.toUpperCase().includes(filterString.toUpperCase()))" class="card">
                    <div>
                        <div class="card-header">
                            <div class="d-flex flex-row p-0">
                                <div>
                                    {{hub.name}}
                                    <div class="small">({{eHubAccess[hub.hubAccess]}})</div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <dexih-button-open routerLink="/hub/{{hub.hubKey}}/summary"></dexih-button-open>
                                    <dexih-button-edit class="ml-1" routerLink="hub-edit/{{hub.hubKey}}">
                                    </dexih-button-edit>
                                </div>
                            </div>        
                        </div>
                        <div *ngIf="hub.description" class="card-body">
                            <p class="card-text">{{hub.description}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </dexih-widget>
</div>