<div class="container">
	<d-widget-vertical>
	<d-widget 
		title="Edit Function" 
		iconClass="fa fa-lg fa-fw fa-code" 
		[showCloseButton]="true"
		[padding]="true"
		(close)="close()"
	>
		<ng-template #header>
			<dexih-invalid-form-details [control]="formsService.currentForm" (click)="formsService.showErrors()" class="mr-1"></dexih-invalid-form-details>
			<save-button *ngIf="hubCache.canWrite" [formsService]="formsService" class="mr-1"></save-button>
			<cancel-button [formsService]="formsService"></cancel-button>
		</ng-template>

		<form *ngIf="formsService.currentForm"  [formGroup]="formsService.currentForm">
			<fieldset>
				<section *ngIf="testResult">
					<div class="alert " [class.alert-danger]="testResult.success == false" [class.alert-success]="testResult.success == true">
						Test Result = {{testResult.success}}
						<div *ngIf="testResult.cleanedValue">Cleaned Value = {{testResult.cleanedValue}} </div>
						<div *ngIf="testResult.rejectReason">Reject Reason = {{testResult.rejectReason}} </div>
					</div>
				</section>

				<section>
					<form-select label="Function Type" formControlName="functionType" [items]="functionTypes" itemKey="key" itemName="name" iconClass="fa fa-question">
					</form-select>
				</section>

				<section>
					<form-input label="Custom Function Name" formControlName="name" placeholder="Enter the name." iconClass="fa fa-list" [autocapitalize]="true" [errors]="formsService.formErrors['name']">
					</form-input>
				</section>

				<section>
					<form-textarea label="Description" [showPreview]="true"  [isHidden]="true" formControlName="description" placeholder="Enter the description.">
					</form-textarea>
				</section>

				<ng-template [ngIf]="functionType">
					<div>
						<div class="label mb-1">
							Input Parameters
						</div>
						<div *ngIf="inputParameters.length === 0" class="mb-1">
							<d-button
								(click)="addParameter(null, eParameterDirection.Input)"
								iconClass="fa fa-plus-square-o"
								title="Click to add a parameter" >Add Parameter
							</d-button>
						</div>
						<div *ngFor="let parameter of inputParameters; let i = index" [ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
							<customFunction-parameter [customFunctionParameterForm]="parameter" (addParameter)="addParameter($event, eParameterDirection.Input)"
							 (removeParameter)="removeParameter($event)"></customFunction-parameter>
						</div>
					</div>
					<div *ngIf="functionType != eFunctionType.Condition">
						<div class="label mb-1">
							Output Parameters
						</div>
						<div [ngStyle]="{'z-index': 101, 'position': 'relative'}">
							<section>
								<div class="input-group mb-1">
						
									<input class="form-control" readonly value="Return Data Type" />
									<form-select [border]="false" class="form-control p-0"  formControlName="returnType" [items]="typeCodes" itemKey="key" itemName="name">
										</form-select>

								</div>
							</section>

							<div *ngIf="outputParameters.length === 0">
									<d-button
									(click)="addParameter(null, eParameterDirection.Output)"
									iconClass="fa fa-plus-square-o"
									title="Click to add a parameter" >Add Parameter</d-button>
							</div>

							<div *ngFor="let parameter of outputParameters; let i = index" [ngStyle]="{'z-index': 100-i, 'position': 'relative'}">
								<customFunction-parameter [customFunctionParameterForm]="parameter" (addParameter)="addParameter($event, eParameterDirection.Output)"
								 (removeParameter)="removeParameter($event)"></customFunction-parameter>
							</div>
						</div>

						<br>
					</div>
					Function Code
					<textarea class='form-control' rows="20" width="100%" spellcheck="false" formControlName="methodCode"></textarea>
			</ng-template>
			</fieldset>
		</form>
		</d-widget>
		<d-widget title="Test Function" 
		iconClass="fa fa-lg fa-fw fa-code" [padding]="true" >

		<ng-template #header>
			<d-button class="mr-1" buttonClass="btn btn-success" (click)="test()">Syntax Check</d-button>
			<d-button class="mr-1" buttonClass="btn btn-success" (click)="test(inputParameterValues)">Run</d-button>
			<d-button-save-local (click)="downloadCode(inputParameterValues)" text="Sample Code"></d-button-save-local>
		</ng-template>

		<dexih-message [message]="syntaxMessage"></dexih-message>

		<form>
			<fieldset>
				<div>
					<div class="label" *ngIf="inputParameters.length > 0">
						Input Parameters
					</div>
					<div *ngFor="let inputParameter of inputParameters; let i = index" [ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
						<div *ngIf="inputParameter.controls.rank.value > 0; else showValue">
							<div>
								<d-button
									(click)="addParameterValue(i)"
									iconClass="fa fa-plus-square-o"
									title="Click to add a parameter" >
									Add {{inputParameter.controls.name.value}} value
								</d-button>
							</div>
								<div *ngFor="let value of inputParameterValues[i]; let j = index">

									<div class="input-group">
										<div class="form-control">
											{{inputParameter.controls.name.value + '[' + j + ']'}}
										</div>

										<form-input [border]="false" class="form-control p-0" [(ngModel)]="inputParameterValues[i][j]" [name]="'inputParameterValues-' + i + '-' + j" type="text" placeholder="Enter a test value for the parameter"></form-input>

										<div class="input-group-text p-0">
											<button type="button" (click)="addParameterValue(i, j)" class="btn btn-sm border-0 bg-transparent" value="Add">
												<i class="fa fa-plus-square-o"></i>
											</button>
										</div>
										<div class="input-group-text p-0">
											<button type="button" (click)="removeParameterValue(i, j)" class="btn btn-sm border-0 bg-transparent" value="Remove">
												<i class="fa fa-minus-square-o"></i>
											</button>
										</div>
									</div>
								</div>
						</div>
						<ng-template #showValue>
							<form-input [label]="inputParameter.controls.name.value" [(ngModel)]="inputParameterValues[i]" [name]="'inputParameterValues' + i"
							 type="text" placeholder="Enter a test value for the parameter"></form-input>
						</ng-template>
					</div>
					<form-input label="Return Value" [disabled]="true" [(ngModel)]="returnParameterValue" name="returnParameterValue" type="text"></form-input>
					<div class="label" *ngIf="outputParameters.length > 0">
						Outputs Parameters
					</div>
					<div *ngFor="let outputParameter of outputParameters; let i = index" [ngStyle]="{'z-index': 200-i, 'position': 'relative'}">
						<form-input [disabled]="true" [label]="outputParameter.controls.name.value" [(ngModel)]="outputParameterValues[i]"
						 [name]="'outputParameterValues' + i" type="text"></form-input>
					</div>
				</div>
			</fieldset>
		</form>
	</d-widget>

	<dexih-help class="m-3" title="Custom Functions" path="/assets/help/reference/function.md"></dexih-help>

</d-widget-vertical>
</div>