<div class="container">
	<d-widget title="Data Jobs" iconClass="fa fa-lg fa-fw fa-calendar"
	[showCloseButton]="true"
	(close)="close()"
	>


		<d-table 
			[enableMultiSelect]="true" 
			[enableStickyToolbar]="true"  [toolbarZIndex]="100"
			[columns]="columns" 
			[dataObservable]="tableData" 
			(rowClick)="editDatajob($event)"
			[tags]="this.hubCache.hub.dexihTags"
		>
		<ng-template #selectedItemAction select="selectedItemAction" let-item="item">
			<dependent-items-button class="ml-1" [key]="item.key" [objectType]='eSharedObjectType.Datajob'></dependent-items-button>
		</ng-template>

			<ng-template #rowStatus select="rowStatus" let-datajob="item">
				<datalink-status [datajobKey]='datajob?.key'></datalink-status>
			</ng-template>

			<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
				<tags-update-button class="ml-1" [objectType]="eSharedObjectType.Datajob" [objects]="items" ></tags-update-button>
			</ng-template>

			<ng-template #actions let-items="items">
				<actions-datajob-button [datajobs]="items"></actions-datajob-button>
			</ng-template>
		</d-table>

	</d-widget>

	<dexih-help class="m-3" title="Datalinks" path="/assets/help/reference/datajob.md"></dexih-help>

</div>