<li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <i [class]="icon"></i>
            {{transformProperties.transformName}}
            <span *ngIf="transformProperties.name && transformProperties.name !== transformProperties.transformName">
                ( {{transformProperties.name}} )
            </span>
        </div>
    </div>

    <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-primary">
            Rows: {{transformProperties.rows}}, 
            Seconds: {{transformProperties.seconds | number: '1.2-2'}}, 
            Rows/Second: {{transformProperties.seconds ? (( transformProperties.rows/transformProperties.seconds) | number: '1.2-2') : 'N/A'}}</li>
    </ul>

    <ul *ngIf="propertyKeys?.length > 0" class="list-group mt-3">
        <li class="list-group-item list-group-item-primary">Properties</li>
        <li *ngFor="let key of propertyKeys" class="list-group-item"><b>{{key}}: </b> {{transformProperties.properties[key]}}</li>
    </ul>
    

    <ul *ngIf="transformProperties.referenceProperties" class="list-group mt-3">
        <li class="list-group-item list-group-item-primary">Linked Transform</li>
        <transform-properties [transformProperties]="transformProperties.referenceProperties"></transform-properties>
    </ul>
</li>

<transform-properties-item *ngIf="transformProperties.primaryProperties" [transformProperties]="transformProperties.primaryProperties">
</transform-properties-item>

