<d-widget-section title="Add Datalinks to Job" [showExpandButton]="false" [padding]="false">
	<ng-template #sectionHeader>
		<d-button-close (click)="close()"></d-button-close>
	</ng-template>
	<d-table [enableMultiSelect]="true" [columns]="columns" [dataObservable]="tableData" [tags]="this.hubCache.hub.dexihTags">
		<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
			<d-button (click)="addSelected(items)" iconClass="fa fa-plus" buttonClass="btn-primary"
				title="Add selected datalinks to the job">Add</d-button>
		</ng-template>

	</d-table>
</d-widget-section>