
// allow transform list to scroll horizontal
.transform-container {
    overflow-x: auto;
    margin: auto;
    overflow-y: hidden;
}

ul {
    display: flex;
    list-style: none;
    padding: 0px;
  }
  li {
    padding: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    min-width: 180px;
  }

li.active {    
    color: white;
    background: lightgrey;
}

.arrow {
    content: '';
    height: 1px;
 //   background: black;
    min-width: 60px;
    right: 0;
    position: relative;
    top: 50%;
    z-index: 1000;
  }

  .arrow-head {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    border-width: 7px 0 7px 20px;
    border-color: transparent transparent transparent  #3a5f8d;;
    // right: -50px;
    left: calc(100% - 19px);
    z-index: 1000;

    transform: translateY(-50%);
  }
