<div class="container-fluid">
    <div class="m-1">
        <dexih-message #DexihMessage></dexih-message>
    </div>

    <d-widget title="Shared Data" iconClass="fa fa-lg fa-fw fa-life-saver">
        <d-widget-section *ngIf="embedLink" title="Embedded html" [showExpandButton]="false">
            <ng-template #header>
                <button type="button" class="close ml-2" (click)="embedLink = null" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </ng-template>
            <section>
                <form-textarea label="Link" [showCopy]="true" [showPreview]="false" [hideToggle]="true" [disabled]="true"
                    rows="1" [(ngModel)]="embedLink">
                    <a [href]="embedLink" target="_blank" class="ml-1">(Open)</a>
                </form-textarea>
            </section>
            <section>
                <form-textarea label="Embedded IFrame" [showCopy]="true" [showPreview]="false" [hideToggle]="true"
                    [disabled]="true" rows="1" [(ngModel)]="embedFrame"></form-textarea>
            </section>
        </d-widget-section>

        <d-table 
            [enableMultiSelect]="true" 
            [enableStickyToolbar]="true"  [toolbarZIndex]="100"
            [enableFilter]="false" 
            [columns]="columns" 
            [data]="dataIndex"
            (rowClick)="previewData($event)" 
            [tags]="tags">

            <ng-template #selectedItemAction select="selectedItemAction" let-item="item">
                <d-button-preview [routerLink]="['preview', item.hubKey, item.objectType, item.objectKey]">
                </d-button-preview>
                <d-button-edit *ngIf="hubKeys?.indexOf(item.hubKey)>=0" class="ml-1" 
                    (click)="edit(item)"></d-button-edit>
                <d-button class="ml-1" iconClass="fa fa-code" title="Get embedded version" (click)="embed(item)" text="Embedded"></d-button>

            </ng-template>

            <ng-template #filter select="filter" let-items="items">
                <form [formGroup]="searchForm" class="row">
                    <div *ngIf="hubs" class="col-xs-12 col-sm mr-1">
                        <form-tags-dropdown labelLeft="Hubs" formControlName="hubKeys" [items]="hubs" itemKey="hubKey"
                            itemName="name" [enableAddAll]="true">
                        </form-tags-dropdown>
                    </div>
                    <div class="col-xs-12 col-sm mr-1 input-expand">
                        <form-input formControlName="searchString" placeholder="Search..." iconClass="fa fa-search">
                        </form-input>
                    </div>
                </form>
            </ng-template>

            <ng-template #actions let-items="items">
            </ng-template>

            <ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
                <download-button class="ml-1" (download)="downloadData(items, true, $event)"></download-button>
            </ng-template>

            <!-- <ng-template #rowAction let-item="item">
                <div *ngFor="let column of item.inputColumns; let i = index" class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            {{column.logicalName}}
                        </div>
                    </div>
                    <form-input name="column{{i}}" class="form-control p-0" [placeholder]="column.logicalName"
                        [(ngModel)]="column.defaultValue" [border]="false"></form-input>
                </div>
            </ng-template> -->

        </d-table>
    </d-widget>
</div>