<div *ngIf="columns">
    <ng-template [ngIf]="showEdit">
        <div class="d-flex flex-wrap">
            <div class="flex-fill">
                <form-select [(ngModel)]="chartType" (ngModelChange)="updateChart($event)" labelLeft="Chart" [items]="chartTypes"
                    parentName='name' childItems='charts' itemName='name'>
                </form-select>
            </div>
    
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="config.colorScheme" labelLeft="Color" [items]="colorSets" itemName='name' itemKey='name'>
                </form-select>
            </div>
    
            <div class="flex-fill pl-1" *ngIf="chartType.allowGradient">
                <form-checkbox label="Color Gradient" [(ngModel)]="config.showGradient" [border]="true"></form-checkbox>
            </div>
        </div>
    
        <div class="d-flex flex-wrap pt-1" *ngIf="chartType.inputFormat === eInputFormat.SingleSeries || chartType.inputFormat === eInputFormat.GeoCoordinates">
            <div class="flex-fill">
                <form-select [(ngModel)]="labelColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Labels" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>

            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="seriesColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Series Column"
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
        </div>
    
        <div class="d-flex flex-wrap pt-1" *ngIf="chartType.inputFormat === eInputFormat.GeoCoordinates">
            <div class="flex-fill">
                <form-select [(ngModel)]="latitudeColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Latitude" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>

            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="longitudeColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Longitude"
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
        </div>
    
        <div class="d-flex flex-wrap pt-1" *ngIf="chartType.inputFormat === eInputFormat.MultiSeries || chartType.inputFormat === eInputFormat.InverseSeries">
            <div class="flex-fill">
                <form-select [(ngModel)]="labelColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Labels" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
            <div class="flex-fill pl-1">
                <form-tags-dropdown [(ngModel)]="seriesColumnsIndex" (ngModelChange)="updateChart($event)" labelLeft="Series Columns"
                    [items]="columns" itemKey="name" itemName="title" [enableAddAll]="true">
                </form-tags-dropdown>
            </div>
        </div>

        <div class="d-flex flex-wrap pt-1" *ngIf=" chartType.inputFormat===eInputFormat.Xy || chartType.inputFormat===eInputFormat.XyMinMax
            || chartType.inputFormat===eInputFormat.XyBubble">
            <div class="flex-fill">
                <form-select [(ngModel)]="labelColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Labels" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
    
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="xColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="X-Column" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
    
            <div class="flex-fill pl-1">
                <form-select [(ngModel)]="yColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Y-Column" 
                    [items]="columns" itemKey="name" itemName="title">
                </form-select>
            </div>
    
            <ng-template [ngIf]="chartType.inputFormat === eInputFormat.XyMinMax">
                <div class="flex-fill pl-1">
                    <form-select [(ngModel)]="minColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Error Min Column"
                        [items]="columns" itemKey="name" itemName="title">
                    </form-select>
                </div>
    
                <div class="flex-fill pl-1">
                    <form-select [(ngModel)]="maxColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Error Max Column"
                        [items]="columns" itemKey="name" itemName="title">
                    </form-select>
                </div>
            </ng-template>
    
            <ng-template [ngIf]="chartType.inputFormat === eInputFormat.XyBubble">
                <div class="flex-fill pl-1">
                    <form-select [(ngModel)]="radiusColumnIndex" (ngModelChange)="updateChart($event)" labelLeft="Bubble Radius"
                        [items]="columns" itemKey="name" itemName="title">
                    </form-select>
                </div>
            </ng-template>
    
        </div>
    
        <div class="d-flex flex-wrap pt-1">
            <div class="flex-fill ">
                <div class="input-group-text">
                    Formatting
                </div>
            </div>

            <div class="flex-fill pl-1" *ngIf="chartType.allowLabels">
                <form-checkbox label="Labels" [(ngModel)]="config.showXAxis" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowXAxis">
                <form-checkbox label="X-Axis Title" [(ngModel)]="config.showXAxisLabel" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowXAxis">
                <form-checkbox label="X-Axis Labels" [(ngModel)]="config.showXAxis" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowYAxis">
                <form-checkbox label="Y-Axis Title" [(ngModel)]="config.showYAxisLabel" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowYAxis">
                <form-checkbox label="Y-Axis Labels" [(ngModel)]="config.showYAxis" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowGridLines">
                <form-checkbox label="Grid Lines" [(ngModel)]="config.showGridLines" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowLegend">
                <form-checkbox label="Legend" [(ngModel)]="config.showLegend" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowExplodeSlices">
                <form-checkbox label="Explode Slices" [(ngModel)]="config.explodeSlices" [border]="true"></form-checkbox>
            </div>
            <div class="flex-fill pl-1" *ngIf="chartType.allowDoughnut">
                <form-checkbox label="Doughnut" [(ngModel)]="config.doughnut" [border]="true"></form-checkbox>
            </div>
        </div>
        
        <div class="d-flex flex-wrap pt-1" *ngIf="chartType.allowYScaleMin || chartType.allowYScaleMax ||chartType.allowXScaleMin ||chartType.allowXScaleMax">
            <div class="flex-fill ">
                <div class="input-group-text">
                    Axis Scales
                </div>
            </div>
            
            <div class="flex-fill  pl-1" *ngIf="chartType.allowXScaleMin">
                <form-input labelLeft="X-Min" [(ngModel)]="config.xScaleMin"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowXScaleMax">
                <form-input labelLeft="X-Max" [(ngModel)]="config.xScaleMax"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowYScaleMin">
                <form-input labelLeft="Y-Min" [(ngModel)]="config.yScaleMin"></form-input>
            </div>
            <div class="flex-fill  pl-1" *ngIf="chartType.allowYScaleMax">
                <form-input labelLeft="Y-Max" [(ngModel)]="config.yScaleMax"></form-input>
            </div>
        
        </div>

    </ng-template>
    
    <div class="mt-1" *ngIf="!results || !chartType">
        <div class="alert alert-warning">
            Chart not displayed.  Check the chart type, labels and series have been set.
        </div>
    </div>

    <div class="mt-1" *ngIf="results && chartType">
        <dexih-button buttonClass="btn-sm btn-outline-primary m-1" (click)="export()" text="export"></dexih-button>

        <div id="chart" style="height: 650px">
            <h2 style="text-align: center">{{title}}</h2>
            <ngx-charts-bar-vertical *ngIf="chartType.key === eChartType.BarVertical" [scheme]="config.colorScheme" [results]="results"
                [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis" [legend]="config.showLegend"
                [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [yScaleMin]="config.yScaleMin" [yScaleMax]="config.yScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-vertical>
        
            <ngx-charts-bar-horizontal *ngIf="chartType.key === eChartType.BarHorizontal" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [xScaleMin]="config.xScaleMin"
                [xScaleMax]="config.xScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-horizontal>
        
            <ngx-charts-bar-vertical-2d *ngIf="chartType.key === eChartType.BarVertical2D" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yScaleMax]="config.yScaleMax"
                [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-vertical-2d>
        
            <ngx-charts-bar-horizontal-2d *ngIf="chartType.key === eChartType.BarHorizontal2D" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [xScaleMax]="config.xScaleMax"
                [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-horizontal-2d>
        
            <ngx-charts-bar-vertical-stacked *ngIf="chartType.key === eChartType.BarVerticalStacked" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yScaleMax]="config.yScaleMax"
                [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-vertical-stacked>
        
            <ngx-charts-bar-horizontal-stacked *ngIf="chartType.key === eChartType.BarHorizontalStacked" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [xScaleMax]="config.xScaleMax"
                [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-horizontal-stacked>
        
            <ngx-charts-bar-vertical-normalized *ngIf="chartType.key === eChartType.BarVerticalNormalized" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-vertical-normalized>
        
            <ngx-charts-bar-horizontal-normalized *ngIf="chartType.key === eChartType.BarHorizontalNormalized" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bar-horizontal-normalized>
        
            <ngx-charts-pie-chart *ngIf="chartType.key === eChartType.Pie" [scheme]="config.colorScheme" [results]="results"
                [legend]="config.showLegend" [labels]="config.showXAxis" [explodeSlices]="config.explodeSlices" [doughnut]="config.doughnut"
                [gradient]="config.showGradient" [legend]="false" [labels]="true">
            </ngx-charts-pie-chart>
        
            <ngx-charts-advanced-pie-chart *ngIf="chartType.key === eChartType.PieAdvanced" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient">
            </ngx-charts-advanced-pie-chart>
        
            <ngx-charts-pie-grid *ngIf="chartType.key === eChartType.PieGrid" [scheme]="config.colorScheme" [results]="results">
            </ngx-charts-pie-grid>
        
            <ngx-charts-line-chart *ngIf="chartType.key === eChartType.Line" [scheme]="config.colorScheme" [results]="results"
                [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis" [legend]="config.showLegend"
                [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [yScaleMin]="config.yScaleMin" [yScaleMax]="config.yScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-line-chart>
        
            <ngx-charts-polar-chart *ngIf="chartType.key === eChartType.Polar" [scheme]="config.colorScheme" [results]="results"
                [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis" [legend]="config.showLegend"
                [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-polar-chart>
        
            <ngx-charts-area-chart *ngIf="chartType.key === eChartType.Area" [scheme]="config.colorScheme" [results]="results"
                [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis" [legend]="config.showLegend"
                [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [yScaleMax]="config.yScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-area-chart>
        
            <ngx-charts-area-chart-stacked *ngIf="chartType.key === eChartType.AreaStacked" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yScaleMin]="config.yScaleMin"
                [yScaleMax]="config.yScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-area-chart-stacked>
        
            <ngx-charts-area-chart-normalized *ngIf="chartType.key === eChartType.AreaNormalized" [scheme]="config.colorScheme"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-area-chart-normalized>
        
            <ngx-charts-bubble-chart *ngIf="chartType.key === eChartType.Bubble || chartType.key === eChartType.Error || chartType.key === eChartType.Scatter"
                [scheme]="config.colorScheme" [results]="results" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showGridLines]="config.showGridLines" [showXAxisLabel]="config.showXAxisLabel"
                [showYAxisLabel]="config.showYAxisLabel" [xAxisLabel]="config.xAxisLabel" [xScaleMin]="config.xScaleMin"
                [xScaleMax]="config.xScaleMax" [yScaleMin]="config.yScaleMin"
                [yScaleMax]="config.yScaleMax" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-bubble-chart>
        
            <ngx-charts-heat-map *ngIf="chartType.key === eChartType.HeatMap" [scheme]="config.colorScheme" [gradient]="config.showGradient"
                [results]="results" [gradient]="config.showGradient" [xAxis]="config.showXAxis" [yAxis]="config.showYAxis"
                [legend]="config.showLegend" [showXAxisLabel]="config.showXAxisLabel" [showYAxisLabel]="config.showYAxisLabel"
                [xAxisLabel]="config.xAxisLabel" [max]="config.xScaleMax" [min]="config.xScaleMin" [yAxisLabel]="config.yAxisLabel">
            </ngx-charts-heat-map>
        
            <ngx-charts-tree-map *ngIf="chartType.key === eChartType.TreeMap" [scheme]="config.colorScheme" [gradient]="config.showGradient"
                [results]="results" [gradient]="config.showGradient">
            </ngx-charts-tree-map>
        
            <ngx-charts-number-card *ngIf="chartType.key === eChartType.Cards" [scheme]="config.colorScheme" [results]="results">
            </ngx-charts-number-card>
        
            <ngx-charts-gauge *ngIf="chartType.key === eChartType.Gauge" [scheme]="config.colorScheme" [results]="results"
                [showAxis]="config.showXAxis" [legend]="config.showLegend" [showAxis]="config.showXAxisLabel" [textValue]="config.xAxisLabel"
                [min]="config.xScaleMin" [max]="config.xScaleMax" [units]="config.yAxisLabel">
            </ngx-charts-gauge>
        
            <google-map *ngIf="chartType.key === eChartType.Map" [results]="results"></google-map>
        </div>
    </div>
</div>