<span *ngIf='privacyStatus == eDataPrivacyStatus.Internet' class="text-primary"><i  class="fa fa-lg fa-globe" title="This item sends data across the internet."></i></span>
<span *ngIf='privacyStatus == eDataPrivacyStatus.Lan' class="text-success"><i class="fa fa-lg fa-shield" title="This item sends data to the local network." ></i></span>
<span *ngIf='privacyStatus == eDataPrivacyStatus.Proxy' class="text-warning"><i class="fa fa-lg fa-info-circle" title="This item sends data through a proxy server." ></i></span>
<span *ngIf='privacyStatus == eDataPrivacyStatus.CustomUrl' class="text-success"><i class="fa fa-lg fa-info-circle" title="This item sends data via a custom url." ></i></span>
<span *ngIf='privacyStatus == eDataPrivacyStatus.NotAllowed' class="text-warning"><i class="fa fa-lg fa-stop-circle-o" title="This item is not allowed to send data." ></i></span>
