<!-- <d-button-dropdown *ngIf="user" 
    iconClass="fa fa-lg fa-fw fa-user" 
    buttonClass="nav-button text-success" 
    [text]="user.userName"
    [autoCompact]="false"
    >
    <a class="dropdown-item" (click)="manageUser()"><i class="fa fa-user"></i> Update Details</a>
    <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
</d-button-dropdown>
<d-button *ngIf="!user"
    (click)="login()"
    iconClass="fa fa-lg fa-fw fa-user" 
    buttonClass="nav-button text-danger" 
>
Login
</d-button> -->

<menu-parent *ngIf="user"  [name]="user.userName" title="User Options" iconClass="fa fa-lg fa-fw fa-user" textClass="text-success">
    <li class="nav-item">
        <a class="nav-link" (click)="manageUser(hub)"><i class="fa fa-user"></i> Update Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="logout(hub)"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
</menu-parent>
<d-button *ngIf="!user"
    (click)="login()"
    iconClass="fa fa-lg fa-fw fa-user" 
    buttonClass="nav-button text-danger" 
>
Login
</d-button>
