<div class="container-fluid">
    <d-widget title="Raised Issues" 
        iconClass="fa fa-lg fa-fw fa-life-saver" 
		[showCloseButton]="true"
		(close)="close()"
    >
<support-options [isExpanded]="true"></support-options>


<d-widget-section title="Current Support Issues" [padding]="false">
		<d-table 
			[enableMultiSelect]="true"
			[enableStickyToolbar]="true"  [toolbarZIndex]="100"
			[columns]="columns"
			[dataObservable]="tableData"
			(rowClick)="edit($event)"
			>
				<ng-template #selectedItemAction select="selectedItemAction" let-item="item">
					<d-button-edit class="mr-1" [routerLink]="['edit', item.key]" queryParamsHandling preserveFragment class="mr-1"></d-button-edit>
				</ng-template>

				<ng-template #selectedItemsAction select="selectedItemsAction" let-items="items">
					<d-button-delete (click)="delete(items)"></d-button-delete>
				</ng-template>

				<ng-template #actions let-items="items">
					<d-button-new class="mr-1" [routerLink]="['new']"></d-button-new>
				</ng-template>
		</d-table>
	</d-widget-section>
    </d-widget>
</div>

