<d-widget-section title='Properties' [showExpandButton]="true">
    <form *ngIf="datalinkForm" [formGroup]="datalinkForm">
        <fieldset>
            <section>
                <form-select label="Datalink Type" formControlName="datalinkType" [items]="eDatalinkTypeItems" itemKey="key" itemName="description" iconClass="fa fa-database"
                    note='Categorize the type of function this datalink is performing.' [enableFilter]="false">
                </form-select>
            </section>

            <section>
                <form-input label="Datalink Name" formControlName="name" placeholder="Enter the datalink name." iconClass="fa fa-list" [autocapitalize]="true" [errors]="editDatalinkService.hubFormsService.formErrors.name">
                </form-input>
            </section>

            <section>
                <form-textarea label="Description" [showPreview]="true" [isHidden]="true" formControlName="description" placeholder="Enter the description."
                    [errors]="editDatalinkService.hubFormsService.formErrors.description">
                </form-textarea>
            </section>

            <section>
                <form-select label="Alerting Level" formControlName="alertLevel" [items]="eAlertLevelItems"
                    itemKey="key" itemName="description" iconClass="fa fa-bell"
                    [errors]="editDatalinkService.hubFormsService.formErrors.alertLevel" note="When alerts should be sent."
                    [enableFilter]="false">
                </form-select>
            </section>
            
            <section>
                <form-checkbox label="Datalink is shared in the catalog to users with read access." formControlName="isShared">
                </form-checkbox>
            </section>

        </fieldset>
    </form>

</d-widget-section> 

<d-widget-section title='Input Parameters' [showExpandButton]="true">
    <input-parameters [showEdit]="true" [parameters]="datalinkForm.controls.parameters" [formsService]="editDatalinkService.hubFormsService"></input-parameters>
</d-widget-section>